<div>
    <h1>Baldur's Gate Acolyte</h1>
    <p>Source: BGDIA</p>
    <p>Page: 202</p>
    name: Baldur's Gate Acolyte<br/>
    source: BGDIA<br/>
    page: 202<br/>
    additionalSources: [{'source': 'PHB', 'page': 127}]<br/>
    _copy: {'name': 'Acolyte', 'source': 'PHB', '_mod': {'entries': {'mode': 'insertArr', 'index': 2, 'items': {'name': "Baldur's Gate Feature: Religious Community", 'type': 'entries', 'entries': ["{@note The effects of a Baldur's Gate feature can be used only while the character is in Baldur's Gate—though, at the DM's discretion, they might have applicable effects in situations similar to those in Baldur's Gate.}", "You're tightly connected with the religious community of Baldur's Gate. You know if a deity has a following in the city and any places that faith openly congregates and the neighborhoods those faithful typically inhabit. While this isn't remarkable for most of the city's larger faiths, keeping track of the hundreds of religions newcomers bring with them is no mean feat."], 'data': {'isFeature': True}}}}}<br/>
    hasFluff: True<br/>
</div>