<div>
    <h1>Baldur's Gate Sage</h1>
    <p>Source: BGDIA</p>
    <p>Page: 204</p>
    name: Baldur's Gate Sage<br/>
    source: BGDIA<br/>
    page: 204<br/>
    additionalSources: [{'source': 'PHB', 'page': 137}]<br/>
    _copy: {'name': 'Sage', 'source': 'PHB', '_mod': {'entries': {'mode': 'insertArr', 'index': 2, 'items': {'name': "Baldur's Gate Feature: Rumor Monger", 'type': 'entries', 'entries': ["{@note The effects of a Baldur's Gate feature can be used only while the character is in Baldur's Gate—though, at the DM's discretion, they might have applicable effects in situations similar to those in Baldur's Gate.}", "Via your personal rumor mill and articles published in Baldur's Mouth, you can surmise a great deal about Baldurians' secrets—who's practicing necromancy, who's involved in spying or smuggling, who would purchase or craft dangerous magical wares without batting an eyelash. Whenever a noteworthy crime or mysterious happening occurs in the city, you immediately have a list of 1d4 suspects who, if they aren't involved, have a strong chance of knowing who is."], 'data': {'isFeature': True}}}}}<br/>
    hasFluff: True<br/>
</div>