<div>
    <h1>Variant Sailor (Pirate)</h1>
    <p>Source: PHB</p>
    <p>Page: 139</p>
    name: Variant Sailor (Pirate)<br/>
    source: PHB<br/>
    page: 139<br/>
    _copy: {'name': 'Sailor', 'source': 'PHB', '_mod': {'entries': {'mode': 'replaceArr', 'replace': "Feature: Ship's Passage", 'items': {'name': 'Feature: Bad Reputation', 'type': 'entries', 'entries': ['No matter where you go, people are afraid of you due to your reputation. When you are in a civilized settlement, you can get away with minor criminal offenses, such as refusing to pay for food at a tavern or breaking down doors at a local shop, since most people will not report your activity to the authorities.'], 'data': {'isFeature': True}}}}}<br/>
    hasFluff: True<br/>
</div>