<div>
    <h1>Variant Clasp Member (Myriad Operative)</h1>
    <p>Source: TDCSR</p>
    <p>Page: 182</p>
    name: Variant Clasp Member (Myriad Operative)<br/>
    source: TDCSR<br/>
    page: 182<br/>
    _copy: {'name': 'Clasp Member', 'source': 'TDCSR', '_mod': {'entries': [{'mode': 'insertArr', 'index': 1, 'items': {'type': 'entries', 'name': 'Variant: Myriad Operative', 'page': 182, 'entries': ["Your skill set might be similar to that of many members of the {@book Clasp|TDCSR|2|The Clasp}, but you work for a criminal organization that is far more sophisticated—and even less scrupulous. As a {@book Myriad|TDCSR|2|The Myriad} operative in Tal'Dorei, you might have been given a specific task that furthers that syndicate's hunger to expand beyond Wildemount, or which gives them an edge in their rivalry with the {@book Clasp|TDCSR|2|The Clasp}. Moreover, you understand the wisdom of keeping your activities secret from fellow criminals as well as law enforcement, since the agents of the {@book Clasp|TDCSR|2|The Clasp} will show you no mercy if your true identity is ever revealed."]}}]}}<br/>
</div>