<div>
    Key: name, Value: Aarakocra<br/>
    Key: source, Value: DMG<br/>
    Key: page, Value: 282<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: {'walk': 20, 'fly': 50}<br/>
    Key: ability, Value: [{'dex': 2, 'wis': 2}]<br/>
    Key: traitTags, Value: ['Natural Weapon', 'NPC Race']<br/>
    Key: languageProficiencies, Value: [{'auran': True}]<br/>
    Key: entries, Value: [{'name': 'Dive Attack', 'entries': ['If you are flying and dive at least 30 ft. straight toward a target and then hit it with a melee weapon attack, the attack deals an extra 1d6 damage to the target.'], 'type': 'entries'}, {'name': 'Talons', 'entries': ['You are proficient with your unarmed strikes, which deal {@damage 1d4} slashing damage on a hit.'], 'type': 'entries'}, {'name': 'Language', 'entries': ['You can speak, read, and write Auran.'], 'type': 'entries'}]<br/>
</div>