    Key: name, Value: Genasi<br/>
    Key: source, Value: EEPC<br/>
    Key: page, Value: 9<br/>
    Key: additionalSources, Value: [{'source': 'EGW', 'page': 170}]<br/>
    Key: otherSources, Value: [{'source': 'EGW', 'page': 170}]<br/>
    Key: reprintedAs, Value: ['Genasi|MPMM']<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: 30<br/>
    Key: ability, Value: [{'con': 2}]<br/>
    Key: heightAndWeight, Value: {'baseHeight': 56, 'heightMod': '2d10', 'baseWeight': 110, 'weightMod': '2d4'}<br/>
    Key: age, Value: {'mature': 20, 'max': 120}<br/>
    Key: languageProficiencies, Value: [{'common': True, 'primordial': True}]<br/>
    Key: soundClip, Value: {'type': 'internal', 'path': 'races/genasi.mp3'}<br/>
    Key: entries, Value: [{'name': 'Age', 'type': 'entries', 'entries': ['Genasi mature at about the same rate as humans and reach adulthood in their late teens. They live somewhat longer than humans do, up to 120 years.']}, {'name': 'Alignment', 'type': 'entries', 'entries': ['Independent and self-reliant, genasi tend toward a neutral alignment.']}, {'type': 'entries', 'name': 'Size', 'entries': ['Genasi are as varied as their mortal parents but are generally built like humans, standing anywhere from 5 feet to over 6 feet tall. Your size is Medium.']}, {'name': 'Languages', 'entries': ['You can speak, read, and write Common and Primordial. Primordial is a guttural language, filled with harsh syllables and hard consonants.'], 'type': 'entries'}]<br/>
    Key: hasFluff, Value: True<br/>
    Key: hasFluffImages, Value: True<br/>