<div>
    Key: name, Value: Genasi<br/>
    Key: source, Value: MPMM<br/>
    Key: page, Value: 16<br/>
    Key: lineage, Value: VRGR<br/>
    Key: size, Value: ['S', 'M']<br/>
    Key: speed, Value: 30<br/>
    Key: age, Value: {'max': 120}<br/>
    Key: darkvision, Value: 60<br/>
    Key: entries, Value: [{'type': 'entries', 'name': 'Size', 'entries': ['You are Medium or Small. You choose the size when you select this race.']}, {'type': 'entries', 'name': 'Darkvision', 'entries': ['You can see in dim light within 60 feet of you as if it were bright light and in darkness as if it were dim light. You discern colors in that darkness only as shades of gray.']}]<br/>
    Key: hasFluff, Value: True<br/>
    Key: hasFluffImages, Value: True<br/>
</div>