    Key: name, Value: Gith<br/>
    Key: source, Value: MTF<br/>
    Key: page, Value: 96<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: 30<br/>
    Key: ability, Value: [{'int': 1}]<br/>
    Key: age, Value: {'mature': 20, 'max': 100}<br/>
    Key: languageProficiencies, Value: [{'common': True, 'other': True}]<br/>
    Key: entries, Value: [{'name': 'Age', 'type': 'entries', 'entries': ['Gith reach adulthood in their late teens and live for about a century.']}, {'name': 'Size', 'type': 'entries', 'entries': ['Gith are taller and leaner than humans, with most a slender 6 feet in height.']}, {'name': 'Languages', 'entries': ['You can speak, read, and write Common and Gith.'], 'type': 'entries'}]<br/>
    Key: hasFluff, Value: True<br/>