    Key: name, Value: Goblin (Dankwood)<br/>
    Key: source, Value: AWM<br/>
    Key: page, Value: 35<br/>
    Key: _copy, Value: {'name': 'Goblin', 'source': 'VGM', '_mod': {'entries': [{'mode': 'appendArr', 'items': {'name': 'Alignment', 'type': 'entries', 'entries': ['Dankwood goblins are typically neutral or neutral good, though some mischievous dankwood goblins are chaotic neutral.']}}, {'mode': 'replaceArr', 'replace': 'Fury of the Small', 'items': {'name': 'Speak with Small Beasts', 'type': 'entries', 'entries': ['Through sounds and gestures, you can communicate simple ideas with Small or smaller beasts. Dankwood goblins love animals and often keep squirrels, badgers, rabbits, moles, woodpeckers, and other creatures as beloved pets.']}}]}, '_preserve': {'reprintedAs': True}}<br/>
    Key: ability, Value: [{'dex': 2, 'wis': 1}]<br/>
    Key: heightAndWeight, Value: None<br/>
    Key: hasFluff, Value: True<br/>