    Key: name, Value: Goblin<br/>
    Key: source, Value: ERLW<br/>
    Key: page, Value: 26<br/>
    Key: _copy, Value: {'name': 'Goblin', 'source': 'VGM', '_mod': {'entries': [{'mode': 'appendArr', 'items': {'name': 'Alignment', 'type': 'entries', 'entries': ['In Eberron, goblins are usually neutral. They tend to look out for themselves, preferably without drawing unwanted attention from any larger, more powerful people.']}}, {'mode': 'replaceArr', 'replace': 'Size', 'items': {'name': 'Size', 'type': 'entries', 'entries': ['Your size is Small.']}}]}, '_preserve': {'reprintedAs': True}}<br/>
    Key: size, Value: ['S']<br/>
    Key: traitTags, Value: None<br/>
    Key: hasFluffImages, Value: True<br/>