<div>
    Key: name, Value: Grimlock<br/>
    Key: source, Value: DMG<br/>
    Key: page, Value: 282<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: 30<br/>
    Key: ability, Value: [{'str': 2, 'cha': -2}]<br/>
    Key: blindsight, Value: 30<br/>
    Key: traitTags, Value: ['NPC Race']<br/>
    Key: languageProficiencies, Value: [{'undercommon': True}]<br/>
    Key: entries, Value: [{'name': 'Blindsight', 'entries': ['You have no eyes, and cannot be {@condition blinded}. You can perceive your surroundings within 30 ft., or 10 ft. while {@condition deafened}. You are considered blind beyond this radius.'], 'type': 'entries'}, {'type': 'entries', 'name': 'Keen Hearing and Smell', 'entries': ['You have advantage on Wisdom ({@skill Perception}) checks that rely on hearing or smell.']}, {'type': 'entries', 'name': 'Stone Camouflage', 'entries': ['You have advantage on Dexterity ({@skill Stealth}) checks made to hide in rocky terrain.']}, {'name': 'Languages', 'entries': ['You can speak, read, and write Undercommon.'], 'type': 'entries'}]<br/>
</div>