<div>
    Key: name, Value: Hobgoblin<br/>
    Key: source, Value: DMG<br/>
    Key: page, Value: 282<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: 30<br/>
    Key: darkvision, Value: 60<br/>
    Key: traitTags, Value: ['NPC Race']<br/>
    Key: languageProficiencies, Value: [{'common': True, 'goblin': True}]<br/>
    Key: entries, Value: [{'type': 'entries', 'name': 'Martial Advantage', 'entries': ["Once per turn, you can deal an extra 2d6 damage to a creature you hit with a weapon attack if that creature is within 5 ft. of an ally of yours that isn't {@condition incapacitated}."]}, {'name': 'Darkvision', 'entries': ["You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray."], 'type': 'entries'}, {'name': 'Languages', 'entries': ['You can speak, read, and write Common and Goblin.'], 'type': 'entries'}]<br/>
</div>