<div>
    Key: name, Value: Human (Innistrad)<br/>
    Key: source, Value: PSI<br/>
    Key: page, Value: 8<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: 30<br/>
    Key: age, Value: {'mature': 20, 'max': 100}<br/>
    Key: languageProficiencies, Value: [{'common': True, 'anyStandard': 1}]<br/>
    Key: entries, Value: [{'name': 'Age', 'type': 'entries', 'entries': ['Humans reach adulthood in their late teens and live less than a century.']}, {'name': 'Alignment', 'type': 'entries', 'entries': ['Humans tend toward no particular alignment.']}, {'type': 'entries', 'name': 'Size', 'entries': ['Humans vary widely in height and build, from barely 5 feet to well over 6 feet tall. Regardless of your position in that range, your size is Medium.']}, {'name': 'Languages', 'entries': ['You can speak, read, and write Common and one extra language of your choice.'], 'type': 'entries'}]<br/>
    Key: hasFluff, Value: True<br/>
    Key: hasFluffImages, Value: True<br/>
</div>