    Key: name, Value: Kenku<br/>
    Key: source, Value: DMG<br/>
    Key: page, Value: 282<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: 30<br/>
    Key: ability, Value: [{'dex': 2}]<br/>
    Key: darkvision, Value: 60<br/>
    Key: traitTags, Value: ['NPC Race']<br/>
    Key: languageProficiencies, Value: [{'common': True, 'auran': True}]<br/>
    Key: soundClip, Value: {'type': 'internal', 'path': 'races/kenku.mp3'}<br/>
    Key: entries, Value: [{'name': 'Ambusher', 'entries': ['In the first round of a combat, you have advantage on attack rolls against any creature who is {@quickref Surprise|PHB|3|0|surprised}.'], 'type': 'entries'}, {'name': 'Mimicry', 'entries': ['You can mimic any sounds you have heard, including voices. A creature that hears the sounds can tell they are imitations with a successful DC 14 Wisdom ({@skill Insight}) check.'], 'type': 'entries'}, {'name': 'Languages', 'entries': ['You can read and write Common and Auran, but you can only speak using your Mimicry trait.'], 'type': 'entries'}]<br/>