<div>
    Key: name, Value: Kobold<br/>
    Key: source, Value: DMG<br/>
    Key: page, Value: 282<br/>
    Key: size, Value: ['S']<br/>
    Key: speed, Value: 30<br/>
    Key: ability, Value: [{'dex': 2, 'str': -4}]<br/>
    Key: darkvision, Value: 60<br/>
    Key: traitTags, Value: ['NPC Race', 'Sunlight Sensitivity']<br/>
    Key: languageProficiencies, Value: [{'common': True, 'draconic': True}]<br/>
    Key: entries, Value: [{'name': 'Pack Tactics', 'entries': ["You have advantage on an attack roll against a creature if at least one of your allies is within 5 feet of the creature and the ally isn't {@condition incapacitated}."], 'type': 'entries'}, {'name': 'Sunlight Sensitivity', 'entries': ['You have disadvantage on attack rolls and on Wisdom ({@skill Perception}) checks that rely on sight when you, the target of your attack, or whatever you are trying to perceive is in direct sunlight.'], 'type': 'entries'}, {'name': 'Darkvision', 'entries': ["Accustomed to life underground, you have superior vision in dark and dim conditions. You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray."], 'type': 'entries'}, {'name': 'Languages', 'entries': ['You can speak, read, and write Common and Draconic.'], 'type': 'entries'}]<br/>
</div>