<div>
    Key: name, Value: Lizardfolk<br/>
    Key: source, Value: DMG<br/>
    Key: page, Value: 282<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: {'walk': 30, 'swim': 30}<br/>
    Key: ability, Value: [{'str': 2, 'int': -2}]<br/>
    Key: traitTags, Value: ['Natural Armor', 'NPC Race']<br/>
    Key: languageProficiencies, Value: [{'draconic': True}]<br/>
    Key: entries, Value: [{'name': 'Hold Breath', 'entries': ['You can hold your breath for up to 15 minutes at a time.'], 'type': 'entries'}, {'name': 'Natural Armor', 'entries': ['Your scales function as natural armor, granting you a +3 bonus to Armor Class.'], 'type': 'entries'}, {'name': 'Languages', 'entries': ['You can speak, read, and write Draconic.'], 'type': 'entries'}]<br/>
</div>