<label for="raceSelect" class="form-control-lg">Choose a race:</label>
<select id="raceSelect" 
    multiple size="15" 
    class="form-select form-select-lg mb-3" 
    aria-label="select race" 
    hx-get="/components/races/<raceSelect>.html"
    hx-target="#race-description-container"
    name="raceSelect">     
            <option value="Aarakocra-DMG">Aarakocra-DMG</option>
            <option value="Aarakocra-EEPC">Aarakocra-EEPC</option>
            <option value="Aarakocra-MPMM">Aarakocra-MPMM</option>
            <option value="Aasimar-DMG">Aasimar-DMG</option>
            <option value="Aasimar-MPMM">Aasimar-MPMM</option>
            <option value="Aasimar-VGM">Aasimar-VGM</option>
            <option value="Aetherborn-PSK">Aetherborn-PSK</option>
            <option value="Astral Elf-AAG">Astral Elf-AAG</option>
            <option value="Autognome-AAG">Autognome-AAG</option>
            <option value="Aven-PSA">Aven-PSA</option>
            <option value="Aven-PSD">Aven-PSD</option>
            <option value="Bugbear-ERLW">Bugbear-ERLW</option>
            <option value="Bugbear-MPMM">Bugbear-MPMM</option>
            <option value="Bugbear-VGM">Bugbear-VGM</option>
            <option value="Bullywug-DMG">Bullywug-DMG</option>
            <option value="Centaur-GGR">Centaur-GGR</option>
            <option value="Centaur-MOT">Centaur-MOT</option>
            <option value="Centaur-MPMM">Centaur-MPMM</option>
            <option value="Changeling-ERLW">Changeling-ERLW</option>
            <option value="Changeling-MPMM">Changeling-MPMM</option>
            <option value="Custom Lineage-TCE">Custom Lineage-TCE</option>
            <option value="Deep Gnome-MPMM">Deep Gnome-MPMM</option>
            <option value="Dhampir-VRGR">Dhampir-VRGR</option>
            <option value="Dragonborn (Chromatic)-FTD">Dragonborn (Chromatic)-FTD</option>
            <option value="Dragonborn (Gem)-FTD">Dragonborn (Gem)-FTD</option>
            <option value="Dragonborn (Metallic)-FTD">Dragonborn (Metallic)-FTD</option>
            <option value="Dragonborn-PHB">Dragonborn-PHB</option>
            <option value="Duergar-MPMM">Duergar-MPMM</option>
            <option value="Dwarf (Kaladesh)-PSK">Dwarf (Kaladesh)-PSK</option>
            <option value="Dwarf-PHB">Dwarf-PHB</option>
            <option value="Eladrin-MPMM">Eladrin-MPMM</option>
            <option value="Elf (Kaladesh)-PSK">Elf (Kaladesh)-PSK</option>
            <option value="Elf (Zendikar)-PSZ">Elf (Zendikar)-PSZ</option>
            <option value="Elf-PHB">Elf-PHB</option>
            <option value="Fairy-MPMM">Fairy-MPMM</option>
            <option value="Fairy-WBtW">Fairy-WBtW</option>
            <option value="Firbolg-MPMM">Firbolg-MPMM</option>
            <option value="Firbolg-VGM">Firbolg-VGM</option>
            <option value="Genasi-EEPC">Genasi-EEPC</option>
            <option value="Genasi-MPMM">Genasi-MPMM</option>
            <option value="Giff-AAG">Giff-AAG</option>
            <option value="Gith-MTF">Gith-MTF</option>
            <option value="Githyanki-MPMM">Githyanki-MPMM</option>
            <option value="Githzerai-MPMM">Githzerai-MPMM</option>
            <option value="Gnoll-DMG">Gnoll-DMG</option>
            <option value="Gnome (Deep)-DMG">Gnome (Deep)-DMG</option>
            <option value="Gnome-PHB">Gnome-PHB</option>
            <option value="Goblin (Dankwood)-AWM">Goblin (Dankwood)-AWM</option>
            <option value="Goblin-DMG">Goblin-DMG</option>
            <option value="Goblin-ERLW">Goblin-ERLW</option>
            <option value="Goblin-GGR">Goblin-GGR</option>
            <option value="Goblin-MPMM">Goblin-MPMM</option>
            <option value="Goblin-PSZ">Goblin-PSZ</option>
            <option value="Goblin-VGM">Goblin-VGM</option>
            <option value="Goliath-MPMM">Goliath-MPMM</option>
            <option value="Goliath-VGM">Goliath-VGM</option>
            <option value="Grimlock-DMG">Grimlock-DMG</option>
            <option value="Grung-OGA">Grung-OGA</option>
            <option value="Hadozee-AAG">Hadozee-AAG</option>
            <option value="Half-Elf-PHB">Half-Elf-PHB</option>
            <option value="Half-Orc-PHB">Half-Orc-PHB</option>
            <option value="Halfling-PHB">Halfling-PHB</option>
            <option value="Harengon-MPMM">Harengon-MPMM</option>
            <option value="Harengon-WBtW">Harengon-WBtW</option>
            <option value="Hexblood-VRGR">Hexblood-VRGR</option>
            <option value="Hobgoblin-DMG">Hobgoblin-DMG</option>
            <option value="Hobgoblin-ERLW">Hobgoblin-ERLW</option>
            <option value="Hobgoblin-MPMM">Hobgoblin-MPMM</option>
            <option value="Hobgoblin-VGM">Hobgoblin-VGM</option>
            <option value="Human (Amonkhet)-PSA">Human (Amonkhet)-PSA</option>
            <option value="Human (Innistrad)-PSI">Human (Innistrad)-PSI</option>
            <option value="Human (Ixalan)-PSX">Human (Ixalan)-PSX</option>
            <option value="Human (Kaladesh)-PSK">Human (Kaladesh)-PSK</option>
            <option value="Human (Zendikar)-PSZ">Human (Zendikar)-PSZ</option>
            <option value="Human-PHB">Human-PHB</option>
            <option value="Kalashtar-ERLW">Kalashtar-ERLW</option>
            <option value="Kender-DSotDQ">Kender-DSotDQ</option>
            <option value="Kenku-DMG">Kenku-DMG</option>
            <option value="Kenku-MPMM">Kenku-MPMM</option>
            <option value="Kenku-VGM">Kenku-VGM</option>
            <option value="Khenra-PSA">Khenra-PSA</option>
            <option value="Kobold-DMG">Kobold-DMG</option>
            <option value="Kobold-MPMM">Kobold-MPMM</option>
            <option value="Kobold-VGM">Kobold-VGM</option>
            <option value="Kor-PSZ">Kor-PSZ</option>
            <option value="Kuo-Toa-DMG">Kuo-Toa-DMG</option>
            <option value="Leonin-MOT">Leonin-MOT</option>
            <option value="Lizardfolk-DMG">Lizardfolk-DMG</option>
            <option value="Lizardfolk-MPMM">Lizardfolk-MPMM</option>
            <option value="Lizardfolk-VGM">Lizardfolk-VGM</option>
            <option value="Locathah-LR">Locathah-LR</option>
            <option value="Loxodon-GGR">Loxodon-GGR</option>
            <option value="Merfolk-DMG">Merfolk-DMG</option>
            <option value="Merfolk-PSZ">Merfolk-PSZ</option>
            <option value="Minotaur (Amonkhet)-PSA">Minotaur (Amonkhet)-PSA</option>
            <option value="Minotaur-GGR">Minotaur-GGR</option>
            <option value="Minotaur-MOT">Minotaur-MOT</option>
            <option value="Minotaur-MPMM">Minotaur-MPMM</option>
            <option value="Naga-PSA">Naga-PSA</option>
            <option value="Orc (Ixalan)-PSX">Orc (Ixalan)-PSX</option>
            <option value="Orc-DMG">Orc-DMG</option>
            <option value="Orc-EGW">Orc-EGW</option>
            <option value="Orc-ERLW">Orc-ERLW</option>
            <option value="Orc-MPMM">Orc-MPMM</option>
            <option value="Orc-VGM">Orc-VGM</option>
            <option value="Owlin-SCC">Owlin-SCC</option>
            <option value="Plasmoid-AAG">Plasmoid-AAG</option>
            <option value="Reborn-VRGR">Reborn-VRGR</option>
            <option value="Satyr-MOT">Satyr-MOT</option>
            <option value="Satyr-MPMM">Satyr-MPMM</option>
            <option value="Sea Elf-MPMM">Sea Elf-MPMM</option>
            <option value="Shadar-Kai-MPMM">Shadar-Kai-MPMM</option>
            <option value="Shifter-ERLW">Shifter-ERLW</option>
            <option value="Shifter-MPMM">Shifter-MPMM</option>
            <option value="Simic Hybrid-GGR">Simic Hybrid-GGR</option>
            <option value="Siren-PSX">Siren-PSX</option>
            <option value="Skeleton-DMG">Skeleton-DMG</option>
            <option value="Tabaxi-MPMM">Tabaxi-MPMM</option>
            <option value="Tabaxi-VGM">Tabaxi-VGM</option>
            <option value="Thri-kreen-AAG">Thri-kreen-AAG</option>
            <option value="Tiefling-PHB">Tiefling-PHB</option>
            <option value="Tortle-MPMM">Tortle-MPMM</option>
            <option value="Tortle-TTP">Tortle-TTP</option>
            <option value="Triton-MOT">Triton-MOT</option>
            <option value="Triton-MPMM">Triton-MPMM</option>
            <option value="Triton-VGM">Triton-VGM</option>
            <option value="Troglodyte-DMG">Troglodyte-DMG</option>
            <option value="Vampire-PSZ">Vampire-PSZ</option>
            <option value="Vedalken-GGR">Vedalken-GGR</option>
            <option value="Vedalken-PSK">Vedalken-PSK</option>
            <option value="Verdan-AI">Verdan-AI</option>
            <option value="Warforged-ERLW">Warforged-ERLW</option>
            <option value="Yuan-ti Pureblood-VGM">Yuan-ti Pureblood-VGM</option>
            <option value="Yuan-Ti-MPMM">Yuan-Ti-MPMM</option>
            <option value="Zombie-DMG">Zombie-DMG</option>
        </select>