<div>
    Key: name, Value: Skeleton<br/>
    Key: source, Value: DMG<br/>
    Key: page, Value: 282<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: 30<br/>
    Key: ability, Value: [{'dex': 2, 'int': -4, 'cha': -4}]<br/>
    Key: darkvision, Value: 60<br/>
    Key: traitTags, Value: ['Improved Resting', 'NPC Race']<br/>
    Key: immune, Value: ['poison']<br/>
    Key: vulnerable, Value: ['bludgeoning']<br/>
    Key: conditionImmune, Value: ['exhaustion', 'poisoned']<br/>
    Key: entries, Value: [{'type': 'entries', 'name': 'Brittle Bones', 'entries': ['You are vulnerable to bludgeoning damage.']}, {'type': 'entries', 'name': 'Undead Nature', 'entries': ["You are immune to poison damage and {@condition exhaustion}, and you can't be {@condition poisoned}. You don't require air, food, drink, or sleep."]}, {'name': 'Darkvision', 'entries': ["You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray."], 'type': 'entries'}, {'name': 'Languages', 'entries': ["You can't speak, but you can understand the languages you knew in life."], 'type': 'entries'}]<br/>
</div>