<div>
    Key: name, Value: Zombie<br/>
    Key: source, Value: DMG<br/>
    Key: page, Value: 282<br/>
    Key: size, Value: ['M']<br/>
    Key: speed, Value: 30<br/>
    Key: ability, Value: [{'str': 1, 'con': 2, 'int': -6, 'wis': -4, 'cha': -4}]<br/>
    Key: darkvision, Value: 60<br/>
    Key: traitTags, Value: ['Improved Resting', 'NPC Race']<br/>
    Key: immune, Value: ['poison']<br/>
    Key: conditionImmune, Value: ['poisoned']<br/>
    Key: entries, Value: [{'type': 'entries', 'name': 'Undead Fortitude', 'entries': ['If damage reduces you to 0 hit points, you must make a Constitution saving throw with a DC of 5+the damage taken, unless the damage is radiant or from a critical hit. On a success, you drop to 1 hit point instead.']}, {'type': 'entries', 'name': 'Undead Nature', 'entries': ["You are immune to poison damage, and you can't be {@condition poisoned}. You don't require air, food, drink, or sleep."]}, {'name': 'Darkvision', 'entries': ["You can see in dim light within 60 feet of you as if it were bright light, and in darkness as if it were dim light. You can't discern color in darkness, only shades of gray."], 'type': 'entries'}, {'name': 'Languages', 'entries': ["You can't speak, but you can understand the languages you knew in life."], 'type': 'entries'}]<br/>
</div>