<div>
<h1>Athlete</h1>
    Key: name, Value: Athlete<br/>
    Key: source, Value: PHB<br/>
    Key: page, Value: 165<br/>
    Key: ability, Value: [{'choose': {'from': ['str', 'dex'], 'amount': 1}}]<br/>
    Key: entries, Value: ['You have undergone extensive physical training to gain the following benefits:', {'type': 'list', 'items': ['When you are {@condition prone}, standing up uses only 5 feet of your movement.', "Climbing doesn't cost you extra movement.", 'You can make a running long jump or a running high jump after moving only 5 feet on foot, rather than 10 feet.']}]<br/>
</div>