<div>
<h1>Dragon Fear</h1>
    Key: name, Value: Dragon Fear<br/>
    Key: source, Value: XGE<br/>
    Key: page, Value: 74<br/>
    Key: prerequisite, Value: [{'race': [{'name': 'dragonborn'}]}]<br/>
    Key: ability, Value: [{'choose': {'from': ['str', 'con', 'cha'], 'amount': 1}}]<br/>
    Key: entries, Value: ['When angered, you radiate menace. You gain the following benefits:', {'type': 'list', 'items': ["Instead of exhaling destructive energy, you can expend a use of your Breath Weapon trait to roar, forcing each creature of your choice within 30 feet of you to make a Wisdom saving throw (DC 8 + your proficiency bonus + your Charisma modifier). A target automatically succeeds on the save if it can't hear or see you. On a failed save, a target becomes {@condition frightened} of you for 1 minute. If the {@condition frightened} target takes any damage, it can repeat the saving throw, ending the effect on itself on a success."]}]<br/>
</div>