<div>
<h1>Elven Accuracy</h1>
    Key: name, Value: Elven Accuracy<br/>
    Key: source, Value: XGE<br/>
    Key: page, Value: 74<br/>
    Key: prerequisite, Value: [{'race': [{'name': 'elf'}, {'name': 'half-elf'}]}]<br/>
    Key: ability, Value: [{'choose': {'from': ['dex', 'int', 'wis', 'cha'], 'amount': 1}}]<br/>
    Key: entries, Value: ['The accuracy of elves is legendary, especially that of elf archers and spellcasters. You have uncanny aim with attacks that rely on precision rather than brute force. You gain the following benefits:', {'type': 'list', 'items': ['Whenever you have advantage on an attack roll using Dexterity, Intelligence, Wisdom, or Charisma, you can reroll one of the dice once.']}]<br/>
</div>