<div>
<h1>Fade Away</h1>
    Key: name, Value: Fade Away<br/>
    Key: source, Value: XGE<br/>
    Key: page, Value: 74<br/>
    Key: prerequisite, Value: [{'race': [{'name': 'gnome'}]}]<br/>
    Key: ability, Value: [{'choose': {'from': ['dex', 'int'], 'amount': 1}}]<br/>
    Key: entries, Value: ['Your people are clever, with a knack for illusion magic. You have learned a magical trick for fading away when you suffer harm. You gain the following benefits:', {'type': 'list', 'items': ["Immediately after you take damage, you can use a reaction to magically become {@condition invisible} until the end of your next turn or until you attack, deal damage, or force someone to make a saving throw. Once you use this ability, you can't do so again until you finish a short or long rest."]}]<br/>
</div>