<div>
<h1>Fighting Initiate</h1>
    Key: name, Value: Fighting Initiate<br/>
    Key: source, Value: TCE<br/>
    Key: page, Value: 80<br/>
    Key: prerequisite, Value: [{'proficiency': [{'weapon': 'martial'}]}]<br/>
    Key: optionalfeatureProgression, Value: [{'name': 'Fighting Style', 'featureType': ['FS:F'], 'progression': {'*': 1}}]<br/>
    Key: entries, Value: ['Your martial training has helped you develop a particular style of fighting. As a result, you learn one {@filter Fighting Style|optionalfeatures|Feature Type=FS:F} option of your choice from the fighter class. If you already have a style, the one you choose must be different.', "Whenever you reach a level that grants the Ability Score Improvement feature, you can replace this feat's fighting style with another one from the fighter class that you don't have."]<br/>
</div>