<div>
<h1>Gunner</h1>
    Key: name, Value: Gunner<br/>
    Key: source, Value: TCE<br/>
    Key: page, Value: 80<br/>
    Key: ability, Value: [{'dex': 1}]<br/>
    Key: weaponProficiencies, Value: [{'firearms': True}]<br/>
    Key: entries, Value: ['You have a quick hand and keen eye when employing firearms, granting you the following benefits:', {'type': 'list', 'items': ['You gain proficiency with firearms (see "{@variantrule Firearms|DMG}" in the Dungeon Master\'s Guide).', 'You ignore the loading property of firearms.', "Being within 5 feet of a hostile creature doesn't impose disadvantage on your ranged attack rolls."]}]<br/>
</div>