<div>
<h1>Linguist</h1>
    Key: name, Value: Linguist<br/>
    Key: source, Value: PHB<br/>
    Key: page, Value: 167<br/>
    Key: ability, Value: [{'int': 1}]<br/>
    Key: languageProficiencies, Value: [{'any': 3}]<br/>
    Key: entries, Value: ['You have studied languages and codes, gaining the following benefits:', {'type': 'list', 'items': ['You learn three languages of your choice.', "You can ably create written ciphers. Others can't decipher a code you create unless you teach them, they succeed on an Intelligence check (DC equal to your Intelligence score + your proficiency bonus), or they use magic to decipher it."]}]<br/>
</div>