<div>
<h1>Medium Armor Master</h1>
    Key: name, Value: Medium Armor Master<br/>
    Key: source, Value: PHB<br/>
    Key: page, Value: 168<br/>
    Key: prerequisite, Value: [{'proficiency': [{'armor': 'medium'}]}]<br/>
    Key: entries, Value: ['You have practiced moving in medium armor to gain the following benefits:', {'type': 'list', 'items': ["Wearing medium armor doesn't impose disadvantage on your Dexterity ({@skill Stealth}) checks.", 'When you wear medium armor, you can add 3, rather than 2, to your AC if you have a Dexterity of 16 or higher.']}]<br/>
</div>