<div>
<h1>Metamagic Adept</h1>
    Key: name, Value: Metamagic Adept<br/>
    Key: source, Value: TCE<br/>
    Key: page, Value: 80<br/>
    Key: prerequisite, Value: [{'spellcasting2020': True}]<br/>
    Key: optionalfeatureProgression, Value: [{'name': 'Metamagic', 'featureType': ['MM'], 'progression': {'*': 2}}]<br/>
    Key: entries, Value: ["You've learned how to exert your will on your spells to alter how they function:", {'type': 'list', 'items': ['You learn two {@filter Metamagic|optionalfeatures|Feature Type=MM} options of your choice from the sorcerer class. You can use only one Metamagic option on a spell when you cast it, unless the option says otherwise. Whenever you reach a level that grants the Ability Score Improvement feature, you can replace one of these Metamagic options with another one from the sorcerer class.', 'You gain 2 sorcery points to spend on Metamagic (these points are added to any sorcery points you have from another source but can be used only on Metamagic). You regain all spent sorcery points when you finish a long rest.']}]<br/>
</div>