<div>
<h1>Mystic Conflux</h1>
    Key: name, Value: Mystic Conflux<br/>
    Key: source, Value: TDCSR<br/>
    Key: page, Value: 190<br/>
    Key: additionalSpells, Value: [{'innate': {'_': {'daily': {'1e': ['identify']}}}}]<br/>
    Key: entries, Value: ['You possess an intuitive understanding of the way magic ebbs and flows within enchanted items. Such items attune easily to you, and you are able to sound out their secrets. You gain the following benefits:', {'type': 'list', 'items': ['You can attune to up to four magic items at once.', 'You can cast the {@spell identify} spell without expending a spell slot or material components. You must finish a {@quickref resting|PHB|2|0|long rest} before you can do so again.']}]<br/>
</div>