<div>
<h1>Piercer</h1>
    Key: name, Value: Piercer<br/>
    Key: source, Value: TCE<br/>
    Key: page, Value: 80<br/>
    Key: ability, Value: [{'choose': {'from': ['str', 'dex'], 'amount': 1}}]<br/>
    Key: entries, Value: ['You have achieved a penetrating precision in combat, granting you the following benefits:', {'type': 'list', 'items': ["Once per turn, when you hit a creature with an attack that deals piercing damage, you can reroll one of the attack's damage dice, and you must use the new roll.", 'When you score a critical hit that deals piercing damage to a creature, you can roll one additional damage die when determining the extra piercing damage the target takes.']}]<br/>
</div>