<div>
<h1>Resilient</h1>
    Key: name, Value: Resilient<br/>
    Key: source, Value: PHB<br/>
    Key: page, Value: 168<br/>
    Key: ability, Value: [{'choose': {'from': ['str', 'dex', 'con', 'int', 'wis', 'cha'], 'amount': 1, 'entry': 'Increase the chosen ability score by 1, to a maximum of 20.'}}]<br/>
    Key: savingThrowProficiencies, Value: [{'choose': {'from': ['str', 'dex', 'con', 'int', 'wis', 'cha']}}]<br/>
    Key: entries, Value: ['Choose one ability score. You gain the following benefits:', {'type': 'list', 'items': ['You gain proficiency in saving throws using the chosen ability.']}]<br/>
</div>