<div>
<h1>Servo Crafting</h1>
    Key: name, Value: Servo Crafting<br/>
    Key: source, Value: PSK<br/>
    Key: page, Value: 13<br/>
    Key: prerequisite, Value: [{'ability': [{'int': 13}]}]<br/>
    Key: additionalSpells, Value: [{'innate': {'_': {'ritual': ['find familiar']}}}]<br/>
    Key: entries, Value: ['You are skilled in the creation of {@creature servo|psk|servos}—tiny constructs that function as personal assistants. You can cast the {@spell find familiar} spell as a ritual, creating a {@creature servo|psk} to serve as your familiar instead of an animal. A {@creature servo|psk}\'s statistics appear in the "Artifact Creatures" section of this document. In every other way, a servo familiar functions as described in the {@spell find familiar} spell.', 'You can communicate telepathically with your servo familiar and perceive through its senses as long as you are on the same plane of existence. You can speak through your servo in your own voice.', 'Additionally, when you take the {@action Attack} action, you can forgo one of your own attacks to allow your servo familiar to make one attack of its own.']<br/>
    Key: hasFluffImages, Value: True<br/>
</div>