<div>
<h1>Squat Nimbleness</h1>
    Key: name, Value: Squat Nimbleness<br/>
    Key: source, Value: XGE<br/>
    Key: page, Value: 75<br/>
    Key: prerequisite, Value: [{'race': [{'name': 'dwarf'}, {'name': 'small race', 'displayEntry': 'a Small race'}]}]<br/>
    Key: ability, Value: [{'choose': {'from': ['str', 'dex'], 'amount': 1}}]<br/>
    Key: skillProficiencies, Value: [{'choose': {'from': ['acrobatics', 'athletics']}}]<br/>
    Key: entries, Value: ['You are uncommonly nimble for your race. You gain the following benefits:', {'type': 'list', 'items': ['Increase your walking speed by 5 feet.', 'You gain proficiency in the {@skill Acrobatics} or {@skill Athletics} skill (your choice).', 'You have advantage on any Strength ({@skill Athletics}) or Dexterity ({@skill Acrobatics}) check you make to escape from being {@condition grappled}.']}]<br/>
</div>