<div>
<h1>Weapon Master</h1>
    Key: name, Value: Weapon Master<br/>
    Key: source, Value: PHB<br/>
    Key: page, Value: 170<br/>
    Key: ability, Value: [{'choose': {'from': ['str', 'dex'], 'amount': 1}}]<br/>
    Key: weaponProficiencies, Value: [{'choose': {'fromFilter': 'type=martial weapon;mundane weapon|miscellaneous=mundane', 'count': 4}}]<br/>
    Key: entries, Value: ['You have practiced extensively with a variety of weapons, gaining the following benefits:', {'type': 'list', 'items': ['You gain proficiency with four weapons of your choice. Each one must be a simple or a martial weapon.']}]<br/>
</div>