---
processor: [
    jinja_parser, 
    remove_blank_lines
]
jinja_parser:
    custom_filter_files: ".geraldine/custom_filters/custom_jinja_filters.py"
    json_project_path: /geri_dist/data/classes/all_classes.json
---


[
    {% for item in data %}
     "{{ item.class.0.name }}"{{ "," if not loop.last }}
    {% endfor %}
]