body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-y: auto;
  display: flex;
}
.main-section{
  border-bottom: solid 1px grey;
}
h2 {
  margin: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.simpleTable {
  border: 1px solid black;
  border-collapse: collapse;

  td, th {
      border: 1px solid black;
      padding: 5px;
  }
}
.preModified {
      max-width: 100%;       /* Limit the width to 100% of the parent container */
      overflow-x: auto;      /* Enable horizontal scrolling if content overflows */
      white-space: pre-wrap; /* Wrap text to next line if it's too long */
      word-wrap: break-word; /* Break words if necessary to prevent overflow */
}