---
processor: [
    jinja_parser, 
    remove_blank_lines
]
jinja_parser:
    custom_filter_files: ".geraldine/custom_filters/custom_jinja_filters.py"
    json_file_project_path: /geri_src/5e_tools_data/skills.json
---


[
    {% for item in skill %}
     "{{ item.name | replace(" ", "_")}}"{{ "," if not loop.last }}
    {% endfor %}
]
