<h1>Artificer</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> TCE, Page: 9</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> con, int</p>
<p><strong>Spellcasting Ability:</strong> int</p>
<p><strong>Caster Progression:</strong> artificer</p>
<p><strong>Prepared Spells:</strong> <$level$> / 2 + <$int_mod$></p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, <a href="/components/items/shield.html">shield</a></p>
    <p><strong>Weapons:</strong> simple, {'proficiency': 'firearms', 'optional': True}</p>
    <p><strong>Tools:</strong> <a href="/components/items/thieves'-tools.html">thieves' tools</a>, <a href="/components/items/tinker's-tools.html">tinker's tools</a>, one type of <a href="/components/items/artisan's-tools.html">artisan's tools</a> of your choice</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>any two <a href="/components/items/category/common-weapons.html">simple weapons</a> of your choice</li>
        <li>a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a></li>
        <li>(a) <a href="/components/items/studded-leather-armor.html">studded leather armor</a> or (b) <a href="/components/items/scale-mail.html">scale mail</a></li>
        <li><a href="/components/items/thieves'-tools.html">thieves' tools</a> and a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>2,2,2,2,2,2,2,2,2,3,3,3,3,4,4,4,4,4,4,4</li>
</ul>
</div>
<div class="class-info-box"></div>
<h2>Optional Feature Progression</h2>
<ul>
    <li>Infusions: 0, 4, 4, 4, 4, 6, 6, 6, 6, 8, 8, 8, 8, 10, 10, 10, 10, 12, 12, 12</li>
</ul>
</div>
<hr/>
<pre>{
  "cantripProgression": [],
  "casterProgression": "str",
  "hd": {
    "faces": "int",
    "number": "int"
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [],
      "toolProficiencies": [
        {
          "thieves\u0027 tools": "bool",
          "tinker\u0027s tools": "bool"
        }
      ],
      "tools": []
    },
    "requirements": {
      "int": "int"
    }
  },
  "name": "str",
  "optionalfeatureProgression": [
    {
      "featureType": [],
      "name": "str",
      "progression": []
    }
  ],
  "otherSources": [
    {
      "page": "int",
      "source": "str"
    }
  ],
  "page": "int",
  "preparedSpells": "str",
  "proficiency": [],
  "source": "str",
  "spellcastingAbility": "str",
  "startingEquipment": {
    "additionalFromBackground": "bool",
    "default": [],
    "defaultData": [
      {
        "_": [
          {
            "equipmentType": "str",
            "quantity": "int"
          }
        ]
      },
      {
        "_": []
      },
      {
        "a": [],
        "b": []
      },
      {
        "_": []
      }
    ],
    "goldAlternative": "str"
  },
  "startingProficiencies": {
    "armor": [],
    "skills": [
      {
        "choose": {
          "count": "int",
          "from": []
        }
      }
    ],
    "toolProficiencies": [
      {
        "anyArtisansTool": "int",
        "thieves\u0027 tools": "bool",
        "tinker\u0027s tools": "bool"
      }
    ],
    "tools": [],
    "weapons": [
      {
        "optional": "bool",
        "proficiency": "str"
      }
    ]
  },
  "subclassTitle": "str"
}</pre>
<hr/>
<pre>{
  "cantripProgression": [
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    3,
    3,
    3,
    3,
    4,
    4,
    4,
    4,
    4,
    4,
    4
  ],
  "casterProgression": "artificer",
  "hd": {
    "faces": 8,
    "number": 1
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [
        "light",
        "medium",
        "<a href="/components/items/shield.html">shield</a>"
      ],
      "toolProficiencies": [
        {
          "thieves\u0027 tools": true,
          "tinker\u0027s tools": true
        }
      ],
      "tools": [
        "<a href="/components/items/thieves\u0027-tools.html">thieves\u0027 tools</a>",
        "<a href="/components/items/tinker\u0027s-tools.html">tinker\u0027s tools</a>"
      ]
    },
    "requirements": {
      "int": 13
    }
  },
  "name": "Artificer",
  "optionalfeatureProgression": [
    {
      "featureType": [
        "AI"
      ],
      "name": "Infusions",
      "progression": [
        0,
        4,
        4,
        4,
        4,
        6,
        6,
        6,
        6,
        8,
        8,
        8,
        8,
        10,
        10,
        10,
        10,
        12,
        12,
        12
      ]
    }
  ],
  "otherSources": [
    {
      "page": 54,
      "source": "ERLW"
    }
  ],
  "page": 9,
  "preparedSpells": "\u003c$level$\u003e / 2 + \u003c$int_mod$\u003e",
  "proficiency": [
    "con",
    "int"
  ],
  "source": "TCE",
  "spellcastingAbility": "int",
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "any two <a href="/components/items/category/common-weapons.html">simple weapons</a> of your choice",
      "a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a>",
      "(a) <a href="/components/items/studded-leather-armor.html">studded leather armor</a> or (b) <a href="/components/items/scale-mail.html">scale mail</a>",
      "<a href="/components/items/thieves\u0027-tools.html">thieves\u0027 tools</a> and a <a href="/components/items/dungeoneer\u0027s-pack.html">dungeoneer\u0027s pack</a>"
    ],
    "defaultData": [
      {
        "_": [
          {
            "equipmentType": "weaponSimple",
            "quantity": 2
          }
        ]
      },
      {
        "_": [
          "light crossbow|phb",
          "crossbow bolts (20)|phb"
        ]
      },
      {
        "a": [
          "studded leather armor|phb"
        ],
        "b": [
          "scale mail|phb"
        ]
      },
      {
        "_": [
          "thieves\u0027 tools|phb",
          "dungeoneer\u0027s pack|phb"
        ]
      }
    ],
    "goldAlternative": "{@dice 5d4 \u00d7 10|5d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "armor": [
      "light",
      "medium",
      "<a href="/components/items/shield.html">shield</a>"
    ],
    "skills": [
      {
        "choose": {
          "count": 2,
          "from": [
            "arcana",
            "history",
            "investigation",
            "medicine",
            "nature",
            "perception",
            "sleight of hand"
          ]
        }
      }
    ],
    "toolProficiencies": [
      {
        "anyArtisansTool": 1,
        "thieves\u0027 tools": true,
        "tinker\u0027s tools": true
      }
    ],
    "tools": [
      "<a href="/components/items/thieves\u0027-tools.html">thieves\u0027 tools</a>",
      "<a href="/components/items/tinker\u0027s-tools.html">tinker\u0027s tools</a>",
      "one type of <a href="/components/items/artisan\u0027s-tools.html">artisan\u0027s tools</a> of your choice"
    ],
    "weapons": [
      "simple",
      {
        "optional": true,
        "proficiency": "firearms"
      }
    ]
  },
  "subclassTitle": "Artificer Specialist"
}</pre>