<h1>Artificer</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> TCE, Page: 9</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> con, int</p>
<p><strong>Spellcasting Ability:</strong> int</p>
<p><strong>Caster Progression:</strong> artificer</p>
<p><strong>Prepared Spells:</strong> <$level$> / 2 + <$int_mod$></p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, <a href="/components/items/shield.html">shield</a></p>
    <p><strong>Weapons:</strong> simple, {'proficiency': 'firearms', 'optional': True}</p>
    <p><strong>Tools:</strong> <a href="/components/items/thieves'-tools.html">thieves' tools</a>, <a href="/components/items/tinker's-tools.html">tinker's tools</a>, one type of <a href="/components/items/artisan's-tools.html">artisan's tools</a> of your choice</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>any two <a href="/components/items/category/common-weapons.html">simple weapons</a> of your choice</li>
        <li>a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a></li>
        <li>(a) <a href="/components/items/studded-leather-armor.html">studded leather armor</a> or (b) <a href="/components/items/scale-mail.html">scale mail</a></li>
        <li><a href="/components/items/thieves'-tools.html">thieves' tools</a> and a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>2,2,2,2,2,2,2,2,2,3,3,3,3,4,4,4,4,4,4,4</li>
</ul>
</div>
<div class="class-info-box"></div>
<h2>Optional Feature Progression</h2>
<ul>
    <li>Infusions: 0, 4, 4, 4, 4, 6, 6, 6, 6, 8, 8, 8, 8, 10, 10, 10, 10, 12, 12, 12</li>
</ul>
</div>