<h1>Barbarian</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 46</p>
<p><strong>Hit Dice:</strong> 1d12</p>
<p><strong>Proficiency:</strong> str, con</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, <a href="/components/items/shield.html">shield</a></p>
    <p><strong>Weapons:</strong> simple, martial</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/greataxe.html">greataxe</a> or (b) any <a href="/components/items/category/common-weapons.html">martial melee weapon</a></li>
        <li>(a) two <a href="/components/items/handaxe.html">handaxe</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>An <a href="/components/items/explorer's-pack.html">explorer's pack</a>, and four <a href="/components/items/javelin.html">javelin</a></li>
    </ul>
</div>
</div>
<hr/>