<h1>Bard</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 51</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> dex, cha</p>
<p><strong>Spellcasting Ability:</strong> cha</p>
<p><strong>Caster Progression:</strong> full</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light</p>
    <p><strong>Weapons:</strong> simple, <a href="/components/items/hand-crossbow.html">hand crossbow</a>, <a href="/components/items/longsword.html">longsword</a>, <a href="/components/items/rapier.html">rapier</a>, <a href="/components/items/shortsword.html">shortsword</a></p>
    <p><strong>Tools:</strong> three <a href="/components/items/musical-instrument.html">musical instrument</a> of your choice</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/rapier.html">rapier</a>, (b) a <a href="/components/items/longsword.html">longsword</a>, or (c) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/diplomat's-pack.html">diplomat's pack</a> or (b) an <a href="/components/items/entertainer's-pack.html">entertainer's pack</a></li>
        <li>(a) a <a href="/components/items/lute.html">lute</a> or (b) any other <a href="/components/items/category/instruments.html">musical instrument</a></li>
        <li><a href="/components/items/leather-armor.html">Leather armor</a>, and a <a href="/components/items/dagger.html">dagger</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4</li>
</ul>
</div>
<hr/>
<pre>{
  "additionalSpells": [
    {
      "known": {
        "10": [
          {
            "choose": "level=0;1;2;3;4;5"
          },
          {
            "choose": "level=0;1;2;3;4;5"
          }
        ],
        "14": [
          {
            "choose": "level=0;1;2;3;4;5;6;7"
          },
          {
            "choose": "level=0;1;2;3;4;5;6;7"
          }
        ],
        "18": [
          {
            "choose": ""
          },
          {
            "choose": ""
          }
        ]
      },
      "name": "Magical Secrets"
    }
  ],
  "cantripProgression": [
    2,
    2,
    2,
    3,
    3,
    3,
    3,
    3,
    3,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4
  ],
  "casterProgression": "full",
  "hd": {
    "faces": 8,
    "number": 1
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [
        "light"
      ],
      "skills": [
        {
          "choose": {
            "count": 1,
            "from": [
              "athletics",
              "acrobatics",
              "sleight of hand",
              "stealth",
              "arcana",
              "history",
              "investigation",
              "nature",
              "religion",
              "animal handling",
              "insight",
              "medicine",
              "perception",
              "survival",
              "deception",
              "intimidation",
              "performance",
              "persuasion"
            ]
          }
        }
      ],
      "toolProficiencies": [
        {
          "anyMusicalInstrument": 1
        }
      ],
      "tools": [
        "one <a href="/components/items/musical-instrument.html">musical instrument</a> of your choice"
      ]
    },
    "requirements": {
      "cha": 13
    }
  },
  "name": "Bard",
  "page": 51,
  "proficiency": [
    "dex",
    "cha"
  ],
  "source": "PHB",
  "spellcastingAbility": "cha",
  "spellsKnownProgression": [
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    14,
    15,
    15,
    16,
    18,
    19,
    19,
    20,
    22,
    22,
    22
  ],
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a <a href="/components/items/rapier.html">rapier</a>, (b) a <a href="/components/items/longsword.html">longsword</a>, or (c) any <a href="/components/items/category/common-weapons.html">simple weapon</a>",
      "(a) a <a href="/components/items/diplomat\u0027s-pack.html">diplomat\u0027s pack</a> or (b) an <a href="/components/items/entertainer\u0027s-pack.html">entertainer\u0027s pack</a>",
      "(a) a <a href="/components/items/lute.html">lute</a> or (b) any other <a href="/components/items/category/instruments.html">musical instrument</a>",
      "<a href="/components/items/leather-armor.html">Leather armor</a>, and a <a href="/components/items/dagger.html">dagger</a>"
    ],
    "defaultData": [
      {
        "a": [
          "rapier|phb"
        ],
        "b": [
          "longsword|phb"
        ],
        "c": [
          {
            "equipmentType": "weaponSimple"
          }
        ]
      },
      {
        "a": [
          "diplomat\u0027s pack|phb"
        ],
        "b": [
          "entertainer\u0027s pack|phb"
        ]
      },
      {
        "a": [
          "lute|phb"
        ],
        "b": [
          {
            "equipmentType": "instrumentMusical"
          }
        ]
      },
      {
        "_": [
          "Leather armor|phb",
          "dagger|phb"
        ]
      }
    ],
    "goldAlternative": "{@dice 5d4 \u00d7 10|5d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "armor": [
      "light"
    ],
    "skills": [
      {
        "any": 3
      }
    ],
    "toolProficiencies": [
      {
        "anyMusicalInstrument": 3
      }
    ],
    "tools": [
      "three <a href="/components/items/musical-instrument.html">musical instrument</a> of your choice"
    ],
    "weapons": [
      "simple",
      "<a href="/components/items/hand-crossbow.html">hand crossbow</a>",
      "<a href="/components/items/longsword.html">longsword</a>",
      "<a href="/components/items/rapier.html">rapier</a>",
      "<a href="/components/items/shortsword.html">shortsword</a>"
    ]
  },
  "subclassTitle": "Bard College"
}</pre>