<h1>Cleric</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 56</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> wis, cha</p>
<p><strong>Spellcasting Ability:</strong> wis</p>
<p><strong>Caster Progression:</strong> full</p>
<p><strong>Prepared Spells:</strong> <$level$> + <$wis_mod$></p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, <a href="/components/items/shield.html">shield</a></p>
    <p><strong>Weapons:</strong> simple</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/mace.html">mace</a> or (b) a <a href="/components/items/warhammer.html">warhammer</a> (if proficient)</li>
        <li>(a) <a href="/components/items/scale-mail.html">scale mail</a>, (b) <a href="/components/items/leather-armor.html">leather armor</a>, or (c) <a href="/components/items/chain-mail.html">chain mail</a> (if proficient)</li>
        <li>(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">Crossbow Bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/priest's-pack.html">priest's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li>A <a href="/components/items/shield.html">shield</a> and a <a href="/components/items/holy-symbol.html">holy symbol</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>3,3,3,4,4,4,4,4,4,5,5,5,5,5,5,5,5,5,5,5</li>
</ul>
</div>
<hr/>
<pre>{
  "basicRules": "bool",
  "cantripProgression": [],
  "casterProgression": "str",
  "hd": {
    "faces": "int",
    "number": "int"
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": []
    },
    "requirements": {
      "wis": "int"
    }
  },
  "name": "str",
  "page": "int",
  "preparedSpells": "str",
  "proficiency": [],
  "source": "str",
  "spellcastingAbility": "str",
  "srd": "bool",
  "startingEquipment": {
    "additionalFromBackground": "bool",
    "default": [],
    "defaultData": [
      {
        "a": [],
        "b": []
      },
      {
        "a": [],
        "b": [],
        "c": []
      },
      {
        "a": [],
        "b": [
          {
            "equipmentType": "str"
          }
        ]
      },
      {
        "a": [],
        "b": []
      },
      {
        "_": []
      }
    ],
    "goldAlternative": "str"
  },
  "startingProficiencies": {
    "armor": [],
    "skills": [
      {
        "choose": {
          "count": "int",
          "from": []
        }
      }
    ],
    "weapons": []
  },
  "subclassTitle": "str"
}</pre>
<hr/>
<pre>{
  "basicRules": true,
  "cantripProgression": [
    3,
    3,
    3,
    4,
    4,
    4,
    4,
    4,
    4,
    5,
    5,
    5,
    5,
    5,
    5,
    5,
    5,
    5,
    5,
    5
  ],
  "casterProgression": "full",
  "hd": {
    "faces": 8,
    "number": 1
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [
        "light",
        "medium",
        "<a href="/components/items/shield.html">shield</a>"
      ]
    },
    "requirements": {
      "wis": 13
    }
  },
  "name": "Cleric",
  "page": 56,
  "preparedSpells": "\u003c$level$\u003e + \u003c$wis_mod$\u003e",
  "proficiency": [
    "wis",
    "cha"
  ],
  "source": "PHB",
  "spellcastingAbility": "wis",
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a <a href="/components/items/mace.html">mace</a> or (b) a <a href="/components/items/warhammer.html">warhammer</a> (if proficient)",
      "(a) <a href="/components/items/scale-mail.html">scale mail</a>, (b) <a href="/components/items/leather-armor.html">leather armor</a>, or (c) <a href="/components/items/chain-mail.html">chain mail</a> (if proficient)",
      "(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">Crossbow Bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a>",
      "(a) a <a href="/components/items/priest\u0027s-pack.html">priest\u0027s pack</a> or (b) an <a href="/components/items/explorer\u0027s-pack.html">explorer\u0027s pack</a>",
      "A <a href="/components/items/shield.html">shield</a> and a <a href="/components/items/holy-symbol.html">holy symbol</a>"
    ],
    "defaultData": [
      {
        "a": [
          "mace|phb"
        ],
        "b": [
          "warhammer|phb"
        ]
      },
      {
        "a": [
          "scale mail|phb"
        ],
        "b": [
          "leather armor|phb"
        ],
        "c": [
          "chain mail|phb"
        ]
      },
      {
        "a": [
          "light crossbow|phb",
          "Crossbow Bolts (20)|phb"
        ],
        "b": [
          {
            "equipmentType": "weaponSimple"
          }
        ]
      },
      {
        "a": [
          "priest\u0027s pack|phb"
        ],
        "b": [
          "explorer\u0027s pack|phb"
        ]
      },
      {
        "_": [
          "shield|phb",
          "holy symbol|phb"
        ]
      }
    ],
    "goldAlternative": "{@dice 5d4 \u00d7 10|5d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "armor": [
      "light",
      "medium",
      "<a href="/components/items/shield.html">shield</a>"
    ],
    "skills": [
      {
        "choose": {
          "count": 2,
          "from": [
            "history",
            "insight",
            "medicine",
            "persuasion",
            "religion"
          ]
        }
      }
    ],
    "weapons": [
      "simple"
    ]
  },
  "subclassTitle": "Divine Domain"
}</pre>