<h1>Cleric</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 56</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> wis, cha</p>
<p><strong>Spellcasting Ability:</strong> wis</p>
<p><strong>Caster Progression:</strong> full</p>
<p><strong>Prepared Spells:</strong> <$level$> + <$wis_mod$></p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, <a href="/components/items/shield.html">shield</a></p>
    <p><strong>Weapons:</strong> simple</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/mace.html">mace</a> or (b) a <a href="/components/items/warhammer.html">warhammer</a> (if proficient)</li>
        <li>(a) <a href="/components/items/scale-mail.html">scale mail</a>, (b) <a href="/components/items/leather-armor.html">leather armor</a>, or (c) <a href="/components/items/chain-mail.html">chain mail</a> (if proficient)</li>
        <li>(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">Crossbow Bolts (20)</a> or (b) any {@filter simple weapon|items|source=phb|category=basic|type=simple weapon}</li>
        <li>(a) a <a href="/components/items/priest's-pack.html">priest's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li>A <a href="/components/items/shield.html">shield</a> and a <a href="/components/items/holy-symbol.html">holy symbol</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>3,3,3,4,4,4,4,4,4,5,5,5,5,5,5,5,5,5,5,5</li>
</ul>
</div>