<h1>Druid</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 64</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> int, wis</p>
<p><strong>Spellcasting Ability:</strong> wis</p>
<p><strong>Caster Progression:</strong> full</p>
<p><strong>Prepared Spells:</strong> <$level$> + <$wis_mod$></p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, {'proficiency': '<a href="/components/items/shield.html">shield</a>', 'full': 'shields (druids will not wear armor or use shields made of metal)'}</p>
    <p><strong>Weapons:</strong> <a href="/components/items/club.html">club</a>, <a href="/components/items/dagger.html">dagger</a>, <a href="/components/items/dart.html">dart</a>, <a href="/components/items/javelin.html">javelin</a>, <a href="/components/items/mace.html">mace</a>, <a href="/components/items/quarterstaff.html">quarterstaff</a>, <a href="/components/items/scimitar.html">scimitar</a>, <a href="/components/items/sickle.html">sickle</a>, <a href="/components/items/sling.html">sling</a>, <a href="/components/items/spear.html">spear</a></p>
    <p><strong>Tools:</strong> <a href="/components/items/herbalism-kit.html">Herbalism kit</a></p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a wooden <a href="/components/items/shield.html">shield</a> or (b) any {@filter simple weapon|items|source=phb|category=basic|type=simple weapon}</li>
        <li>(a) a <a href="/components/items/scimitar.html">scimitar</a> or (b) any {@filter simple melee weapon|items|source=phb|category=basic|type=simple weapon;melee weapon=u~u~sand}</li>
        <li><a href="/components/items/leather-armor.html">Leather armor</a>, an <a href="/components/items/explorer's-pack.html">explorer's pack</a>, and a <a href="/components/items/druidic-focus.html">druidic focus</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4</li>
</ul>
</div>