<h1>Druid</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 64</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> int, wis</p>
<p><strong>Spellcasting Ability:</strong> wis</p>
<p><strong>Caster Progression:</strong> full</p>
<p><strong>Prepared Spells:</strong> <$level$> + <$wis_mod$></p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, {'proficiency': '<a href="/components/items/shield.html">shield</a>', 'full': 'shields (druids will not wear armor or use shields made of metal)'}</p>
    <p><strong>Weapons:</strong> <a href="/components/items/club.html">club</a>, <a href="/components/items/dagger.html">dagger</a>, <a href="/components/items/dart.html">dart</a>, <a href="/components/items/javelin.html">javelin</a>, <a href="/components/items/mace.html">mace</a>, <a href="/components/items/quarterstaff.html">quarterstaff</a>, <a href="/components/items/scimitar.html">scimitar</a>, <a href="/components/items/sickle.html">sickle</a>, <a href="/components/items/sling.html">sling</a>, <a href="/components/items/spear.html">spear</a></p>
    <p><strong>Tools:</strong> <a href="/components/items/herbalism-kit.html">Herbalism kit</a></p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a wooden <a href="/components/items/shield.html">shield</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/scimitar.html">scimitar</a> or (b) any <a href="/components/items/category/common-weapons.html">simple melee weapon</a></li>
        <li><a href="/components/items/leather-armor.html">Leather armor</a>, an <a href="/components/items/explorer's-pack.html">explorer's pack</a>, and a <a href="/components/items/druidic-focus.html">druidic focus</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4</li>
</ul>
</div>
<hr/>
<pre>{
  "cantripProgression": [
    2,
    2,
    2,
    3,
    3,
    3,
    3,
    3,
    3,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4
  ],
  "casterProgression": "full",
  "hd": {
    "faces": 8,
    "number": 1
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [
        "light",
        "medium",
        {
          "full": "shields (druids will not wear armor or use shields made of metal)",
          "proficiency": "<a href="/components/items/shield.html">shield</a>"
        }
      ]
    },
    "requirements": {
      "wis": 13
    }
  },
  "name": "Druid",
  "page": 64,
  "preparedSpells": "\u003c$level$\u003e + \u003c$wis_mod$\u003e",
  "proficiency": [
    "int",
    "wis"
  ],
  "source": "PHB",
  "spellcastingAbility": "wis",
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a wooden <a href="/components/items/shield.html">shield</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a>",
      "(a) a <a href="/components/items/scimitar.html">scimitar</a> or (b) any <a href="/components/items/category/common-weapons.html">simple melee weapon</a>",
      "<a href="/components/items/leather-armor.html">Leather armor</a>, an <a href="/components/items/explorer\u0027s-pack.html">explorer\u0027s pack</a>, and a <a href="/components/items/druidic-focus.html">druidic focus</a>"
    ],
    "defaultData": [
      {
        "a": [
          "shield|phb"
        ],
        "b": [
          {
            "equipmentType": "weaponSimple"
          }
        ]
      },
      {
        "a": [
          "scimitar|phb"
        ],
        "b": [
          {
            "equipmentType": "weaponSimpleMelee"
          }
        ]
      },
      {
        "_": [
          "Leather armor|phb",
          "explorer\u0027s pack|phb",
          "druidic focus|phb"
        ]
      }
    ],
    "goldAlternative": "{@dice 2d4 \u00d7 10|2d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "armor": [
      "light",
      "medium",
      {
        "full": "shields (druids will not wear armor or use shields made of metal)",
        "proficiency": "<a href="/components/items/shield.html">shield</a>"
      }
    ],
    "skills": [
      {
        "choose": {
          "count": 2,
          "from": [
            "arcana",
            "animal handling",
            "insight",
            "medicine",
            "nature",
            "perception",
            "religion",
            "survival"
          ]
        }
      }
    ],
    "toolProficiencies": [
      {
        "herbalism kit": true
      }
    ],
    "tools": [
      "<a href="/components/items/herbalism-kit.html">Herbalism kit</a>"
    ],
    "weapons": [
      "<a href="/components/items/club.html">club</a>",
      "<a href="/components/items/dagger.html">dagger</a>",
      "<a href="/components/items/dart.html">dart</a>",
      "<a href="/components/items/javelin.html">javelin</a>",
      "<a href="/components/items/mace.html">mace</a>",
      "<a href="/components/items/quarterstaff.html">quarterstaff</a>",
      "<a href="/components/items/scimitar.html">scimitar</a>",
      "<a href="/components/items/sickle.html">sickle</a>",
      "<a href="/components/items/sling.html">sling</a>",
      "<a href="/components/items/spear.html">spear</a>"
    ]
  },
  "subclassTitle": "Druid Circle"
}</pre>