<h1>Fighter</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 70</p>
<p><strong>Hit Dice:</strong> 1d10</p>
<p><strong>Proficiency:</strong> str, con</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, heavy, <a href="/components/items/shield.html">shield</a></p>
    <p><strong>Weapons:</strong> simple, martial</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) <a href="/components/items/chain-mail.html">chain mail</a> or (b) <a href="/components/items/leather-armor.html">leather armor</a>, <a href="/components/items/longbow.html">longbow</a>, and <a href="/components/items/arrows-(20).html">arrows (20)</a></li>
        <li>(a) a {@filter martial weapon|items|source=phb|category=basic|type=martial weapon} and a <a href="/components/items/shield.html">shield</a> or (b) two {@filter martial weapons|items|source=phb|category=basic|type=martial weapon}</li>
        <li>(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) two <a href="/components/items/handaxe.html">handaxe</a></li>
        <li>(a) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Optional Feature Progression</h2>
<ul>
    <li>Fighting Style: 1</li>
</ul>
</div>