<style>
    #class-section{
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .inlineTable {
        display: inline;
        td, th {
            border: 1px solid black;
            padding: 5px;
        }
    }
</style>
<h1>Fighter</h1>
<hr/>
<div id="class-info-container">
    <div class="class-info-box">
        <h4>Starting Info</h4>
        <p><strong>Source:</strong> PHB, Page: 70</p>
        <p><strong>Hit Dice:</strong> 1d10</p>
        <p><strong><u>Multiclass Requirements</u></strong></p>
        <ul><li>Or:[{'str': 13, 'dex': 13}]</li>
        </ul>
    </div>
    <div class="class-info-box">
        <h4>Starting Proficiencies</h4>
        <p><strong>Ability:</strong> str, con</p>
        <p><strong>Armor:</strong> light, medium, heavy, <a href="/components/items/shield.html">shield</a></p>
        <p><strong>Weapons:</strong> simple, martial</p>
        <p><strong><u>Skills</u></strong> </p>
        <p><ul><li>choose: 2</li><ul><li>acrobatics</li><li>animal handling</li><li>athletics</li><li>history</li><li>insight</li><li>intimidation</li><li>perception</li><li>survival</li></ul></ul><br></p>
    </div>
    <div class="class-info-box">
        <h4>Starting Equipment</h4>
        <ul><li>(a) <a href="/components/items/chain-mail.html">chain mail</a> or (b) <a href="/components/items/leather-armor.html">leather armor</a>, <a href="/components/items/longbow.html">longbow</a>, and <a href="/components/items/arrows-(20).html">arrows (20)</a></li>
            <li>(a) a <a href="/components/items/category/common-weapons.html">martial weapon</a> and a <a href="/components/items/shield.html">shield</a> or (b) two <a href="/components/items/category/common-weapons.html">martial weapons</a></li>
            <li>(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) two <a href="/components/items/handaxe.html">handaxe</a></li>
            <li>(a) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        </ul>
        <p><strong>Gold Alternative:</strong> 5d4 × 10</p>
    </div>
</div>
    <section id="class-features-section" class="class-section">
        <hr/>        
        <h4><u>Class Features</u></h4>
                <p>Name: Fighting Style</p>
                <ul>
                <li>level: 1</li>
                    <li>You adopt a particular style of fighting as your specialty. Choose one of the following options. You can't take the same Fighting Style option more than once, even if you get to choose again.</li>
                    <li>{'type': 'options', 'count': 1, 'entries': [{'type': 'refOptionalfeature', 'optionalfeature': 'Archery'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Defense'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Dueling'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Great Weapon Fighting'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Protection'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Two-Weapon Fighting'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Blind Fighting|TCE'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Interception|TCE'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Superior Technique|TCE'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Thrown Weapon Fighting|TCE'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Unarmed Fighting|TCE'}]}</li>
                </ul>
                <p>Name: Second Wind</p>
                <ul>
                <li>level: 1</li>
                    <li>You have a limited well of stamina that you can draw on to protect yourself from harm. On your turn, you can use a bonus action to regain hit points equal to 1d10 + your fighter level.</li>
                    <li>Once you use this feature, you must finish a short or long rest before you can use it again.</li>
                </ul>
                <p>Name: Action Surge</p>
                <ul>
                <li>level: 2</li>
                    <li>Starting at 2nd level, you can push yourself beyond your normal limits for a moment. On your turn, you can take one additional action.</li>
                    <li>Once you use this feature, you must finish a short or long rest before you can use it again. Starting at 17th level, you can use it twice before a rest, but only once on the same turn.</li>
                </ul>
                <p>Name: Martial Archetype</p>
                <ul>
                <li>level: 3</li>
                    <li>At 3rd level, you choose an archetype from the list available that you strive to emulate in your combat styles and techniques. The archetype you choose grants you features at 3rd level and again at 7th, 10th, 15th, and 18th level.</li>
                </ul>
                <p>Name: Martial Versatility</p>
                <ul>
                <li>level: 4</li>
                    <li>{@i 4th-level fighter {@variantrule optional class features|tce|optional feature}}</li>
                    <li>Whenever you reach a level in this class that grants the Ability Score Improvement feature, you can do one of the following, as you shift the focus of your martial practice:</li>
                    <li>{'type': 'list', 'items': ['Replace a {@filter fighting style|optionalfeatures|feature type=FS:F} you know with another fighting style available to fighters.', 'If you know any {@filter maneuvers|optionalfeatures|feature type=MV:B} from the {@class fighter|phb|Battle Master|Battle Master|phb|2-0} archetype, you can replace one maneuver you know with a different maneuver.']}</li>
                </ul>
                <p>Name: Extra Attack</p>
                <ul>
                <li>level: 5</li>
                    <li>Beginning at 5th level, you can attack twice, instead of once, whenever you take the {@action Attack} action on your turn.</li>
                    <li>The number of attacks increases to three when you reach 11th level in this class and to four when you reach 20th level in this class.</li>
                </ul>
                <p>Name: Martial Archetype feature</p>
                <ul>
                <li>level: 7</li>
                    <li>At 7th level, you gain a feature granted by your Martial Archetype.</li>
                </ul>
                <p>Name: Indomitable</p>
                <ul>
                <li>level: 9</li>
                    <li>Beginning at 9th level, you can reroll a saving throw that you fail. If you do so, you must use the new roll, and you can't use this feature again until you finish a long rest.</li>
                    <li>You can use this feature twice between long rests starting at 13th level and three times between long rests starting at 17th level.</li>
                </ul>
                <p>Name: Martial Archetype feature</p>
                <ul>
                <li>level: 10</li>
                    <li>At 10th level, you gain a feature granted by your Martial Archetype.</li>
                </ul>
                <p>Name: Extra Attack (2)</p>
                <ul>
                <li>level: 11</li>
                    <li>At 11th level, you can attack three times whenever you take the {@action Attack} action on your turn.</li>
                </ul>
                <p>Name: Indomitable (two uses)</p>
                <ul>
                <li>level: 13</li>
                    <li>At 13th level, you can use Indomitable twice between long rests.</li>
                </ul>
                <p>Name: Martial Archetype feature</p>
                <ul>
                <li>level: 15</li>
                    <li>At 15th level, you gain a feature granted by your Martial Archetype.</li>
                </ul>
                <p>Name: Action Surge (two uses)</p>
                <ul>
                <li>level: 17</li>
                    <li>At 17th level, you can use Action Surge twice before a rest, but only once on the same turn.</li>
                </ul>
                <p>Name: Indomitable (three uses)</p>
                <ul>
                <li>level: 17</li>
                    <li>At 17th level, you can use Indomitable three times between long rests.</li>
                </ul>
                <p>Name: Martial Archetype feature</p>
                <ul>
                <li>level: 18</li>
                    <li>At 18th level, you gain a feature granted by your Martial Archetype.</li>
                </ul>
                <p>Name: Extra Attack (3)</p>
                <ul>
                <li>level: 20</li>
                    <li>At 20th level, you can attack four times whenever you take the {@action Attack} action on your turn.</li>
                </ul>
    </section>
<hr/>