<h1>Monk</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 76</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> str, dex</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> </p>
    <p><strong>Weapons:</strong> simple, <a href="/components/items/shortsword.html">shortsword</a></p>
    <p><strong>Tools:</strong> any one type of <a href="/components/items/artisan's-tools.html">artisan's tools</a> or any one <a href="/components/items/musical-instrument.html">musical instrument</a> of your choice</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/shortsword.html">shortsword</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li>10 <a href="/components/items/dart.html">dart</a></li>
    </ul>
</div>
</div>
<hr/>
<hr/>
<pre>{
  "hd": {
    "faces": 8,
    "number": 1
  },
  "multiclassing": {
    "proficienciesGained": {
      "weapons": [
        "simple",
        "<a href="/components/items/shortsword.html">shortsword</a>"
      ]
    },
    "requirements": {
      "dex": 13,
      "wis": 13
    }
  },
  "name": "Monk",
  "page": 76,
  "proficiency": [
    "str",
    "dex"
  ],
  "source": "PHB",
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a <a href="/components/items/shortsword.html">shortsword</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a>",
      "(a) a <a href="/components/items/dungeoneer\u0027s-pack.html">dungeoneer\u0027s pack</a> or (b) an <a href="/components/items/explorer\u0027s-pack.html">explorer\u0027s pack</a>",
      "10 <a href="/components/items/dart.html">dart</a>"
    ],
    "defaultData": [
      {
        "a": [
          "shortsword|phb"
        ],
        "b": [
          {
            "equipmentType": "weaponSimple"
          }
        ]
      },
      {
        "a": [
          "dungeoneer\u0027s pack|phb"
        ],
        "b": [
          "explorer\u0027s pack|phb"
        ]
      },
      {
        "_": [
          {
            "item": "dart|phb",
            "quantity": 10
          }
        ]
      }
    ],
    "goldAlternative": "{@dice 5d4|5d4|Starting Gold}"
  },
  "startingProficiencies": {
    "skills": [
      {
        "choose": {
          "count": 2,
          "from": [
            "acrobatics",
            "athletics",
            "history",
            "insight",
            "religion",
            "stealth"
          ]
        }
      }
    ],
    "toolProficiencies": [
      {
        "anyArtisansTool": 1
      },
      {
        "anyMusicalInstrument": 1
      }
    ],
    "tools": [
      "any one type of <a href="/components/items/artisan\u0027s-tools.html">artisan\u0027s tools</a> or any one <a href="/components/items/musical-instrument.html">musical instrument</a> of your choice"
    ],
    "weapons": [
      "simple",
      "<a href="/components/items/shortsword.html">shortsword</a>"
    ]
  },
  "subclassTitle": "Monastic Tradition"
}</pre>