<h1>Monk</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 76</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> str, dex</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> </p>
    <p><strong>Weapons:</strong> simple, <a href="/components/items/shortsword.html">shortsword</a></p>
    <p><strong>Tools:</strong> any one type of <a href="/components/items/artisan's-tools.html">artisan's tools</a> or any one <a href="/components/items/musical-instrument.html">musical instrument</a> of your choice</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/shortsword.html">shortsword</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li>10 <a href="/components/items/dart.html">dart</a></li>
    </ul>
</div>
</div>
<hr/>