<h1>Mystic</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> UATHEMYSTICCLASS, Page: 1</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> int, wis</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light</p>
    <p><strong>Weapons:</strong> simple</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/spear.html">spear</a> or (b) a <a href="/components/items/mace.html">mace</a></li>
        <li>(a) <a href="/components/items/leather-armor.html">leather armor</a> or (b) <a href="/components/items/studded-leather-armor.html">studded leather armor</a></li>
        <li>(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/scholar's-pack.html">scholar's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
    </ul>
</div>
</div>
<hr/>
<hr/>
<pre>{
  "hd": {
    "faces": 8,
    "number": 1
  },
  "multiclassing": {
    "requirements": {
      "wis": 13
    }
  },
  "name": "Mystic",
  "page": 1,
  "proficiency": [
    "int",
    "wis"
  ],
  "source": "UATheMysticClass",
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a <a href="/components/items/spear.html">spear</a> or (b) a <a href="/components/items/mace.html">mace</a>",
      "(a) <a href="/components/items/leather-armor.html">leather armor</a> or (b) <a href="/components/items/studded-leather-armor.html">studded leather armor</a>",
      "(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a>",
      "(a) a <a href="/components/items/scholar\u0027s-pack.html">scholar\u0027s pack</a> or (b) an <a href="/components/items/explorer\u0027s-pack.html">explorer\u0027s pack</a>"
    ],
    "defaultData": [
      {
        "a": [
          "spear|phb"
        ],
        "b": [
          "mace|phb"
        ]
      },
      {
        "a": [
          "leather armor|phb"
        ],
        "b": [
          "studded leather armor|phb"
        ]
      },
      {
        "a": [
          "light crossbow|phb",
          "crossbow bolts (20)|phb"
        ],
        "b": [
          {
            "equipmentType": "weaponSimple"
          }
        ]
      },
      {
        "a": [
          "scholar\u0027s pack|phb"
        ],
        "b": [
          "explorer\u0027s pack|phb"
        ]
      }
    ],
    "goldAlternative": "{@dice 5d4 \u00d7 10|5d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "armor": [
      "light"
    ],
    "skills": [
      {
        "choose": {
          "count": 2,
          "from": [
            "arcana",
            "history",
            "insight",
            "medicine",
            "nature",
            "perception",
            "religion"
          ]
        }
      }
    ],
    "weapons": [
      "simple"
    ]
  },
  "subclassTitle": "Mystic Order"
}</pre>