<h1>Ranger</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 89</p>
<p><strong>Hit Dice:</strong> 1d10</p>
<p><strong>Proficiency:</strong> str, dex</p>
<p><strong>Spellcasting Ability:</strong> wis</p>
<p><strong>Caster Progression:</strong> 1/2</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, <a href="/components/items/shield.html">shield</a></p>
    <p><strong>Weapons:</strong> simple, martial</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) <a href="/components/items/scale-mail.html">scale mail</a> or (b) <a href="/components/items/leather-armor.html">leather armor</a></li>
        <li>(a) two <a href="/components/items/shortsword.html">shortsword</a> or (b) two <a href="/components/items/category/common-weapons.html">simple melee weapons</a></li>
        <li>(a) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li>A <a href="/components/items/longbow.html">longbow</a> and a <a href="/components/items/quiver.html">quiver</a> of <a href="/components/items/arrows-(20).html">arrows (20)</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Optional Feature Progression</h2>
<ul>
    <li>Fighting Style: 2</li>
</ul>
</div>