<style>
    #class-section{
        margin: 10px 0 10px 0;
        width: 100%;
    }
    .inlineTable {
        display: inline;
        td, th {
            border: 1px solid black;
            padding: 5px;
        }
    }
</style>
<h1>Ranger</h1>
<hr/>
<div id="class-info-container">
    <div class="class-info-box">
        <h4>Starting Info</h4>
        <p><strong>Source:</strong> PHB, Page: 89</p>
        <p><strong>Hit Dice:</strong> 1d10</p>
        <p><strong><u>Multiclass Requirements</u></strong></p>
        <ul><li>Dex:13</li>
        <li>Wis:13</li>
        </ul>
    </div>
    <div class="class-info-box">
        <h4>Starting Proficiencies</h4>
        <p><strong>Ability:</strong> str, dex</p>
        <p><strong>Armor:</strong> light, medium, <a href="/components/items/shield.html">shield</a></p>
        <p><strong>Weapons:</strong> simple, martial</p>
        <p><strong><u>Skills</u></strong> </p>
        <p><ul><li>choose: 3</li><ul><li>animal handling</li><li>athletics</li><li>insight</li><li>investigation</li><li>nature</li><li>perception</li><li>stealth</li><li>survival</li></ul></ul><br></p>
    </div>
    <div class="class-info-box">
        <h4>Starting Equipment</h4>
        <ul><li>(a) <a href="/components/items/scale-mail.html">scale mail</a> or (b) <a href="/components/items/leather-armor.html">leather armor</a></li>
            <li>(a) two <a href="/components/items/shortsword.html">shortsword</a> or (b) two <a href="/components/items/category/common-weapons.html">simple melee weapons</a></li>
            <li>(a) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
            <li>A <a href="/components/items/longbow.html">longbow</a> and a <a href="/components/items/quiver.html">quiver</a> of <a href="/components/items/arrows-(20).html">arrows (20)</a></li>
        </ul>
        <p><strong>Gold Alternative:</strong> 5d4 × 10</p>
    </div>
</div>
    <section id="class-magic-section" class="class-section">
        <hr/>
        <h4><u>Magic</u></h4>
            <p><strong>Spellcasting Ability:</strong> wis</p>
            <p><strong>Caster Progression:</strong> 1/2</p>
                <p><strong>Spells known total per level:</strong> <table class="inlineTable">
<tr>
  <th>0</th>
  <th>2</th>
  <th>3</th>
  <th>3</th>
  <th>4</th>
  <th>4</th>
  <th>5</th>
  <th>5</th>
  <th>6</th>
  <th>6</th>
  <th>7</th>
  <th>7</th>
  <th>8</th>
  <th>8</th>
  <th>9</th>
  <th>9</th>
  <th>10</th>
  <th>10</th>
  <th>11</th>
  <th>11</th>
</tr>
</table></p>
    </section>
    <section id="class-features-section" class="class-section">
        <hr/>        
        <h4><u>Class Features</u></h4>
                <p>Name: Deft Explorer</p>
                <ul>
                <li>level: 1</li>
                    <li>{@i 1st-level ranger {@variantrule optional class features|tce|optional feature}, which replaces the Natural Explorer feature}</li>
                    <li>You are an unsurpassed explorer and survivor, both in the wilderness and in dealing with others on your travels. You gain the Canny benefit below, and you gain an additional benefit below when you reach 6th level and 10th level in this class.</li>
                    <li>{'name': 'Canny', 'type': 'entries', 'entries': ['Choose one of your skill proficiencies. Your proficiency bonus is doubled for any ability check you make that uses the chosen skill.', 'You can also speak, read, and write two additional languages of your choice.']}</li>
                </ul>
                <p>Name: Favored Enemy</p>
                <ul>
                <li>level: 1</li>
                    <li>Beginning at 1st level, you have significant experience studying, tracking, hunting, and even talking to a certain type of enemy.</li>
                    <li>Choose a type of favored enemy: {@filter aberrations|bestiary|type=aberration}, {@filter beasts|bestiary|type=beast}, {@filter celestials|bestiary|type=celestial}, {@filter constructs|bestiary|type=construct}, {@filter dragons|bestiary|type=dragon}, {@filter elementals|bestiary|type=elemental}, {@filter fey|bestiary|type=fey}, {@filter fiends|bestiary|type=fiend}, {@filter giants|bestiary|type=giant}, {@filter monstrosities|bestiary|type=monstrosity}, {@filter oozes|bestiary|type=ooze}, {@filter plants|bestiary|type=plant}, or {@filter undead|bestiary|type=undead}. Alternatively, you can select two races of {@filter humanoid|bestiary|type=humanoid} (such as {@creature gnoll||gnolls} and {@creature orc||orcs}) as favored enemies.</li>
                    <li>You have advantage on Wisdom ({@skill Survival}) checks to track your favored enemies, as well as on Intelligence checks to recall information about them.</li>
                    <li>When you gain this feature, you also learn one language of your choice that is spoken by your favored enemies, if they speak one at all.</li>
                    <li>You choose one additional favored enemy, as well as an associated language, at 6th and 14th level. As you gain levels, your choices should reflect the types of monsters you have encountered on your adventures.</li>
                </ul>
                <p>Name: Favored Foe</p>
                <ul>
                <li>level: 1</li>
                    <li>{@i 1st-level ranger {@variantrule optional class features|tce|optional feature}, which replaces the Favored Enemy feature and works with the Foe Slayer feature}</li>
                    <li>When you hit a creature with an attack roll, you can call on your mystical bond with nature to mark the target as your favored enemy for 1 minute or until you lose your {@status concentration} (as if you were {@status concentration||concentrating} on a spell).</li>
                    <li>The first time on each of your turns that you hit the favored enemy and deal damage to it, including when you mark it, you can increase that damage by 1d4.</li>
                    <li>You can use this feature to mark a favored enemy a number of times equal to your proficiency bonus, and you regain all expended uses when you finish a long rest.</li>
                    <li>This feature's extra damage increases when you reach certain levels in this class: to 1d6 at 6th level and to 1d8 at 14th level.</li>
                </ul>
                <p>Name: Natural Explorer</p>
                <ul>
                <li>level: 1</li>
                    <li>You are particularly familiar with one type of natural environment and are adept at traveling and surviving in such regions. Choose one type of favored terrain: arctic, coast, desert, forest, grassland, mountain, swamp, or the Underdark. When you make an Intelligence or Wisdom check related to your favored terrain, your proficiency bonus is doubled if you are using a skill that you're proficient in.</li>
                    <li>While traveling for an hour or more in your favored terrain, you gain the following benefits:</li>
                    <li>{'type': 'list', 'items': ["Difficult terrain doesn't slow your group's travel.", "Your group can't become lost except by magical means.", 'Even when you are engaged in another activity while traveling (such as foraging, navigating, or tracking), you remain alert to danger.', 'If you are traveling alone, you can move stealthily at a normal pace.', 'When you forage, you find twice as much food as you normally would.', 'While tracking other creatures, you also learn their exact number, their sizes, and how long ago they passed through the area.']}</li>
                    <li>You choose additional favored terrain types at 6th and 10th level.</li>
                </ul>
                <p>Name: Fighting Style</p>
                <ul>
                <li>level: 2</li>
                    <li>At 2nd level, you adopt a particular style of fighting as your specialty. Choose one of the following options. You can't take a Fighting Style option more than once, even if you later get to choose again.</li>
                    <li>{'type': 'options', 'count': 1, 'entries': [{'type': 'refOptionalfeature', 'optionalfeature': 'Archery'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Defense'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Dueling'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Two-Weapon Fighting'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Blind Fighting|TCE'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Druidic Warrior|TCE'}, {'type': 'refOptionalfeature', 'optionalfeature': 'Thrown Weapon Fighting|TCE'}]}</li>
                </ul>
                <p>Name: Spellcasting</p>
                <ul>
                <li>level: 2</li>
                    <li>By the time you reach 2nd level, you have learned to use the magical essence of nature to cast spells, much as a druid does. See {@book chapter 10|PHB|10} for the general rules of spellcasting and {@book chapter 11|PHB|11} for the {@filter ranger spell list|spells|class=ranger}.</li>
                    <li>{'type': 'entries', 'name': 'Spell Slots', 'entries': ["The Ranger table shows how many spell slots you have to cast your {@filter ranger spells|spells|class=ranger} of 1st level and higher. To cast one of these spells, you must expend a slot of the spell's level or higher. You regain all expended spell slots when you finish a long rest.", 'For example, if you know the 1st-level spell {@spell animal friendship} and have a 1st-level and a 2nd-level spell slot available, you can cast {@spell animal friendship} using either slot.']}</li>
                    <li>{'type': 'entries', 'name': 'Spells Known of 1st Level and Higher', 'entries': ['You know two 1st-level spells of your choice from the ranger spell list.', 'The Spells Known column of the Ranger table shows when you learn more ranger spells of your choice. Each of these spells must be of a level for which you have spell slots. For instance, when you reach 5th level in this class, you can learn one new spell of 1st or 2nd level.', 'Additionally, when you gain a level in this class, you can choose one of the ranger spells you know and replace it with another spell from the ranger spell list, which also must be of a level for which you have spell slots.']}</li>
                    <li>{'type': 'entries', 'name': 'Spellcasting Ability', 'entries': ['Wisdom is your spellcasting ability for your ranger spells, since your magic draws on your attunement to nature. You use your Wisdom whenever a spell refers to your spellcasting ability. In addition, you use your Wisdom modifier when setting the saving throw DC for a ranger spell you cast and when making an attack roll with one.', {'type': 'abilityDc', 'name': 'Spell', 'attributes': ['wis']}, {'type': 'abilityAttackMod', 'name': 'Spell', 'attributes': ['wis']}]}</li>
                </ul>
                <p>Name: Spellcasting Focus</p>
                <ul>
                <li>level: 2</li>
                    <li>{@i 2nd-level ranger {@variantrule optional class features|tce|optional feature}}</li>
                    <li>You can use a <a href="/components/items/druidic-focus.html">druidic focus</a> as a spellcasting focus for your ranger spells. A druidic focus might be a sprig of mistletoe or holly, a wand or rod made of yew or another special wood, a staff drawn whole from a living tree, or an object incorporating feathers, fur, bones, and teeth from sacred animals.</li>
                </ul>
                <p>Name: Primal Awareness</p>
                <ul>
                <li>level: 3</li>
                    <li>{@i 3rd-level ranger {@variantrule optional class features|tce|optional feature}, which replaces the Primeval Awareness feature}</li>
                    <li>You can focus your awareness through the interconnections of nature: you learn additional spells when you reach certain levels in this class if you don't already know them, as shown in the Primal Awareness Spells table. These spells don't count against the number of ranger spells you know.</li>
                    <li>{'type': 'table', 'caption': 'Primal Awareness Spells', 'colLabels': ['Ranger Level', 'Spell'], 'colStyles': ['col-2 text-center', 'col-10'], 'rows': [['3rd', '{@spell speak with animals}'], ['5th', '{@spell beast sense}'], ['9th', '{@spell speak with plants}'], ['13th', '{@spell locate creature}'], ['17th', '{@spell commune with nature}']]}</li>
                    <li>You can cast each of these spells once without expending a spell slot. Once you cast a spell in this way, you can't do so again until you finish a long rest.</li>
                </ul>
                <p>Name: Primeval Awareness</p>
                <ul>
                <li>level: 3</li>
                    <li>Beginning at 3rd level, you can use your action and expend one ranger spell slot to focus your awareness on the region around you. For 1 minute per level of the spell slot you expend, you can sense whether the following types of creatures are present within 1 mile of you (or within up to 6 miles if you are in your favored terrain): aberrations, celestials, dragons, elementals, fey, fiends, and undead. This feature doesn't reveal the creatures' location or number.</li>
                </ul>
                <p>Name: Ranger Archetype</p>
                <ul>
                <li>level: 3</li>
                    <li>At 3rd level, you choose an archetype that you strive to emulate from the list of available archetypes. Your choice grants features at 3rd level, and again at 7th, 11th, and 15th level.</li>
                </ul>
                <p>Name: Martial Versatility</p>
                <ul>
                <li>level: 4</li>
                    <li>{@i 4th-level ranger {@variantrule optional class features|tce|optional feature}}</li>
                    <li>Whenever you reach a level in this class that grants the Ability Score Improvement feature, you can replace a fighting style you know with another fighting style available to rangers. This replacement represents a shift of focus in your martial practice.</li>
                </ul>
                <p>Name: Extra Attack</p>
                <ul>
                <li>level: 5</li>
                    <li>Beginning at 5th level, you can attack twice, instead of once, whenever you take the {@action Attack} action on your turn.</li>
                </ul>
                <p>Name: Deft Explorer Improvement</p>
                <ul>
                <li>level: 6</li>
                    <li>You gain an additional benefit when you reach 6th level in this class.</li>
                    <li>{'type': 'entries', 'name': 'Roving', 'entries': ['Your walking speed increases by 5, and you gain a climbing speed and a swimming speed equal to your walking speed.']}</li>
                </ul>
                <p>Name: Favored Enemy and Natural Explorer improvements</p>
                <ul>
                <li>level: 6</li>
                    <li>At 6th level, you gain an additional favored terrain.</li>
                    <li>At 6th level, you choose one additional favored enemy, as well as an associated language. Your choice should reflect the types of monsters you have encountered on your adventures.</li>
                </ul>
                <p>Name: Ranger Archetype feature</p>
                <ul>
                <li>level: 7</li>
                    <li>At 7th level, you gain a feature granted to you by your Ranger Archetype.</li>
                </ul>
                <p>Name: Land's Stride</p>
                <ul>
                <li>level: 8</li>
                    <li>Starting at 8th level, moving through nonmagical {@quickref difficult terrain||3} costs you no extra movement. You can also pass through nonmagical plants without being slowed by them and without taking damage from them if they have thorns, spines, or a similar hazard.</li>
                    <li>In addition, you have advantage on saving throws against plants that are magically created or manipulated to impede movement, such as those created by the {@spell entangle} spell.</li>
                </ul>
                <p>Name: Deft Explorer Improvement</p>
                <ul>
                <li>level: 10</li>
                    <li>You gain an additional benefit when you reach 10th level in this class.</li>
                    <li>{'type': 'entries', 'name': 'Tireless', 'entries': ['As an action, you can give yourself a number of temporary hit points equal to 1d8 + your Wisdom modifier (minimum of 1 temporary hit point). You can use this action a number of times equal to your proficiency bonus, and you regain all expended uses when you finish a long rest.', 'In addition, whenever you finish a short rest, your {@condition exhaustion} level, if any, is decreased by 1.']}</li>
                </ul>
                <p>Name: Hide in Plain Sight</p>
                <ul>
                <li>level: 10</li>
                    <li>Starting at 10th level, you can spend 1 minute creating camouflage for yourself. You must have access to fresh mud, dirt, plants, soot, and other naturally occurring materials with which to create your camouflage.</li>
                    <li>Once you are camouflaged in this way, you can try to hide by pressing yourself up against a solid surface, such as a tree or wall, that is at least as tall and wide as you are. You gain a +10 bonus to Dexterity ({@skill Stealth}) checks as long as you remain there without moving or taking actions. Once you move or take an action or a reaction, you must camouflage yourself again to gain this benefit.</li>
                </ul>
                <p>Name: Natural Explorer improvement</p>
                <ul>
                <li>level: 10</li>
                    <li>You gain an additional favored terrain.</li>
                </ul>
                <p>Name: Nature's Veil</p>
                <ul>
                <li>level: 10</li>
                    <li>{@i 10th-level ranger {@variantrule optional class features|tce|optional feature}, which replaces the Hide in Plain Sight feature}</li>
                    <li>You draw on the powers of nature to hide yourself from view briefly. As a bonus action, you can magically become {@condition invisible}, along with any equipment you are wearing or carrying, until the start of your next turn.</li>
                    <li>You can use this feature a number of times equal to your proficiency bonus, and you regain all expended uses when you finish a long rest.</li>
                </ul>
                <p>Name: Ranger Archetype feature</p>
                <ul>
                <li>level: 11</li>
                    <li>At 11th level, you gain a feature granted to you by your Ranger Archetype.</li>
                </ul>
                <p>Name: Favored Enemy improvement</p>
                <ul>
                <li>level: 14</li>
                    <li>At 14th level, you choose one additional favored enemy, as well as an associated language. Your choice should reflect the types of monsters you have encountered on your adventures.</li>
                </ul>
                <p>Name: Vanish</p>
                <ul>
                <li>level: 14</li>
                    <li>Starting at 14th level, you can use the {@action Hide} action as a bonus action on your turn. Also, you can't be tracked by nonmagical means, unless you choose to leave a trail.</li>
                </ul>
                <p>Name: Ranger Archetype feature</p>
                <ul>
                <li>level: 15</li>
                    <li>At 15th level, you gain a feature granted to you by your Ranger Archetype.</li>
                </ul>
                <p>Name: Feral Senses</p>
                <ul>
                <li>level: 18</li>
                    <li>At 18th level, you gain preternatural senses that help you fight creatures you can't see. When you attack a creature you can't see, your inability to see it doesn't impose disadvantage on your attack rolls against it. You are also aware of the location of any {@condition invisible} creature within 30 feet of you, provided that the creature isn't hidden from you and you aren't {@condition blinded} or {@condition deafened}.</li>
                </ul>
                <p>Name: Foe Slayer</p>
                <ul>
                <li>level: 20</li>
                    <li>At 20th level, you become an unparalleled hunter of your enemies. Once on each of your turns, you can add your Wisdom modifier to the attack roll or the damage roll of an attack you make against one of your favored enemies. You can choose to use this feature before or after the roll, but before any effects of the roll are applied.</li>
                </ul>
    </section>
<hr/>