<h1>Ranger</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 89</p>
<p><strong>Hit Dice:</strong> 1d10</p>
<p><strong>Proficiency:</strong> str, dex</p>
<p><strong>Spellcasting Ability:</strong> wis</p>
<p><strong>Caster Progression:</strong> 1/2</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light, medium, <a href="/components/items/shield.html">shield</a></p>
    <p><strong>Weapons:</strong> simple, martial</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) <a href="/components/items/scale-mail.html">scale mail</a> or (b) <a href="/components/items/leather-armor.html">leather armor</a></li>
        <li>(a) two <a href="/components/items/shortsword.html">shortsword</a> or (b) two <a href="/components/items/category/common-weapons.html">simple melee weapons</a></li>
        <li>(a) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li>A <a href="/components/items/longbow.html">longbow</a> and a <a href="/components/items/quiver.html">quiver</a> of <a href="/components/items/arrows-(20).html">arrows (20)</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Optional Feature Progression</h2>
<ul>
    <li>Fighting Style: 2</li>
</ul>
</div>
<hr/>
<pre>{
  "casterProgression": "str",
  "hd": {
    "faces": "int",
    "number": "int"
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [],
      "skills": [
        {
          "choose": {
            "count": "int",
            "from": []
          }
        }
      ],
      "weapons": []
    },
    "requirements": {
      "dex": "int",
      "wis": "int"
    }
  },
  "name": "str",
  "optionalfeatureProgression": [
    {
      "featureType": [],
      "name": "str",
      "progression": {
        "2": "int"
      }
    }
  ],
  "page": "int",
  "proficiency": [],
  "source": "str",
  "spellcastingAbility": "str",
  "spellsKnownProgression": [],
  "srd": "bool",
  "startingEquipment": {
    "additionalFromBackground": "bool",
    "default": [],
    "defaultData": [
      {
        "a": [],
        "b": []
      },
      {
        "a": [
          {
            "item": "str",
            "quantity": "int"
          }
        ],
        "b": [
          {
            "equipmentType": "str",
            "quantity": "int"
          }
        ]
      },
      {
        "a": [],
        "b": []
      },
      {
        "_": []
      }
    ],
    "goldAlternative": "str"
  },
  "startingProficiencies": {
    "armor": [],
    "skills": [
      {
        "choose": {
          "count": "int",
          "from": []
        }
      }
    ],
    "weapons": []
  },
  "subclassTitle": "str"
}</pre>
<hr/>
<pre>{
  "casterProgression": "1/2",
  "hd": {
    "faces": 10,
    "number": 1
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [
        "light",
        "medium",
        "<a href="/components/items/shield.html">shield</a>"
      ],
      "skills": [
        {
          "choose": {
            "count": 1,
            "from": [
              "animal handling",
              "athletics",
              "insight",
              "investigation",
              "nature",
              "perception",
              "stealth",
              "survival"
            ]
          }
        }
      ],
      "weapons": [
        "simple",
        "martial"
      ]
    },
    "requirements": {
      "dex": 13,
      "wis": 13
    }
  },
  "name": "Ranger",
  "optionalfeatureProgression": [
    {
      "featureType": [
        "FS:R"
      ],
      "name": "Fighting Style",
      "progression": {
        "2": 1
      }
    }
  ],
  "page": 89,
  "proficiency": [
    "str",
    "dex"
  ],
  "source": "PHB",
  "spellcastingAbility": "wis",
  "spellsKnownProgression": [
    0,
    2,
    3,
    3,
    4,
    4,
    5,
    5,
    6,
    6,
    7,
    7,
    8,
    8,
    9,
    9,
    10,
    10,
    11,
    11
  ],
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) <a href="/components/items/scale-mail.html">scale mail</a> or (b) <a href="/components/items/leather-armor.html">leather armor</a>",
      "(a) two <a href="/components/items/shortsword.html">shortsword</a> or (b) two <a href="/components/items/category/common-weapons.html">simple melee weapons</a>",
      "(a) a <a href="/components/items/dungeoneer\u0027s-pack.html">dungeoneer\u0027s pack</a> or (b) an <a href="/components/items/explorer\u0027s-pack.html">explorer\u0027s pack</a>",
      "A <a href="/components/items/longbow.html">longbow</a> and a <a href="/components/items/quiver.html">quiver</a> of <a href="/components/items/arrows-(20).html">arrows (20)</a>"
    ],
    "defaultData": [
      {
        "a": [
          "scale mail|phb"
        ],
        "b": [
          "leather armor|phb"
        ]
      },
      {
        "a": [
          {
            "item": "shortsword|phb",
            "quantity": 2
          }
        ],
        "b": [
          {
            "equipmentType": "weaponSimpleMelee",
            "quantity": 2
          }
        ]
      },
      {
        "a": [
          "dungeoneer\u0027s pack|phb"
        ],
        "b": [
          "explorer\u0027s pack|phb"
        ]
      },
      {
        "_": [
          "longbow|phb",
          "arrows (20)|phb"
        ]
      }
    ],
    "goldAlternative": "{@dice 5d4 \u00d7 10|5d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "armor": [
      "light",
      "medium",
      "<a href="/components/items/shield.html">shield</a>"
    ],
    "skills": [
      {
        "choose": {
          "count": 3,
          "from": [
            "animal handling",
            "athletics",
            "insight",
            "investigation",
            "nature",
            "perception",
            "stealth",
            "survival"
          ]
        }
      }
    ],
    "weapons": [
      "simple",
      "martial"
    ]
  },
  "subclassTitle": "Ranger Archetype"
}</pre>