<h1>Rogue</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 94</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> dex, int</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light</p>
    <p><strong>Weapons:</strong> simple, <a href="/components/items/hand-crossbow.html">hand crossbow</a>, <a href="/components/items/longsword.html">longsword</a>, <a href="/components/items/rapier.html">rapier</a>, <a href="/components/items/shortsword.html">shortsword</a></p>
    <p><strong>Tools:</strong> <a href="/components/items/thieves'-tools.html">thieves' tools</a></p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/rapier.html">rapier</a> or (b) a <a href="/components/items/shortsword.html">shortsword</a></li>
        <li>(a) a <a href="/components/items/shortbow.html">shortbow</a> and <a href="/components/items/quiver.html">quiver</a> of <a href="/components/items/arrows-(20).html">arrows (20)</a> or (b) a <a href="/components/items/shortsword.html">shortsword</a></li>
        <li>(a) a <a href="/components/items/burglar's-pack.html">burglar's pack</a>, (b) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a>, or (c) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li><a href="/components/items/leather-armor.html">Leather armor</a>, two <a href="/components/items/dagger.html">dagger</a>, and <a href="/components/items/thieves'-tools.html">thieves' tools</a></li>
    </ul>
</div>
</div>
<hr/>