<h1>Rogue</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 94</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> dex, int</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light</p>
    <p><strong>Weapons:</strong> simple, <a href="/components/items/hand-crossbow.html">hand crossbow</a>, <a href="/components/items/longsword.html">longsword</a>, <a href="/components/items/rapier.html">rapier</a>, <a href="/components/items/shortsword.html">shortsword</a></p>
    <p><strong>Tools:</strong> <a href="/components/items/thieves'-tools.html">thieves' tools</a></p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/rapier.html">rapier</a> or (b) a <a href="/components/items/shortsword.html">shortsword</a></li>
        <li>(a) a <a href="/components/items/shortbow.html">shortbow</a> and <a href="/components/items/quiver.html">quiver</a> of <a href="/components/items/arrows-(20).html">arrows (20)</a> or (b) a <a href="/components/items/shortsword.html">shortsword</a></li>
        <li>(a) a <a href="/components/items/burglar's-pack.html">burglar's pack</a>, (b) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a>, or (c) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li><a href="/components/items/leather-armor.html">Leather armor</a>, two <a href="/components/items/dagger.html">dagger</a>, and <a href="/components/items/thieves'-tools.html">thieves' tools</a></li>
    </ul>
</div>
</div>
<hr/>
<hr/>
<pre>{
  "basicRules": true,
  "hd": {
    "faces": 8,
    "number": 1
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [
        "light"
      ],
      "skills": [
        {
          "choose": {
            "count": 1,
            "from": [
              "acrobatics",
              "athletics",
              "deception",
              "insight",
              "intimidation",
              "investigation",
              "perception",
              "performance",
              "persuasion",
              "sleight of hand",
              "stealth"
            ]
          }
        }
      ],
      "toolProficiencies": [
        {
          "thieves\u0027 tools": true
        }
      ],
      "tools": [
        "<a href="/components/items/thieves\u0027-tools.html">thieves\u0027 tools</a>"
      ]
    },
    "requirements": {
      "dex": 13
    }
  },
  "name": "Rogue",
  "page": 94,
  "proficiency": [
    "dex",
    "int"
  ],
  "source": "PHB",
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a <a href="/components/items/rapier.html">rapier</a> or (b) a <a href="/components/items/shortsword.html">shortsword</a>",
      "(a) a <a href="/components/items/shortbow.html">shortbow</a> and <a href="/components/items/quiver.html">quiver</a> of <a href="/components/items/arrows-(20).html">arrows (20)</a> or (b) a <a href="/components/items/shortsword.html">shortsword</a>",
      "(a) a <a href="/components/items/burglar\u0027s-pack.html">burglar\u0027s pack</a>, (b) a <a href="/components/items/dungeoneer\u0027s-pack.html">dungeoneer\u0027s pack</a>, or (c) an <a href="/components/items/explorer\u0027s-pack.html">explorer\u0027s pack</a>",
      "<a href="/components/items/leather-armor.html">Leather armor</a>, two <a href="/components/items/dagger.html">dagger</a>, and <a href="/components/items/thieves\u0027-tools.html">thieves\u0027 tools</a>"
    ],
    "defaultData": [
      {
        "a": [
          "rapier|phb"
        ],
        "b": [
          "shortsword|phb"
        ]
      },
      {
        "a": [
          "shortbow|phb",
          "arrows (20)|phb"
        ],
        "b": [
          "shortsword|phb"
        ]
      },
      {
        "a": [
          "burglar\u0027s pack|phb"
        ],
        "b": [
          "dungeoneer\u0027s pack|phb"
        ],
        "c": [
          "explorer\u0027s pack|phb"
        ]
      },
      {
        "_": [
          "Leather armor|phb",
          {
            "item": "dagger|phb",
            "quantity": 2
          },
          "thieves\u0027 tools|phb"
        ]
      }
    ],
    "goldAlternative": "{@dice 4d4 \u00d7 10|4d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "armor": [
      "light"
    ],
    "skills": [
      {
        "choose": {
          "count": 4,
          "from": [
            "acrobatics",
            "athletics",
            "deception",
            "insight",
            "intimidation",
            "investigation",
            "perception",
            "performance",
            "persuasion",
            "sleight of hand",
            "stealth"
          ]
        }
      }
    ],
    "toolProficiencies": [
      {
        "thieves\u0027 tools": true
      }
    ],
    "tools": [
      "<a href="/components/items/thieves\u0027-tools.html">thieves\u0027 tools</a>"
    ],
    "weapons": [
      "simple",
      "<a href="/components/items/hand-crossbow.html">hand crossbow</a>",
      "<a href="/components/items/longsword.html">longsword</a>",
      "<a href="/components/items/rapier.html">rapier</a>",
      "<a href="/components/items/shortsword.html">shortsword</a>"
    ]
  },
  "subclassTitle": "Roguish Archetype"
}</pre>