<label for="classSelect" class="form-control-lg">Choose a class:</label>
<select id="classSelect" 
    multiple size="15" 
    class="form-select form-select-lg mb-3" 
    aria-label="select class" 
    hx-get="/components/classes/<classSelect>.html"
    hx-target="#class-description-container"
    name="classSelect">     
            <option value="Ranger">Ranger</option>
            <option value="Bard">Bard</option>
            <option value="Wizard">Wizard</option>
            <option value="Sorcerer">Sorcerer</option>
            <option value="Barbarian">Barbarian</option>
            <option value="Rogue">Rogue</option>
            <option value="Warlock">Warlock</option>
            <option value="Artificer">Artificer</option>
            <option value="Mystic">Mystic</option>
            <option value="Paladin">Paladin</option>
            <option value="Cleric">Cleric</option>
            <option value="Monk">Monk</option>
            <option value="Fighter">Fighter</option>
            <option value="Druid">Druid</option>
        </select>