<h1>Sorcerer</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 99</p>
<p><strong>Hit Dice:</strong> 1d6</p>
<p><strong>Proficiency:</strong> con, cha</p>
<p><strong>Spellcasting Ability:</strong> cha</p>
<p><strong>Caster Progression:</strong> full</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> </p>
    <p><strong>Weapons:</strong> <a href="/components/items/dagger.html">dagger</a>, <a href="/components/items/dart.html">dart</a>, <a href="/components/items/sling.html">sling</a>, <a href="/components/items/quarterstaff.html">quarterstaff</a>, <a href="/components/items/light-crossbow.html">light crossbow</a></p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/component-pouch.html">component pouch</a> or (b) an <a href="/components/items/arcane-focus.html">arcane focus</a></li>
        <li>(a) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li>Two <a href="/components/items/dagger.html">dagger</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>4,4,4,5,5,5,5,5,5,6,6,6,6,6,6,6,6,6,6,6</li>
</ul>
</div>
<div class="class-info-box"></div>
<h2>Optional Feature Progression</h2>
<ul>
    <li>Metamagic: 3, 10, 17</li>
</ul>
</div>
<hr/>
<pre>{
  "cantripProgression": [],
  "casterProgression": "str",
  "hd": {
    "faces": "int",
    "number": "int"
  },
  "multiclassing": {
    "requirements": {
      "cha": "int"
    }
  },
  "name": "str",
  "optionalfeatureProgression": [
    {
      "featureType": [],
      "name": "str",
      "progression": {
        "10": "int",
        "17": "int",
        "3": "int"
      }
    }
  ],
  "page": "int",
  "proficiency": [],
  "source": "str",
  "spellcastingAbility": "str",
  "spellsKnownProgression": [],
  "srd": "bool",
  "startingEquipment": {
    "additionalFromBackground": "bool",
    "default": [],
    "defaultData": [
      {
        "a": [],
        "b": [
          {
            "equipmentType": "str"
          }
        ]
      },
      {
        "a": [],
        "b": []
      },
      {
        "a": [],
        "b": []
      },
      {
        "_": [
          {
            "item": "str",
            "quantity": "int"
          }
        ]
      }
    ],
    "goldAlternative": "str"
  },
  "startingProficiencies": {
    "skills": [
      {
        "choose": {
          "count": "int",
          "from": []
        }
      }
    ],
    "weapons": []
  },
  "subclassTitle": "str"
}</pre>
<hr/>
<pre>{
  "cantripProgression": [
    4,
    4,
    4,
    5,
    5,
    5,
    5,
    5,
    5,
    6,
    6,
    6,
    6,
    6,
    6,
    6,
    6,
    6,
    6,
    6
  ],
  "casterProgression": "full",
  "hd": {
    "faces": 6,
    "number": 1
  },
  "multiclassing": {
    "requirements": {
      "cha": 13
    }
  },
  "name": "Sorcerer",
  "optionalfeatureProgression": [
    {
      "featureType": [
        "MM"
      ],
      "name": "Metamagic",
      "progression": {
        "10": 3,
        "17": 4,
        "3": 2
      }
    }
  ],
  "page": 99,
  "proficiency": [
    "con",
    "cha"
  ],
  "source": "PHB",
  "spellcastingAbility": "cha",
  "spellsKnownProgression": [
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    11,
    12,
    12,
    13,
    13,
    14,
    14,
    15,
    15,
    15,
    15
  ],
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a>",
      "(a) a <a href="/components/items/component-pouch.html">component pouch</a> or (b) an <a href="/components/items/arcane-focus.html">arcane focus</a>",
      "(a) a <a href="/components/items/dungeoneer\u0027s-pack.html">dungeoneer\u0027s pack</a> or (b) an <a href="/components/items/explorer\u0027s-pack.html">explorer\u0027s pack</a>",
      "Two <a href="/components/items/dagger.html">dagger</a>"
    ],
    "defaultData": [
      {
        "a": [
          "light crossbow|phb",
          "crossbow bolts (20)|phb"
        ],
        "b": [
          {
            "equipmentType": "weaponSimple"
          }
        ]
      },
      {
        "a": [
          "component pouch|phb"
        ],
        "b": [
          "arcane focus|phb"
        ]
      },
      {
        "a": [
          "dungeoneer\u0027s pack|phb"
        ],
        "b": [
          "explorer\u0027s pack|phb"
        ]
      },
      {
        "_": [
          {
            "item": "dagger|phb",
            "quantity": 2
          }
        ]
      }
    ],
    "goldAlternative": "{@dice 3d4 \u00d7 10|3d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "skills": [
      {
        "choose": {
          "count": 2,
          "from": [
            "arcana",
            "deception",
            "insight",
            "intimidation",
            "persuasion",
            "religion"
          ]
        }
      }
    ],
    "weapons": [
      "<a href="/components/items/dagger.html">dagger</a>",
      "<a href="/components/items/dart.html">dart</a>",
      "<a href="/components/items/sling.html">sling</a>",
      "<a href="/components/items/quarterstaff.html">quarterstaff</a>",
      "<a href="/components/items/light-crossbow.html">light crossbow</a>"
    ]
  },
  "subclassTitle": "Sorcerous Origin"
}</pre>