<h1>Warlock</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 105</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> wis, cha</p>
<p><strong>Spellcasting Ability:</strong> cha</p>
<p><strong>Caster Progression:</strong> pact</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light</p>
    <p><strong>Weapons:</strong> simple</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/component-pouch.html">component pouch</a> or (b) an <a href="/components/items/arcane-focus.html">arcane focus</a></li>
        <li>(a) a <a href="/components/items/scholar's-pack.html">scholar's pack</a> or (b) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a></li>
        <li><a href="/components/items/leather-armor.html">Leather armor</a>, any <a href="/components/items/category/common-weapons.html">simple weapon</a>, and two <a href="/components/items/dagger.html">dagger</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4</li>
</ul>
</div>
<div class="class-info-box"></div>
<h2>Optional Feature Progression</h2>
<ul>
    <li>Eldritch Invocations: 0, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8</li>
    <li>Pact Boon: 3</li>
</ul>
</div>