<h1>Warlock</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 105</p>
<p><strong>Hit Dice:</strong> 1d8</p>
<p><strong>Proficiency:</strong> wis, cha</p>
<p><strong>Spellcasting Ability:</strong> cha</p>
<p><strong>Caster Progression:</strong> pact</p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> light</p>
    <p><strong>Weapons:</strong> simple</p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a></li>
        <li>(a) a <a href="/components/items/component-pouch.html">component pouch</a> or (b) an <a href="/components/items/arcane-focus.html">arcane focus</a></li>
        <li>(a) a <a href="/components/items/scholar's-pack.html">scholar's pack</a> or (b) a <a href="/components/items/dungeoneer's-pack.html">dungeoneer's pack</a></li>
        <li><a href="/components/items/leather-armor.html">Leather armor</a>, any <a href="/components/items/category/common-weapons.html">simple weapon</a>, and two <a href="/components/items/dagger.html">dagger</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>2,2,2,3,3,3,3,3,3,4,4,4,4,4,4,4,4,4,4,4</li>
</ul>
</div>
<div class="class-info-box"></div>
<h2>Optional Feature Progression</h2>
<ul>
    <li>Eldritch Invocations: 0, 2, 2, 2, 3, 3, 4, 4, 5, 5, 5, 6, 6, 6, 7, 7, 7, 8, 8, 8</li>
    <li>Pact Boon: 3</li>
</ul>
</div>
<hr/>
<pre>{
  "cantripProgression": [],
  "casterProgression": "str",
  "hd": {
    "faces": "int",
    "number": "int"
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [],
      "weapons": []
    },
    "requirements": {
      "cha": "int"
    }
  },
  "name": "str",
  "optionalfeatureProgression": [
    {
      "featureType": [],
      "name": "str",
      "progression": []
    },
    {
      "featureType": [],
      "name": "str",
      "progression": {
        "3": "int"
      }
    }
  ],
  "page": "int",
  "proficiency": [],
  "source": "str",
  "spellcastingAbility": "str",
  "spellsKnownProgression": [],
  "spellsKnownProgressionFixedByLevel": {
    "11": {
      "6": "int"
    },
    "13": {
      "7": "int"
    },
    "15": {
      "8": "int"
    },
    "17": {
      "9": "int"
    }
  },
  "srd": "bool",
  "startingEquipment": {
    "additionalFromBackground": "bool",
    "default": [],
    "defaultData": [
      {
        "a": [],
        "b": [
          {
            "equipmentType": "str"
          }
        ]
      },
      {
        "a": [],
        "b": []
      },
      {
        "a": [],
        "b": []
      },
      {
        "_": [
          {
            "equipmentType": "str"
          },
          {
            "item": "str",
            "quantity": "int"
          }
        ]
      }
    ],
    "goldAlternative": "str"
  },
  "startingProficiencies": {
    "armor": [],
    "skills": [
      {
        "choose": {
          "count": "int",
          "from": []
        }
      }
    ],
    "weapons": []
  },
  "subclassTitle": "str"
}</pre>
<hr/>
<pre>{
  "cantripProgression": [
    2,
    2,
    2,
    3,
    3,
    3,
    3,
    3,
    3,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4,
    4
  ],
  "casterProgression": "pact",
  "hd": {
    "faces": 8,
    "number": 1
  },
  "multiclassing": {
    "proficienciesGained": {
      "armor": [
        "light"
      ],
      "weapons": [
        "simple"
      ]
    },
    "requirements": {
      "cha": 13
    }
  },
  "name": "Warlock",
  "optionalfeatureProgression": [
    {
      "featureType": [
        "EI"
      ],
      "name": "Eldritch Invocations",
      "progression": [
        0,
        2,
        2,
        2,
        3,
        3,
        4,
        4,
        5,
        5,
        5,
        6,
        6,
        6,
        7,
        7,
        7,
        8,
        8,
        8
      ]
    },
    {
      "featureType": [
        "PB"
      ],
      "name": "Pact Boon",
      "progression": {
        "3": 1
      }
    }
  ],
  "page": 105,
  "proficiency": [
    "wis",
    "cha"
  ],
  "source": "PHB",
  "spellcastingAbility": "cha",
  "spellsKnownProgression": [
    2,
    3,
    4,
    5,
    6,
    7,
    8,
    9,
    10,
    10,
    11,
    11,
    12,
    12,
    13,
    13,
    14,
    14,
    15,
    15
  ],
  "spellsKnownProgressionFixedByLevel": {
    "11": {
      "6": 1
    },
    "13": {
      "7": 1
    },
    "15": {
      "8": 1
    },
    "17": {
      "9": 1
    }
  },
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a <a href="/components/items/light-crossbow.html">light crossbow</a> and <a href="/components/items/crossbow-bolts-(20).html">crossbow bolts (20)</a> or (b) any <a href="/components/items/category/common-weapons.html">simple weapon</a>",
      "(a) a <a href="/components/items/component-pouch.html">component pouch</a> or (b) an <a href="/components/items/arcane-focus.html">arcane focus</a>",
      "(a) a <a href="/components/items/scholar\u0027s-pack.html">scholar\u0027s pack</a> or (b) a <a href="/components/items/dungeoneer\u0027s-pack.html">dungeoneer\u0027s pack</a>",
      "<a href="/components/items/leather-armor.html">Leather armor</a>, any <a href="/components/items/category/common-weapons.html">simple weapon</a>, and two <a href="/components/items/dagger.html">dagger</a>"
    ],
    "defaultData": [
      {
        "a": [
          "light crossbow|phb",
          "crossbow bolts (20)|phb"
        ],
        "b": [
          {
            "equipmentType": "weaponSimple"
          }
        ]
      },
      {
        "a": [
          "component pouch|phb"
        ],
        "b": [
          "arcane focus|phb"
        ]
      },
      {
        "a": [
          "scholar\u0027s pack|phb"
        ],
        "b": [
          "dungeoneer\u0027s pack|phb"
        ]
      },
      {
        "_": [
          "Leather armor|phb",
          {
            "equipmentType": "weaponSimple"
          },
          {
            "item": "dagger|phb",
            "quantity": 2
          }
        ]
      }
    ],
    "goldAlternative": "{@dice 4d4 \u00d7 10|4d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "armor": [
      "light"
    ],
    "skills": [
      {
        "choose": {
          "count": 2,
          "from": [
            "arcana",
            "deception",
            "history",
            "intimidation",
            "investigation",
            "nature",
            "religion"
          ]
        }
      }
    ],
    "weapons": [
      "simple"
    ]
  },
  "subclassTitle": "Otherworldly Patron"
}</pre>