<h1>Wizard</h1>
<hr/>
<div id="class-info-container">
<div class="class-info-box">
<h4>Starting Info</h4>
<p><strong>Source:</strong> PHB, Page: 112</p>
<p><strong>Hit Dice:</strong> 1d6</p>
<p><strong>Proficiency:</strong> int, wis</p>
<p><strong>Spellcasting Ability:</strong> int</p>
<p><strong>Caster Progression:</strong> full</p>
<p><strong>Prepared Spells:</strong> <$level$> + <$int_mod$></p>
</div>
<div class="class-info-box">
    <h4>Starting Proficiencies</h4>
    <p><strong>Armor:</strong> </p>
    <p><strong>Weapons:</strong> <a href="/components/items/dagger.html">dagger</a>, <a href="/components/items/dart.html">dart</a>, <a href="/components/items/sling.html">sling</a>, <a href="/components/items/quarterstaff.html">quarterstaff</a>, <a href="/components/items/light-crossbow.html">light crossbow</a></p>
</div>
<div class="class-info-box">
    <h4>Starting Equipment</h4>
    <ul><li>(a) a <a href="/components/items/quarterstaff.html">quarterstaff</a> or (b) a <a href="/components/items/dagger.html">dagger</a></li>
        <li>(a) a <a href="/components/items/component-pouch.html">component pouch</a> or (b) an <a href="/components/items/arcane-focus.html">arcane focus</a></li>
        <li>(a) a <a href="/components/items/scholar's-pack.html">scholar's pack</a> or (b) an <a href="/components/items/explorer's-pack.html">explorer's pack</a></li>
        <li>A <a href="/components/items/spellbook.html">spellbook</a></li>
    </ul>
</div>
</div>
<hr/>
<div class="class-info-box"></div>
<h2>Cantrip Progression</h2>
<ul>
    <li>3,3,3,4,4,4,4,4,4,5,5,5,5,5,5,5,5,5,5,5</li>
</ul>
</div>
<hr/>
<pre>{
  "basicRules": "bool",
  "cantripProgression": [],
  "casterProgression": "str",
  "hd": {
    "faces": "int",
    "number": "int"
  },
  "multiclassing": {
    "requirements": {
      "int": "int"
    }
  },
  "name": "str",
  "page": "int",
  "preparedSpells": "str",
  "proficiency": [],
  "source": "str",
  "spellcastingAbility": "str",
  "spellsKnownProgressionFixed": [],
  "spellsKnownProgressionFixedAllowLowerLevel": "bool",
  "srd": "bool",
  "startingEquipment": {
    "additionalFromBackground": "bool",
    "default": [],
    "defaultData": [
      {
        "a": [],
        "b": []
      },
      {
        "a": [],
        "b": []
      },
      {
        "a": [],
        "b": []
      },
      {
        "_": []
      }
    ],
    "goldAlternative": "str"
  },
  "startingProficiencies": {
    "skills": [
      {
        "choose": {
          "count": "int",
          "from": []
        }
      }
    ],
    "weapons": []
  },
  "subclassTitle": "str"
}</pre>
<hr/>
<pre>{
  "basicRules": true,
  "cantripProgression": [
    3,
    3,
    3,
    4,
    4,
    4,
    4,
    4,
    4,
    5,
    5,
    5,
    5,
    5,
    5,
    5,
    5,
    5,
    5,
    5
  ],
  "casterProgression": "full",
  "hd": {
    "faces": 6,
    "number": 1
  },
  "multiclassing": {
    "requirements": {
      "int": 13
    }
  },
  "name": "Wizard",
  "page": 112,
  "preparedSpells": "\u003c$level$\u003e + \u003c$int_mod$\u003e",
  "proficiency": [
    "int",
    "wis"
  ],
  "source": "PHB",
  "spellcastingAbility": "int",
  "spellsKnownProgressionFixed": [
    6,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2,
    2
  ],
  "spellsKnownProgressionFixedAllowLowerLevel": true,
  "srd": true,
  "startingEquipment": {
    "additionalFromBackground": true,
    "default": [
      "(a) a <a href="/components/items/quarterstaff.html">quarterstaff</a> or (b) a <a href="/components/items/dagger.html">dagger</a>",
      "(a) a <a href="/components/items/component-pouch.html">component pouch</a> or (b) an <a href="/components/items/arcane-focus.html">arcane focus</a>",
      "(a) a <a href="/components/items/scholar\u0027s-pack.html">scholar\u0027s pack</a> or (b) an <a href="/components/items/explorer\u0027s-pack.html">explorer\u0027s pack</a>",
      "A <a href="/components/items/spellbook.html">spellbook</a>"
    ],
    "defaultData": [
      {
        "a": [
          "quarterstaff|phb"
        ],
        "b": [
          "dagger|phb"
        ]
      },
      {
        "a": [
          "component pouch|phb"
        ],
        "b": [
          "arcane focus|phb"
        ]
      },
      {
        "a": [
          "scholar\u0027s pack|phb"
        ],
        "b": [
          "explorer\u0027s pack|phb"
        ]
      },
      {
        "_": [
          "spellbook|phb"
        ]
      }
    ],
    "goldAlternative": "{@dice 4d4 \u00d7 10|4d4 \u00d7 10|Starting Gold}"
  },
  "startingProficiencies": {
    "skills": [
      {
        "choose": {
          "count": 2,
          "from": [
            "arcana",
            "history",
            "insight",
            "investigation",
            "medicine",
            "religion"
          ]
        }
      }
    ],
    "weapons": [
      "<a href="/components/items/dagger.html">dagger</a>",
      "<a href="/components/items/dart.html">dart</a>",
      "<a href="/components/items/sling.html">sling</a>",
      "<a href="/components/items/quarterstaff.html">quarterstaff</a>",
      "<a href="/components/items/light-crossbow.html">light crossbow</a>"
    ]
  },
  "subclassTitle": "Arcane Tradition"
}</pre>