---
processor: [
    jinja_parser, 
    remove_blank_lines
]
custom_filter_files: ".geraldine/custom_filters/custom_jinja_filters.py"
json_project_path: /geri_dist/compiled_data/races/race-names.json
---


<label for="raceSelect" class="form-control-lg">Choose a race:</label>
<select id="raceSelect" 
    multiple size="15" 
    class="form-select form-select-lg mb-3" 
    aria-label="select race" 
    hx-get="/components/races/<raceSelect>.html"
    hx-target="#race-description-container"
    name="raceSelect">
        {%- for item in data | sort %}     
            <option value="{{ item }}">{{ item }}</option>
        {% endfor -%}
 </select>

