---
processor: [
    jinja_file_parser, 
    remove_blank_lines, 
    5e_tools_tag_replace
]
jinja_file_parser:
    json_project_path: /geri_src/5e_tools_data/backgrounds.json
    filename_key: '{{ name  | replace(" ", "_") }}-{{ source }}'
    extension: html
    start_key: background
    custom_filter_files: [
        ".geraldine/custom_filters/custom_jinja_filters.py"
    ]
    add_full_data_variable: true
---

<div>
    <h1>{{ name }}</h1>
    <p>Source: {{ source }}</p>
    <p>Page: {{ page }}</p>

    {% for key, value in geraldine_full_data.items() %}
    {{ key }}: {{ value }}<br/>
    {% endfor %}
</div>


