<!DOCTYPE html>
<html>
        <head>
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.8/datatables.min.js"></script>
        <title></title>
        <link href="/css/simple-table.css" rel="stylesheet"/>
        </head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
                    <tr>
                        <td><a href="/components/items/antimatter-rifle.html">Antimatter Rifle</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/automatic-pistol.html">Automatic Pistol</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/automatic-rifle.html">Automatic Rifle</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/battleaxe.html">Battleaxe</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/blowgun.html">Blowgun</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/club.html">Club</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/dagger.html">Dagger</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/dart.html">Dart</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/double-bladed-scimitar.html">Double-Bladed Scimitar</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/flail.html">Flail</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/glaive.html">Glaive</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/greataxe.html">Greataxe</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/greatclub.html">Greatclub</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/greatsword.html">Greatsword</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/halberd.html">Halberd</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/hand-crossbow.html">Hand Crossbow</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/handaxe.html">Handaxe</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/heavy-crossbow.html">Heavy Crossbow</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/hoopak.html">Hoopak</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/hunting-rifle.html">Hunting Rifle</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/javelin.html">Javelin</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/lance.html">Lance</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/laser-pistol.html">Laser Pistol</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/laser-rifle.html">Laser Rifle</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/light-crossbow.html">Light Crossbow</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/light-hammer.html">Light Hammer</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/longbow.html">Longbow</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/longsword.html">Longsword</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/mace.html">Mace</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/maul.html">Maul</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/morningstar.html">Morningstar</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/musket.html">Musket</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/net.html">Net</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/pike.html">Pike</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/pistol.html">Pistol</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/quarterstaff.html">Quarterstaff</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/rapier.html">Rapier</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/revolver.html">Revolver</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/scimitar.html">Scimitar</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/shortbow.html">Shortbow</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/shortsword.html">Shortsword</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/shotgun.html">Shotgun</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/sickle.html">Sickle</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/sling.html">Sling</a></td>
                        <td>R</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/spear.html">Spear</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/trident.html">Trident</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/war-pick.html">War Pick</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/warhammer.html">Warhammer</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/whip.html">Whip</a></td>
                        <td>M</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/yklwa.html">Yklwa</a></td>
                        <td>M</td>                        
                    </tr>
        </tbody>
    </table>
</body>
</html>