<!DOCTYPE html>
<html>
        <head>
        <title></title>
        <link href="/css/simple-table.css" rel="stylesheet"/>
        </head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
                    <tr>
                        <td><a href="/components/items/musical-instrument.html">Musical Instrument</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/musical-instrument.html">Musical Instrument</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/bagpipes.html">Bagpipes</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/birdpipes.html">Birdpipes</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/drum.html">Drum</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/dulcimer.html">Dulcimer</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/flute.html">Flute</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/glaur.html">Glaur</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/hand-drum.html">Hand Drum</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/horn.html">Horn</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/longhorn.html">Longhorn</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/lute.html">Lute</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/lyre.html">Lyre</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/pan-flute.html">Pan Flute</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/shawm.html">Shawm</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/shawm.html">Shawm</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/songhorn.html">Songhorn</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/tantan.html">Tantan</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/thelarr.html">Thelarr</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/tocken.html">Tocken</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/viol.html">Viol</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/wargong.html">Wargong</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/yarting.html">Yarting</a></td>
                        <td>INS</td>                        
                    </tr>
                    <tr>
                        <td><a href="/components/items/zulkoon.html">Zulkoon</a></td>
                        <td>INS</td>                        
                    </tr>
        </tbody>
    </table>
</body>
</html>