<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Absorbing Tattoo</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>TCE</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>119</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>very rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>Produced by a special needle, this magic tattoo features designs that emphasize one color.</li>
            <li>Tattoo Attunement</li>
            <ul>
                        <li>To attune to this item, you hold the needle to your skin where you want the tattoo to appear, pressing the needle there throughout the attunement process. When the attunement is complete, the needle turns into the ink that becomes the tattoo, which appears on the skin.</li>
                        <li>If your attunement to the tattoo ends, the tattoo vanishes, and the needle reappears in your space.</li>
            </ul>
            <li>Damage Resistance</li>
            <ul>
                        <li>While the tattoo is on your skin, you have resistance to a type of damage associated with that color, as shown on the table below. The DM chooses the color or determines it randomly.</li>
            </ul>
            <li>Damage Absorption</li>
            <ul>
                        <li>When you take damage of the chosen type, you can use your reaction to gain immunity against that instance of the damage, and you regain a number of hit points equal to half the damage you would have taken. Once this reaction is used, it can't be used again until the next dawn.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "Produced by a special needle, this magic tattoo features designs that emphasize one color.",
  {
    "entries": [
      "To attune to this item, you hold the needle to your skin where you want the tattoo to appear, pressing the needle there throughout the attunement process. When the attunement is complete, the needle turns into the ink that becomes the tattoo, which appears on the skin.",
      "If your attunement to the tattoo ends, the tattoo vanishes, and the needle reappears in your space."
    ],
    "name": "Tattoo Attunement",
    "type": "entries"
  },
  {
    "entries": [
      "While the tattoo is on your skin, you have resistance to a type of damage associated with that color, as shown on the table below. The DM chooses the color or determines it randomly.",
      {
        "caption": "Absorbing Tattoo",
        "colLabels": [
          "d10",
          "Color",
          "Tattoo"
        ],
        "colStyles": [
          "col-2 text-center",
          "col-2 text-center",
          "col-8 text-center"
        ],
        "rows": [
          [
            "1",
            "Green",
            "<a href="/components/items/acid-absorbing-tattoo.html">Acid Absorbing Tattoo</a>"
          ],
          [
            "2",
            "Blue",
            "<a href="/components/items/cold-absorbing-tattoo.html">Cold Absorbing Tattoo</a>"
          ],
          [
            "3",
            "Red",
            "<a href="/components/items/fire-absorbing-tattoo.html">Fire Absorbing Tattoo</a>"
          ],
          [
            "4",
            "White",
            "<a href="/components/items/force-absorbing-tattoo.html">Force Absorbing Tattoo</a>"
          ],
          [
            "5",
            "Yellow",
            "<a href="/components/items/lightning-absorbing-tattoo.html">Lightning Absorbing Tattoo</a>"
          ],
          [
            "6",
            "Black",
            "<a href="/components/items/necrotic-absorbing-tattoo.html">Necrotic Absorbing Tattoo</a>"
          ],
          [
            "7",
            "Violet",
            "<a href="/components/items/poison-absorbing-tattoo.html">Poison Absorbing Tattoo</a>"
          ],
          [
            "8",
            "Silver",
            "<a href="/components/items/psychic-absorbing-tattoo.html">Psychic Absorbing Tattoo</a>"
          ],
          [
            "9",
            "Gold",
            "<a href="/components/items/radiant-absorbing-tattoo.html">Radiant Absorbing Tattoo</a>"
          ],
          [
            "10",
            "Orange",
            "<a href="/components/items/thunder-absorbing-tattoo.html">Thunder Absorbing Tattoo</a>"
          ]
        ],
        "type": "table"
      }
    ],
    "name": "Damage Resistance",
    "type": "entries"
  },
  {
    "entries": [
      "When you take damage of the chosen type, you can use your reaction to gain immunity against that instance of the damage, and you regain a number of hit points equal to half the damage you would have taken. Once this reaction is used, it can\u0027t be used again until the next dawn."
    ],
    "name": "Damage Absorption",
    "type": "entries"
  }
]</pre>
</body>
</html>