<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Akmon, Hammer of Purphoros</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>MOT</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>198</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>M</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>artifact</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td>martial</td>
    </tr>
    <tr>
        <td>Property:</td>
        <td>['V']</td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td>1d8</td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td>B</td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td>+3</td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>Purphoros's hammer works wonders and disasters, the god of the forge using it to craft ground-breaking marvels and dangerous inventions in equal measure. Purphoros rarely bestows Akmon on mortals but occasionally leaves it unattended at his forge in Mount Velus. When Purphoros does permit a mortal to use the hammer, it's usually so they might bring an important work into being, wreck a force of destruction, or forge something remarkable somewhere the god isn't welcome.</li>
            <li>Hammer of the Forge</li>
            <ul>
                        <li>This magic warhammer grants a +3 bonus to attack and damage rolls made with it. When you hit with an attack using it, the target takes an extra {@damage 3d10} fire damage.</li>
            </ul>
            <li>Blessing of the Forge</li>
            <ul>
                        <li>If you are a worshiper of Purphoros, you gain all the following benefits for which you have the required piety:</li>
                        <ul>
                                <li>{'type': 'item', 'name': 'Piety 10+', 'entry': 'The hammer has 1 randomly determined {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial} property.'}</li>
                                <li>{'type': 'item', 'name': 'Piety 25+', 'entry': 'The hammer has 1 randomly determined {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} property.'}</li>
                                <li>{'type': 'item', 'name': 'Piety 50+', 'entry': 'The hammer has 1 additional randomly determined {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} property.'}</li>
                        </ul>
                        <li>If you aren't a worshiper of Purphoros, the hammer has 2 randomly determined {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental} properties.</li>
                        <li>See "Artifacts" in chapter 7 of the Dungeon Master's Guide for details on randomly determined properties.</li>
            </ul>
            <li>Reforged</li>
            <ul>
                        <li>While holding the hammer, you have resistance to fire damage and are immune to {@condition exhaustion}. Additionally, you have proficiency with <a href="/components/items/smith's-tools.html">smith's tools</a> and have advantage on all ability checks made using them.</li>
            </ul>
            <li>Spells</li>
            <ul>
                        <li>While the hammer is on your person, you can use an action to cast one of the following spells (save DC 18): {@spell animate objects}, {@spell heat metal}, {@spell fabricate}, {@spell magic weapon}, {@spell mending}, {@spell shatter}. Once you use the hammer to cast a spell, the spell can't be cast again from it until the next dusk.</li>
            </ul>
            <li>Destroying the Hammer</li>
            <ul>
                        <li>To destroy the hammer, it must be taken to the realm of Tizerus, in the Underworld. There it must be coated in clay from the Mire of Punishment. The heat of the hammer hardens the clay, which fuses to it after one month. Once fully hardened, the clay-covered hammer must be swallowed and digested by a kraken.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "Purphoros\u0027s hammer works wonders and disasters, the god of the forge using it to craft ground-breaking marvels and dangerous inventions in equal measure. Purphoros rarely bestows Akmon on mortals but occasionally leaves it unattended at his forge in Mount Velus. When Purphoros does permit a mortal to use the hammer, it\u0027s usually so they might bring an important work into being, wreck a force of destruction, or forge something remarkable somewhere the god isn\u0027t welcome.",
  {
    "entries": [
      "This magic warhammer grants a +3 bonus to attack and damage rolls made with it. When you hit with an attack using it, the target takes an extra {@damage 3d10} fire damage."
    ],
    "name": "Hammer of the Forge",
    "type": "entries"
  },
  {
    "entries": [
      "If you are a worshiper of Purphoros, you gain all the following benefits for which you have the required piety:",
      {
        "items": [
          {
            "entry": "The hammer has 1 randomly determined {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial} property.",
            "name": "Piety 10+",
            "type": "item"
          },
          {
            "entry": "The hammer has 1 randomly determined {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} property.",
            "name": "Piety 25+",
            "type": "item"
          },
          {
            "entry": "The hammer has 1 additional randomly determined {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} property.",
            "name": "Piety 50+",
            "type": "item"
          }
        ],
        "style": "list-hang-notitle",
        "type": "list"
      },
      "If you aren\u0027t a worshiper of Purphoros, the hammer has 2 randomly determined {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental} properties.",
      "See \"Artifacts\" in chapter 7 of the Dungeon Master\u0027s Guide for details on randomly determined properties."
    ],
    "name": "Blessing of the Forge",
    "type": "entries"
  },
  {
    "entries": [
      "While holding the hammer, you have resistance to fire damage and are immune to {@condition exhaustion}. Additionally, you have proficiency with <a href="/components/items/smith\u0027s-tools.html">smith\u0027s tools</a> and have advantage on all ability checks made using them."
    ],
    "name": "Reforged",
    "type": "entries"
  },
  {
    "entries": [
      "While the hammer is on your person, you can use an action to cast one of the following spells (save DC 18): {@spell animate objects}, {@spell heat metal}, {@spell fabricate}, {@spell magic weapon}, {@spell mending}, {@spell shatter}. Once you use the hammer to cast a spell, the spell can\u0027t be cast again from it until the next dusk."
    ],
    "name": "Spells",
    "type": "entries"
  },
  {
    "entries": [
      "To destroy the hammer, it must be taken to the realm of Tizerus, in the Underworld. There it must be coated in clay from the Mire of Punishment. The heat of the hammer hardens the clay, which fuses to it after one month. Once fully hardened, the clay-covered hammer must be swallowed and digested by a kraken."
    ],
    "name": "Destroying the Hammer",
    "type": "entries"
  }
]</pre>
</body>
</html>