<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Amulet of the Inferno</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>CoA</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>273</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>artifact</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>When Fierna was born, petitioners and devils from all over came to celebrate her birth. Many brought gifts and treasures, including a powerful infernal warlock. Recognizing the strength and inner fire of Fierna, the warlock gifted her with the Amulet of the Inferno, and it has been around her neck ever since.</li>
            <li>The Amulet of the Inferno is a magic necklace that grants a +3 bonus to spell save DC and spell attack bonus.</li>
            <li>Random Properties</li>
            <ul>
                        <li>The Amulet of the Inferno has the following random properties:</li>
                        <ul>
                                <li>3 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} properties</li>
                                <li>2 {@table Artifact Properties; Major Detrimental Properties|dmg|major detrimental} properties</li>
                        </ul>
            </ul>
            <li>Infernal Fire</li>
            <ul>
                        <li>While worn, the amulet augments any magical flames created by you, transforming normal fire into Hellfire. Hellfire ignores resistances and immunities to fire damage and deals double damage to creatures vulnerable to either fire or necrotic damage. It is also capable of melting stone, as well as igniting flammable objects.</li>
            </ul>
            <li>Raging Inferno</li>
            <ul>
                        <li>While attuned to the Amulet of the Inferno, you may use a bonus action to cast {@spell Fire Bolt} or {@spell Produce Flame}. The cantrips scale based on your total character level and use Intelligence as a spellcasting modifier if you're normally incapable of casting spells.</li>
            </ul>
            <li>Everburning</li>
            <ul>
                        <li>The Amulet of the Inferno grants resistance to cold damage and the ability to breathe underwater. Any magical flames you conjure are similarly augmented: they can be used underwater, can't be extinguished through any means, and can exude any temperature. While the casting of a fire spell can still be interrupted with {@spell Counterspell}, once the spell has been cast, any lingering flames can't be removed.</li>
            </ul>
            <li>Destroying the Amulet</li>
            <ul>
                        <li>The only creature capable of destroying the amulet is the warlock that created it. Nobody living knows the warlock's identity, making destroying the amulet almost impossible.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "When Fierna was born, petitioners and devils from all over came to celebrate her birth. Many brought gifts and treasures, including a powerful infernal warlock. Recognizing the strength and inner fire of Fierna, the warlock gifted her with the Amulet of the Inferno, and it has been around her neck ever since.",
  "The Amulet of the Inferno is a magic necklace that grants a +3 bonus to spell save DC and spell attack bonus.",
  {
    "entries": [
      "The Amulet of the Inferno has the following random properties:",
      {
        "items": [
          "3 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} properties",
          "2 {@table Artifact Properties; Major Detrimental Properties|dmg|major detrimental} properties"
        ],
        "type": "list"
      }
    ],
    "name": "Random Properties",
    "type": "entries"
  },
  {
    "entries": [
      "While worn, the amulet augments any magical flames created by you, transforming normal fire into Hellfire. Hellfire ignores resistances and immunities to fire damage and deals double damage to creatures vulnerable to either fire or necrotic damage. It is also capable of melting stone, as well as igniting flammable objects."
    ],
    "name": "Infernal Fire",
    "type": "entries"
  },
  {
    "entries": [
      "While attuned to the Amulet of the Inferno, you may use a bonus action to cast {@spell Fire Bolt} or {@spell Produce Flame}. The cantrips scale based on your total character level and use Intelligence as a spellcasting modifier if you\u0027re normally incapable of casting spells."
    ],
    "name": "Raging Inferno",
    "type": "entries"
  },
  {
    "entries": [
      "The Amulet of the Inferno grants resistance to cold damage and the ability to breathe underwater. Any magical flames you conjure are similarly augmented: they can be used underwater, can\u0027t be extinguished through any means, and can exude any temperature. While the casting of a fire spell can still be interrupted with {@spell Counterspell}, once the spell has been cast, any lingering flames can\u0027t be removed."
    ],
    "name": "Everburning",
    "type": "entries"
  },
  {
    "entries": [
      "The only creature capable of destroying the amulet is the warlock that created it. Nobody living knows the warlock\u0027s identity, making destroying the amulet almost impossible."
    ],
    "name": "Destroying the Amulet",
    "type": "entries"
  }
]</pre>
</body>
</html>