<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Aqua Delerium</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>DoDk</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>230</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>P</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td></td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This purple potion glows dimly with octarine light. It swirls and sparkles in its small stoppered bottle.</li>
            <li>When you drink this potion, you regain expended spell slots. Roll {@dice 1d6} - you choose spell slots to regain that have a combined level that is equal to or less than the result. None of the slots can be higher than 5th level.</li>
            <li>For one hour after drinking aqua delerium, roll {@dice 1d20} each time you cast a spell of 1st level or higher. On a 1, you trigger a random arcane anomaly (see Dungeons of Drakkenheim).</li>
            <li>If you consume more than one dose of aqua delerium before finishing your next long rest, you take ({@dice 1d12}) necrotic damage for each spell level regained, and your hit point maximum is reduced by an amount equal to the damage taken until you finish a long rest. This damage can't be reduced or prevented in any way.</li>
            <li>When a creature who cannot cast spells using spell slots drinks aqua delerium, it takes 10 ({@damage 3d6}) necrotic damage and gains one {@adventure level of contamination|DoDk|12}.</li>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This purple potion glows dimly with octarine light. It swirls and sparkles in its small stoppered bottle.",
  "When you drink this potion, you regain expended spell slots. Roll {@dice 1d6} - you choose spell slots to regain that have a combined level that is equal to or less than the result. None of the slots can be higher than 5th level.",
  "For one hour after drinking aqua delerium, roll {@dice 1d20} each time you cast a spell of 1st level or higher. On a 1, you trigger a random arcane anomaly (see Dungeons of Drakkenheim).",
  "If you consume more than one dose of aqua delerium before finishing your next long rest, you take ({@dice 1d12}) necrotic damage for each spell level regained, and your hit point maximum is reduced by an amount equal to the damage taken until you finish a long rest. This damage can\u0027t be reduced or prevented in any way.",
  "When a creature who cannot cast spells using spell slots drinks aqua delerium, it takes 10 ({@damage 3d6}) necrotic damage and gains one {@adventure level of contamination|DoDk|12}."
]</pre>
</body>
</html>