<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Arcanaloth's Music Box</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Arcanaloth's Music Box</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>ToA</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>188</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>OTH</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>unknown (magic)</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>75000</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This music box is made of dark wood with gold filigree. Each of its five sides is sculpted with the image of a horned woman playing a different <a href="/components/items/musical-instrument.html">musical instrument</a>: a <a href="/components/items/dulcimer.html">dulcimer</a>, a <a href="/components/items/flute.html">flute</a>, a harp, a <a href="/components/items/lyre.html">lyre</a>, and a <a href="/components/items/viol.html">viol</a>. While touching the box, you can use an action to make it play music featuring one of the instruments shown, which can be heard up to 60 feet away. You can also use an action to stop the music.']</td>
                </tr>
        </table>
    </body>
</html>