<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Armor of Resistance</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Armor of Resistance</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>162</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>GV</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>major</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['You have resistance to one type of damage while you wear this armor. The DM chooses the type or determines it randomly from the options below.', {'type': 'table', 'colStyles': ['col-2 text-center', 'col-10'], 'colLabels': ['d10', 'Damage Type'], 'rows': [['1', '{@item armor of acid resistance||Acid}'], ['2', '{@item armor of cold resistance||Cold}'], ['3', '{@item armor of fire resistance||Fire}'], ['4', '{@item armor of force resistance||Force}'], ['5', '{@item armor of lightning resistance||Lightning}'], ['6', '{@item armor of necrotic resistance||Necrotic}'], ['7', '{@item armor of poison resistance||Poison}'], ['8', '{@item armor of psychic resistance||Psychic}'], ['9', '{@item armor of radiant resistance||Radiant}'], ['10', '{@item armor of thunder resistance||Thunder}']]}]</td>
                </tr>
                <tr>
                    <td>items</td>
                    <td>['Armor of Acid Resistance', 'Armor of Cold Resistance', 'Armor of Fire Resistance', 'Armor of Force Resistance', 'Armor of Lightning Resistance', 'Armor of Necrotic Resistance', 'Armor of Poison Resistance', 'Armor of Psychic Resistance', 'Armor of Radiant Resistance', 'Armor of Thunder Resistance']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>