<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Axe of the Dwarvish Lords</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>DMG</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>221</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>M</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>artifact</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>4</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td>martial</td>
    </tr>
    <tr>
        <td>Property:</td>
        <td>['T', 'V']</td>
    </tr>
    <tr>
        <td>Range:</td>
        <td>20/60</td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td>1d8</td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td>S</td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td>+3</td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>Seeing the peril his people faced, a young dwarf prince came to believe that his people needed something to unite them. Thus, he set out to forge a weapon that would be such a symbol.</li>
            <li>Venturing deep under the mountains, deeper than any dwarf had ever delved, the young prince came to the blazing heart of a great volcano. With the aid of Moradin, the dwarven god of creation, he first crafted four great tools: the {@italic Brutal Pick}, the {@italic Earthheart Forge}, the {@italic Anvil of Songs}, and the {@italic Shaping Hammer}. With them, he forged the {@italic Axe of the Dwarvish Lords}.</li>
            <li>Armed with the artifact, the prince returned to the dwarf clans and brought peace. His axe ended grudges and answered slights. The clans became allies, and they threw back their enemies and enjoyed an era of prosperity. This young dwarf is remembered as the First King. When he became old, he passed the weapon, which had become his badge of office, to his heir. The rightful inheritors passed the axe on for many generations.</li>
            <li>Later, in a dark era marked by treachery and wickedness, the axe was lost in a bloody civil war fomented by greed for its power and the status it bestowed. Centuries later, the dwarves still search for the axe, and many adventurers have made careers of chasing after rumors and plundering old vaults to find it.</li>
            <li>Magic Weapon</li>
            <ul>
                        <li>The {@italic Axe of the Dwarvish Lords} is a magic weapon that grants a +3 bonus to attack and damage rolls made with it. The axe also functions as a <a href="/components/items/belt-of-dwarvenkind.html">belt of dwarvenkind</a>, a <a href="/components/items/dwarven-thrower.html">dwarven thrower</a>, and a <a href="/components/items/sword-of-sharpness.html">sword of sharpness</a>.</li>
            </ul>
            <li>Random Properties</li>
            <ul>
                        <li>The axe has the following randomly determined properties:</li>
                        <ul>
                                <li>2 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial properties}</li>
                                <li>1 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial property}</li>
                                <li>2 {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental properties}</li>
                        </ul>
            </ul>
            <li>Blessings of Moradin</li>
            <ul>
                        <li>If you are a dwarf attuned to the axe, you gain the following benefits:</li>
                        <ul>
                                <li>You have immunity to poison damage.</li>
                                <li>The range of your {@sense darkvision} increases by 60 feet.</li>
                                <li>You gain proficiency with <a href="/components/items/artisan's-tools.html">artisan's tools</a> related to blacksmithing, brewing, and stonemasonry.</li>
                        </ul>
            </ul>
            <li>Conjure Earth Elemental</li>
            <ul>
                        <li>If you are holding the axe, you can use your action to cast the {@spell conjure elemental} spell from it, summoning an {@creature earth elemental}. You can't use this property again until the next dawn.</li>
            </ul>
            <li>Travel the Depths</li>
            <ul>
                        <li>You can use an action to touch the axe to a fixed piece of dwarven stonework and cast the {@spell teleport} spell from the axe. If your intended destination is underground, there is no chance of a mishap or arriving somewhere unexpected. You can't use this property again until 3 days have passed.</li>
            </ul>
            <li>Curse</li>
            <ul>
                        <li>The axe bears a curse that affects any non-dwarf that becomes attuned to it. Even if the attunement ends, the curse remains. With each passing day, the creature's physical appearance and stature become more dwarflike. After seven days, the creature looks like a typical dwarf, but the creature neither loses its racial traits nor gains the racial traits of a dwarf. The physical changes wrought by the axe aren't considered magical in nature (and therefore can't be dispelled), but they can be undone by any effect that removes a curse, such as a {@spell greater restoration} or {@spell remove curse} spell.</li>
            </ul>
            <li>Destroying the Axe</li>
            <ul>
                        <li>The only way to destroy the axe is to melt it down in the {@italic Earthheart Forge}, where it was created. It must remain in the burning forge for fifty years before it finally succumbs to the fire and is consumed.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "Seeing the peril his people faced, a young dwarf prince came to believe that his people needed something to unite them. Thus, he set out to forge a weapon that would be such a symbol.",
  "Venturing deep under the mountains, deeper than any dwarf had ever delved, the young prince came to the blazing heart of a great volcano. With the aid of Moradin, the dwarven god of creation, he first crafted four great tools: the {@italic Brutal Pick}, the {@italic Earthheart Forge}, the {@italic Anvil of Songs}, and the {@italic Shaping Hammer}. With them, he forged the {@italic Axe of the Dwarvish Lords}.",
  "Armed with the artifact, the prince returned to the dwarf clans and brought peace. His axe ended grudges and answered slights. The clans became allies, and they threw back their enemies and enjoyed an era of prosperity. This young dwarf is remembered as the First King. When he became old, he passed the weapon, which had become his badge of office, to his heir. The rightful inheritors passed the axe on for many generations.",
  "Later, in a dark era marked by treachery and wickedness, the axe was lost in a bloody civil war fomented by greed for its power and the status it bestowed. Centuries later, the dwarves still search for the axe, and many adventurers have made careers of chasing after rumors and plundering old vaults to find it.",
  {
    "entries": [
      "The {@italic Axe of the Dwarvish Lords} is a magic weapon that grants a +3 bonus to attack and damage rolls made with it. The axe also functions as a <a href="/components/items/belt-of-dwarvenkind.html">belt of dwarvenkind</a>, a <a href="/components/items/dwarven-thrower.html">dwarven thrower</a>, and a <a href="/components/items/sword-of-sharpness.html">sword of sharpness</a>."
    ],
    "name": "Magic Weapon",
    "type": "entries"
  },
  {
    "entries": [
      "The axe has the following randomly determined properties:",
      {
        "items": [
          "2 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial properties}",
          "1 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial property}",
          "2 {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental properties}"
        ],
        "type": "list"
      }
    ],
    "name": "Random Properties",
    "type": "entries"
  },
  {
    "entries": [
      "If you are a dwarf attuned to the axe, you gain the following benefits:",
      {
        "items": [
          "You have immunity to poison damage.",
          "The range of your {@sense darkvision} increases by 60 feet.",
          "You gain proficiency with <a href="/components/items/artisan\u0027s-tools.html">artisan\u0027s tools</a> related to blacksmithing, brewing, and stonemasonry."
        ],
        "type": "list"
      }
    ],
    "name": "Blessings of Moradin",
    "type": "entries"
  },
  {
    "entries": [
      "If you are holding the axe, you can use your action to cast the {@spell conjure elemental} spell from it, summoning an {@creature earth elemental}. You can\u0027t use this property again until the next dawn."
    ],
    "name": "Conjure Earth Elemental",
    "type": "entries"
  },
  {
    "entries": [
      "You can use an action to touch the axe to a fixed piece of dwarven stonework and cast the {@spell teleport} spell from the axe. If your intended destination is underground, there is no chance of a mishap or arriving somewhere unexpected. You can\u0027t use this property again until 3 days have passed."
    ],
    "name": "Travel the Depths",
    "type": "entries"
  },
  {
    "entries": [
      "The axe bears a curse that affects any non-dwarf that becomes attuned to it. Even if the attunement ends, the curse remains. With each passing day, the creature\u0027s physical appearance and stature become more dwarflike. After seven days, the creature looks like a typical dwarf, but the creature neither loses its racial traits nor gains the racial traits of a dwarf. The physical changes wrought by the axe aren\u0027t considered magical in nature (and therefore can\u0027t be dispelled), but they can be undone by any effect that removes a curse, such as a {@spell greater restoration} or {@spell remove curse} spell."
    ],
    "name": "Curse",
    "type": "entries"
  },
  {
    "entries": [
      "The only way to destroy the axe is to melt it down in the {@italic Earthheart Forge}, where it was created. It must remain in the burning forge for fifty years before it finally succumbs to the fire and is consumed."
    ],
    "name": "Destroying the Axe",
    "type": "entries"
  }
]</pre>
</body>
</html>