<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Baba Yaga's Mortar and Pestle</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>TCE</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>121</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>artifact</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td>+3</td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>The creations of the immortal hag Baba Yaga defy the laws of mortal magic. Among the notorious implements that cement her legend on countless worlds are the artifacts that propel her through the planes: Baba Yaga's Mortar and Pestle. These signature tools of Baba Yaga are a single artifact for purposes of attunement. Should the two objects become separated, the pestle appears next to the mortar at the next dawn.</li>
            <li>Random Properties</li>
            <ul>
                        <li>This artifact has the following random properties, which you can determine by rolling on the tables in the "Artifacts" section of the {@book Dungeon Master's Guide|DMG}:</li>
                        <ul>
                                <li>2 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial} properties</li>
                                <li>1 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} property</li>
                                <li>1 {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental} property</li>
                        </ul>
            </ul>
            <li>Properties of the Mortar</li>
            <ul>
                        <li>The mortar is a Tiny wooden bowl. However, the mortar increases in size to accommodate anything you place inside, expanding-if there's enough space-up to Large size, meaning it can hold even a Large creature.</li>
            </ul>
            <li>Properties of the Pestle</li>
            <ul>
                        <li>The pestle is a 6-inch-long, worn wooden tool. Once during your turn while you are holding the pestle, you can extend it into a quarterstaff or shrink it back into a pestle (no action required). As a quarterstaff, the pestle is a magic weapon that grants a +3 bonus to attack and damage rolls made with it.</li>
                        <li>The pestle has 12 charges. When you hit with a melee attack using the pestle, you can expend up to 3 of its charges to deal an extra {@damage 1d8} force damage for each charge expended. The pestle regains all expended charges daily at dawn.</li>
            </ul>
            <li>Perfect Tools</li>
            <ul>
                        <li>While holding the mortar and pestle, you can use your action to say the name of any nonmagical plant, mineral, or fluid and an amount of the material worth 10 gp or less. The mortar instantly fills with the desired amount of that material. Once you use this action, you can't do so again until you finish a short or long rest.</li>
                        <li>You can also use the artifact as <a href="/components/items/alchemist's-supplies.html">alchemist's supplies</a>, <a href="/components/items/brewer's-supplies.html">brewer's supplies</a>, <a href="/components/items/cook's-utensils.html">cook's utensils</a>, an <a href="/components/items/herbalism-kit.html">herbalism kit</a>, and a <a href="/components/items/poisoner's-kit.html">poisoner's kit</a>. You have advantage on any check you make using the artifact as one of these tools.</li>
            </ul>
            <li>Primal Parts</li>
            <ul>
                        <li>As an action while the pestle and the mortar is within 5 feet of you, you can command the pestle to grind. For the next minute, or until you use your action to verbally command it to stop, the pestle moves on its own, grinding the contents of the mortar into a mush or fine powder that's equally useful for cooking or alchemy. At the start of each of your turns, whatever is in the mortar takes {@damage 4d10} force damage. If this reduces the target's hit points to 0, the target is reduced to powder, pulp, or paste, as appropriate. Only magic items are unaffected. If you wish, when the pestle stops, you can have the mortar separate its contents-like powdered bone, crushed herbs, pulped organs-into separate piles.</li>
            </ul>
            <li>Traverse the Night</li>
            <ul>
                        <li>If you are holding the pestle while you are inside the mortar, you can use your action to verbally command the mortar to travel to a specific place or creature.</li>
                        <li>You don't need to know where your destination is, but it must be a specific destination-not just the nearest river or a red dragon's lair. If the stated destination is within 1,000 miles of you, the mortar lifts into the air and vanishes. You and any creatures in the mortar travel through a dreamlike sky, with hazy reflections of the world passing by below. Creatures might see images of you streaking through the sky between your point of origin and the destination. You arrive at the location 1 hour later or, if it is night, 1 minute later.</li>
            </ul>
            <li>Bones Know Their Home</li>
            <ul>
                        <li>When you command the mortar to travel, you can instead throw out the dust or paste of something ground by the mortar and name a location on a different plane of existence or a different world on the Material Plane. If that material came from a creature native to the named plane or world, the mortar travels through an empty night sky to an unoccupied space at that destination, arriving in 1 minute.</li>
            </ul>
            <li>Destroying the Mortar and Pestle</li>
            <ul>
                        <li>The mortar and pestle are destroyed if they are crushed underfoot by the {@i Dancing Hut of Baba Yaga} or by Baba Yaga herself.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "The creations of the immortal hag Baba Yaga defy the laws of mortal magic. Among the notorious implements that cement her legend on countless worlds are the artifacts that propel her through the planes: Baba Yaga\u0027s Mortar and Pestle. These signature tools of Baba Yaga are a single artifact for purposes of attunement. Should the two objects become separated, the pestle appears next to the mortar at the next dawn.",
  {
    "entries": [
      "This artifact has the following random properties, which you can determine by rolling on the tables in the \"Artifacts\" section of the {@book Dungeon Master\u0027s Guide|DMG}:",
      {
        "items": [
          "2 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial} properties",
          "1 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} property",
          "1 {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental} property"
        ],
        "type": "list"
      }
    ],
    "name": "Random Properties",
    "type": "entries"
  },
  {
    "entries": [
      "The mortar is a Tiny wooden bowl. However, the mortar increases in size to accommodate anything you place inside, expanding-if there\u0027s enough space-up to Large size, meaning it can hold even a Large creature."
    ],
    "name": "Properties of the Mortar",
    "type": "entries"
  },
  {
    "entries": [
      "The pestle is a 6-inch-long, worn wooden tool. Once during your turn while you are holding the pestle, you can extend it into a quarterstaff or shrink it back into a pestle (no action required). As a quarterstaff, the pestle is a magic weapon that grants a +3 bonus to attack and damage rolls made with it.",
      "The pestle has 12 charges. When you hit with a melee attack using the pestle, you can expend up to 3 of its charges to deal an extra {@damage 1d8} force damage for each charge expended. The pestle regains all expended charges daily at dawn."
    ],
    "name": "Properties of the Pestle",
    "type": "entries"
  },
  {
    "entries": [
      "While holding the mortar and pestle, you can use your action to say the name of any nonmagical plant, mineral, or fluid and an amount of the material worth 10 gp or less. The mortar instantly fills with the desired amount of that material. Once you use this action, you can\u0027t do so again until you finish a short or long rest.",
      "You can also use the artifact as <a href="/components/items/alchemist\u0027s-supplies.html">alchemist\u0027s supplies</a>, <a href="/components/items/brewer\u0027s-supplies.html">brewer\u0027s supplies</a>, <a href="/components/items/cook\u0027s-utensils.html">cook\u0027s utensils</a>, an <a href="/components/items/herbalism-kit.html">herbalism kit</a>, and a <a href="/components/items/poisoner\u0027s-kit.html">poisoner\u0027s kit</a>. You have advantage on any check you make using the artifact as one of these tools."
    ],
    "name": "Perfect Tools",
    "type": "entries"
  },
  {
    "entries": [
      "As an action while the pestle and the mortar is within 5 feet of you, you can command the pestle to grind. For the next minute, or until you use your action to verbally command it to stop, the pestle moves on its own, grinding the contents of the mortar into a mush or fine powder that\u0027s equally useful for cooking or alchemy. At the start of each of your turns, whatever is in the mortar takes {@damage 4d10} force damage. If this reduces the target\u0027s hit points to 0, the target is reduced to powder, pulp, or paste, as appropriate. Only magic items are unaffected. If you wish, when the pestle stops, you can have the mortar separate its contents-like powdered bone, crushed herbs, pulped organs-into separate piles."
    ],
    "name": "Primal Parts",
    "type": "entries"
  },
  {
    "entries": [
      "If you are holding the pestle while you are inside the mortar, you can use your action to verbally command the mortar to travel to a specific place or creature.",
      "You don\u0027t need to know where your destination is, but it must be a specific destination-not just the nearest river or a red dragon\u0027s lair. If the stated destination is within 1,000 miles of you, the mortar lifts into the air and vanishes. You and any creatures in the mortar travel through a dreamlike sky, with hazy reflections of the world passing by below. Creatures might see images of you streaking through the sky between your point of origin and the destination. You arrive at the location 1 hour later or, if it is night, 1 minute later."
    ],
    "name": "Traverse the Night",
    "type": "entries"
  },
  {
    "entries": [
      "When you command the mortar to travel, you can instead throw out the dust or paste of something ground by the mortar and name a location on a different plane of existence or a different world on the Material Plane. If that material came from a creature native to the named plane or world, the mortar travels through an empty night sky to an unoccupied space at that destination, arriving in 1 minute."
    ],
    "name": "Bones Know Their Home",
    "type": "entries"
  },
  {
    "entries": [
      "The mortar and pestle are destroyed if they are crushed underfoot by the {@i Dancing Hut of Baba Yaga} or by Baba Yaga herself."
    ],
    "name": "Destroying the Mortar and Pestle",
    "type": "entries"
  }
]</pre>
</body>
</html>