<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Basic Fishing Equipment</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>AAG</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>21</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>G</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>none</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td>10</td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td></td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>Basic Fishing Equipment includes a pole, a line, a hook, and either a lure or some bait.</li>
            <li>Fishing is a popular pastime in Wildspace and the Astral Sea, though this activity isn't possible aboard a ship that is moving faster than its flying speed. At the end of each hour spent fishing, a character can make a DC 15 Wisdom ({@skill Survival}) check. A failed check indicates no fish is caught during that hour. On a successful check, roll a {@dice d10} and consult the Fishing table to determine the catch.</li>
            <li></li>
            <ul>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "Basic Fishing Equipment includes a pole, a line, a hook, and either a lure or some bait.",
  "Fishing is a popular pastime in Wildspace and the Astral Sea, though this activity isn\u0027t possible aboard a ship that is moving faster than its flying speed. At the end of each hour spent fishing, a character can make a DC 15 Wisdom ({@skill Survival}) check. A failed check indicates no fish is caught during that hour. On a successful check, roll a {@dice d10} and consult the Fishing table to determine the catch.",
  {
    "caption": "",
    "colLabels": [
      "d10",
      "Catch"
    ],
    "colStyles": [
      "col-2 text-center",
      "col-10"
    ],
    "rows": [
      [
        "1\u20132",
        "Tiny, inedible fish (a creature that consumes it is poisoned for 1 hour)"
      ],
      [
        "3\u20135",
        "Tiny, edible fish (feeds one person)"
      ],
      [
        "6\u20138",
        "Small, edible fish (feeds up to four people)"
      ],
      [
        "9",
        "Hostile {@creature space eel|BAM} (see {@book Boo\u0027s Astral Menagerie|BAM}; feeds up to twelve people)"
      ],
      [
        "10",
        "Hostile {@creature gray scavver|BAM} (see {@book Boo\u0027s Astral Menagerie|BAM}; feeds up to twenty people), some other creature of the DM\u0027s choosing, or an Tiny object of the DM\u0027s choosing"
      ]
    ],
    "type": "table"
  }
]</pre>
</body>
</html>