<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Basket</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Basket</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>PHB</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>153</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>basicRules</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>G</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['A basket holds 2 cubic feet or 40 pounds of gear.']</td>
                </tr>
                <tr>
                    <td>containerCapacity</td>
                    <td>{'weight': [40]}</td>
                </tr>
        </table>
    </body>
</html>