<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Blackrazor</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>DMG</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>216</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>M</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>legendary</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td>martial</td>
    </tr>
    <tr>
        <td>Property:</td>
        <td>['H', '2H']</td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td>2d6</td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td>S</td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td>+3</td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>by a creature of non-lawful alignment</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>Hidden in the dungeon of White Plume Mountain, Blackrazor shines like a piece of night sky filled with stars. Its black scabbard is decorated with pieces of cut obsidian.</li>
            <li>You gain a +3 bonus to attack and damage rolls made with this magic weapon. It has the following additional properties.</li>
            <li>Devour Soul</li>
            <ul>
                        <li>Whenever you use it to reduce a creature to 0 hit points, the sword slays the creature and devours its soul, unless it is a construct or an undead. A creature whose soul has been devoured by Blackrazor can be restored to life only by a {@spell wish} spell.</li>
                        <li>When it devours a soul, Blackrazor grants you temporary hit points equal to the slain creature's hit point maximum. These hit points fade after 24 hours. As long as these temporary hit points last and you keep Blackrazor in hand, you have advantage on attack rolls, saving throws, and ability checks.</li>
                        <li>If you hit an undead with this weapon, you take {@damage 1d10} necrotic damage and the target regains {@dice 1d10} hit points. If this necrotic damage reduces you to 0 hit points, Blackrazor devours your soul.</li>
            </ul>
            <li>Soul Hunter</li>
            <ul>
                        <li>While you hold the weapon. you are aware of the presence of Tiny or larger creatures within 60 feet of you that aren't constructs or undead. You also can't be {@condition charmed} or {@condition frightened}.</li>
                        <li>Blackrazor can cast the {@spell haste} spell on you once per day. It decides when to cast the spell and maintains {@status concentration} on it so that you don't have to.</li>
            </ul>
            <li>Sentience</li>
            <ul>
                        <li>Blackrazor is a sentient chaotic neutral weapon with an Intelligence of 17, a Wisdom of 10, and a Charisma of 19. It has hearing and {@sense darkvision} out to a range of 120 feet.</li>
                        <li>The weapon can speak, read, and understand Common, and can communicate with its wielder telepathically. Its voice is deep and echoing. While you are attuned to it, Blackrazor also understands every language you know.</li>
            </ul>
            <li>Personality</li>
            <ul>
                        <li>Blackrazor speaks with an imperious tone, as though accustomed to being obeyed.</li>
                        <li>The sword's purpose is to consume souls. It doesn't care whose souls it eats, including the wielder's. The sword believes that all matter and energy sprang from a void of negative energy and will one day return to it. Blackrazor is meant to hurry that process along.</li>
                        <li>Despite its nihilism, Blackrazor feels a strange kinship to <a href="/components/items/wave.html">Wave</a> and <a href="/components/items/whelm.html">Whelm</a>, two other weapons locked away under White Plume Mountain. It wants the three weapons to be united again and wielded together in combat, even though it violently disagrees with <a href="/components/items/whelm.html">Whelm</a> and finds <a href="/components/items/wave.html">Wave</a> tedious.</li>
                        <li>Blackrazor's hunger for souls must be regularly fed. If the sword goes three days or more without consuming a soul, a conflict between it and its wielder occurs at the next sunset.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "Hidden in the dungeon of White Plume Mountain, Blackrazor shines like a piece of night sky filled with stars. Its black scabbard is decorated with pieces of cut obsidian.",
  "You gain a +3 bonus to attack and damage rolls made with this magic weapon. It has the following additional properties.",
  {
    "entries": [
      "Whenever you use it to reduce a creature to 0 hit points, the sword slays the creature and devours its soul, unless it is a construct or an undead. A creature whose soul has been devoured by Blackrazor can be restored to life only by a {@spell wish} spell.",
      "When it devours a soul, Blackrazor grants you temporary hit points equal to the slain creature\u0027s hit point maximum. These hit points fade after 24 hours. As long as these temporary hit points last and you keep Blackrazor in hand, you have advantage on attack rolls, saving throws, and ability checks.",
      "If you hit an undead with this weapon, you take {@damage 1d10} necrotic damage and the target regains {@dice 1d10} hit points. If this necrotic damage reduces you to 0 hit points, Blackrazor devours your soul."
    ],
    "name": "Devour Soul",
    "type": "entries"
  },
  {
    "entries": [
      "While you hold the weapon. you are aware of the presence of Tiny or larger creatures within 60 feet of you that aren\u0027t constructs or undead. You also can\u0027t be {@condition charmed} or {@condition frightened}.",
      "Blackrazor can cast the {@spell haste} spell on you once per day. It decides when to cast the spell and maintains {@status concentration} on it so that you don\u0027t have to."
    ],
    "name": "Soul Hunter",
    "type": "entries"
  },
  {
    "entries": [
      "Blackrazor is a sentient chaotic neutral weapon with an Intelligence of 17, a Wisdom of 10, and a Charisma of 19. It has hearing and {@sense darkvision} out to a range of 120 feet.",
      "The weapon can speak, read, and understand Common, and can communicate with its wielder telepathically. Its voice is deep and echoing. While you are attuned to it, Blackrazor also understands every language you know."
    ],
    "name": "Sentience",
    "type": "entries"
  },
  {
    "entries": [
      "Blackrazor speaks with an imperious tone, as though accustomed to being obeyed.",
      "The sword\u0027s purpose is to consume souls. It doesn\u0027t care whose souls it eats, including the wielder\u0027s. The sword believes that all matter and energy sprang from a void of negative energy and will one day return to it. Blackrazor is meant to hurry that process along.",
      "Despite its nihilism, Blackrazor feels a strange kinship to <a href="/components/items/wave.html">Wave</a> and <a href="/components/items/whelm.html">Whelm</a>, two other weapons locked away under White Plume Mountain. It wants the three weapons to be united again and wielded together in combat, even though it violently disagrees with <a href="/components/items/whelm.html">Whelm</a> and finds <a href="/components/items/wave.html">Wave</a> tedious.",
      "Blackrazor\u0027s hunger for souls must be regularly fed. If the sword goes three days or more without consuming a soul, a conflict between it and its wielder occurs at the next sunset."
    ],
    "name": "Personality",
    "type": "entries"
  }
]</pre>
</body>
</html>