<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Cape of the Mountebank</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Cape of the Mountebank</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>157</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>major</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["This cape smells faintly of brimstone. While wearing it, you can use it to cast the {@spell dimension door} spell as an action. This property of the cape can't be used again until the next dawn.", 'When you disappear, you leave behind a cloud of smoke, and you appear in a similar cloud of smoke at your destination. The smoke lightly obscures the space you left and the space you appear in, and it dissipates at the end of your next turn. A light or stronger wind disperses the smoke.']</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['dimension door']</td>
                </tr>
                <tr>
                    <td>lootTables</td>
                    <td>['Magic Item Table G']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>