<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Conch of Teleportation</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Conch of Teleportation</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>SKT</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>234</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>very rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This item is an ordinary, albeit rather large, conch shell that has been inscribed with the uvar rune. The conch measures 2½ feet long and weighs 20 pounds.', "As an action, you can cast the {@spell teleport} spell by blowing into the shell. The destination is fixed, and there is no chance of either a mishap or the spell being off target. Anyone teleported by the conch appears in a specific location designated by the item's creator at the time the uvar rune is inscribed on the conch. It doesn't allow teleportation to any other destination. Once its spell is cast, the conch can't be used again until the next dawn."]</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['teleport']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>