<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Conch of Safe Rest</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Conch of Safe Rest</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TTP</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>OTH</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>unknown (magic)</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["You can use an action to blow this pearlescent conch like a <a href="/components/items/horn.html">horn</a>, creating an effect identical with that of a {@spell Leomund's tiny hut} spell. The conch disappears once the spell takes effect. The effect ends if you leave the spell's area."]</td>
                </tr>
        </table>
    </body>
</html>