<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Condemner (Exalted)</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Condemner (Exalted)</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TDCSR</td>
                </tr>
                <tr>
                    <td>_copy</td>
                    <td>{'name': 'Condemner (Awakened)', 'source': 'TDCSR', '_mod': {'entries': [{'mode': 'appendArr', 'items': {'entries': [{'type': 'entries', 'name': 'Exalted', 'entries': ['When Condemner reaches an exalted state, you gain the following benefits:', {'type': 'list', 'items': ["The weapon's bonus to attack and damage rolls increases to +3.", 'The extra poison damage dealt by the weapon increases to 1d8.', "The save DC for the weapon's hold person spell increases to 17.", 'You gain an additional effect that can be triggered in place of damage when you hit with an attack:', {'type': 'list', 'items': ['You cast the {@spell blight} spell on the target (save {@dc 17}).']}]}, "This effect can't be used again until you finish a {@quickref resting|PHB|2|0|short or long rest}."]}]}}]}, '_preserve': {'page': True, 'fluff': True}}</td>
                </tr>
                <tr>
                    <td>bonusWeapon</td>
                    <td>+3</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['fog cloud', 'silence', 'hold person', 'blight']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>