<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Crown of Westemär</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>DoDk</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>233</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>legendary</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>A character may only attune to the Crown of Westemär by performing a special one hour ceremony with six other characters who are each attuned to a different Seal of Drakkenheim. See the "Developments" section in Chapter 9: Castle Drakken for details on this ritual.</li>
            <li>The crown has 3 charges. While wearing it, you can use an action to expend 1 charge to cast the {@spell wish} spell from it. The crown regains one expended charge every ten years.</li>
            <li>The {@creature ancient bronze dragon} Minazorond, the {@creature tower dragon|DoDk|tower dragons}, and the {@creature wall gargoyle|DoDk|wall gargoyles} are under your control and obey your spoken commands while you wear the crown.</li>
            <li>While wearing the crown and seated on the Throne of Drakkenheim in Castle Drakken, you may use an action to communicate telepathically with one dragon or twelve gargoyles so long as they are within 100 miles of Castle Drakken. When you do, you can issue commands to those creatures, see through one of the creature's eyes, and hear what it hears until the start of your next turn, gaining the benefits of any special senses that the creature has. During this time, you are deaf and blind with regard to your own senses.</li>
            <li>Crown Authority</li>
            <ul>
                        <li>A character cannot attune to more than one Seal of Drakkenheim. Guardian constructs in Drakkenheim such as {@creature wall gargoyle|DoDk|wall gargoyles} and {@creature tower dragon|DoDk|tower dragons} do not attack you while you are attuned to one of the Seals of Drakkenheim. An individual guardian ignores this effect for 24 hours if you attack it or cast a spell upon it.</li>
                        <li>As an action, you may present a Seal of Drakkenheim to rebuke the guardians. You make an opposed Charisma ability check against each {@creature wall gargoyle|DoDk} or {@creature tower dragon|DoDk} that can see or hear you within 30 feet of you. If you win the contest, the creature is rebuked for 1 minute or until it takes any damage. A rebuked creature doesn't move, and can't take actions or reactions. A creature who wins the contest is immune to your rebuke for 24 hours.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "A character may only attune to the Crown of Westem\u00e4r by performing a special one hour ceremony with six other characters who are each attuned to a different Seal of Drakkenheim. See the \"Developments\" section in Chapter 9: Castle Drakken for details on this ritual.",
  "The crown has 3 charges. While wearing it, you can use an action to expend 1 charge to cast the {@spell wish} spell from it. The crown regains one expended charge every ten years.",
  "The {@creature ancient bronze dragon} Minazorond, the {@creature tower dragon|DoDk|tower dragons}, and the {@creature wall gargoyle|DoDk|wall gargoyles} are under your control and obey your spoken commands while you wear the crown.",
  "While wearing the crown and seated on the Throne of Drakkenheim in Castle Drakken, you may use an action to communicate telepathically with one dragon or twelve gargoyles so long as they are within 100 miles of Castle Drakken. When you do, you can issue commands to those creatures, see through one of the creature\u0027s eyes, and hear what it hears until the start of your next turn, gaining the benefits of any special senses that the creature has. During this time, you are deaf and blind with regard to your own senses.",
  {
    "entries": [
      "A character cannot attune to more than one Seal of Drakkenheim. Guardian constructs in Drakkenheim such as {@creature wall gargoyle|DoDk|wall gargoyles} and {@creature tower dragon|DoDk|tower dragons} do not attack you while you are attuned to one of the Seals of Drakkenheim. An individual guardian ignores this effect for 24 hours if you attack it or cast a spell upon it.",
      "As an action, you may present a Seal of Drakkenheim to rebuke the guardians. You make an opposed Charisma ability check against each {@creature wall gargoyle|DoDk} or {@creature tower dragon|DoDk} that can see or hear you within 30 feet of you. If you win the contest, the creature is rebuked for 1 minute or until it takes any damage. A rebuked creature doesn\u0027t move, and can\u0027t take actions or reactions. A creature who wins the contest is immune to your rebuke for 24 hours."
    ],
    "name": "Crown Authority",
    "type": "entries"
  }
]</pre>
</body>
</html>