<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Crystal Ball of Mind Reading</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Crystal Ball of Mind Reading</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>159</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>major</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>legendary</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This <a href="/components/items/crystal-ball.html">crystal ball</a> is about 6 inches in diameter. While touching it, you can cast the {@spell scrying} spell (save DC 17) with it.', "You can use an action to cast the {@spell detect thoughts} spell (save DC 17) while you are {@spell scrying} with the <a href="/components/items/crystal-ball.html">crystal ball</a>, targeting creatures you can see within 30 feet of the spell's sensor. You don't need to concentrate on this {@spell detect thoughts} to maintain it during its duration, but it ends if {@spell scrying} ends."]</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['scrying', 'detect thoughts']</td>
                </tr>
                <tr>
                    <td>lootTables</td>
                    <td>['Magic Item Table I']</td>
                </tr>
        </table>
    </body>
</html>