<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Cube of Force</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>DMG</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>159</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This cube is about an inch across. Each face has a distinct marking on it that can be pressed. The cube starts with 36 charges, and it regains {@dice 1d20} expended charges daily at dawn.</li>
            <li>You can use an action to press one of the cube's faces, expending a number of charges based on the chosen face, as shown in the Cube of Force Faces table. Each face has a different effect. If the cube has insufficient charges remaining, nothing happens. Otherwise, a barrier of {@condition invisible} force springs into existence, forming a cube 15 feet on a side. The barrier is centered on you, moves with you, and lasts for 1 minute, until you use an action to press the cube's sixth face, or the cube runs out of charges. You can change the barrier's effect by pressing a different face of the cube and expending the requisite number of charges, resetting the duration. If your movement causes the barrier to come into contact with a solid object that can't pass through the cube, you can't move any closer to that object as long as the barrier remains.</li>
            <li></li>
            <ul>
            </ul>
            <li>The cube loses charges when the barrier is targeted by certain spells or comes into contact with certain spell or magic item effects, as shown in the table below.</li>
            <li></li>
            <ul>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This cube is about an inch across. Each face has a distinct marking on it that can be pressed. The cube starts with 36 charges, and it regains {@dice 1d20} expended charges daily at dawn.",
  "You can use an action to press one of the cube\u0027s faces, expending a number of charges based on the chosen face, as shown in the Cube of Force Faces table. Each face has a different effect. If the cube has insufficient charges remaining, nothing happens. Otherwise, a barrier of {@condition invisible} force springs into existence, forming a cube 15 feet on a side. The barrier is centered on you, moves with you, and lasts for 1 minute, until you use an action to press the cube\u0027s sixth face, or the cube runs out of charges. You can change the barrier\u0027s effect by pressing a different face of the cube and expending the requisite number of charges, resetting the duration. If your movement causes the barrier to come into contact with a solid object that can\u0027t pass through the cube, you can\u0027t move any closer to that object as long as the barrier remains.",
  {
    "caption": "Cube of Force Faces",
    "colLabels": [
      "Face",
      "Charges",
      "Effect"
    ],
    "colStyles": [
      "col-1 text-center",
      "col-1 text-center",
      "col-10"
    ],
    "rows": [
      [
        "1",
        "1",
        "Gases, wind, and fog can\u0027t pass through the barrier."
      ],
      [
        "2",
        "2",
        "Nonliving matter can\u0027t pass through the barrier. Walls, floors, and ceilings can pass through at your discretion."
      ],
      [
        "3",
        "3",
        "Living matter can\u0027t pass through the barrier."
      ],
      [
        "4",
        "4",
        "Spell effects can\u0027t pass through the barrier."
      ],
      [
        "5",
        "5",
        "Nothing can pass through the barrier. Walls, floors, and ceilings can pass through at your discretion."
      ],
      [
        "6",
        "0",
        "The barrier deactivates."
      ]
    ],
    "type": "table"
  },
  "The cube loses charges when the barrier is targeted by certain spells or comes into contact with certain spell or magic item effects, as shown in the table below.",
  {
    "colLabels": [
      "Spell or item",
      "Charges Lost"
    ],
    "colStyles": [
      "col-3",
      "col-9"
    ],
    "rows": [
      [
        "{@spell Disintegrate}",
        "{@dice 1d12}"
      ],
      [
        "<a href="/components/items/horn-of-blasting.html">Horn of blasting</a>",
        "{@dice 1d10}"
      ],
      [
        "{@spell Passwall}",
        "{@dice 1d6}"
      ],
      [
        "{@spell Prismatic spray}",
        "{@dice 1d20}"
      ],
      [
        "{@spell Wall of fire}",
        "{@dice 1d4}"
      ]
    ],
    "type": "table"
  }
]</pre>
</body>
</html>