<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Diplomat's Pack</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Diplomat's Pack</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>PHB</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>151</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>basicRules</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>G</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>36</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>3900</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['Includes:', {'type': 'list', 'items': ['a {@item chest|phb}', '2 {@item Map or Scroll Case|phb|cases for maps and scrolls}', 'a set of {@item fine clothes|phb}', 'a {@item Ink (1-ounce bottle)|phb|bottle of ink}', 'an {@item ink pen|phb}', 'a {@item lamp|phb}', '2 {@item Oil (flask)|phb|flasks of oil}', '5 {@item Paper (one sheet)|phb|sheets of paper}', 'a {@item Perfume (vial)|phb|vial of perfume}', '{@item sealing wax|phb}', '{@item soap|phb}']}]</td>
                </tr>
                <tr>
                    <td>packContents</td>
                    <td>['chest|phb', {'item': 'map or scroll case|phb', 'quantity': 2}, 'fine clothes|phb', 'ink (1-ounce bottle)|phb', 'ink pen|phb', 'lamp|phb', {'item': 'oil (flask)|phb', 'quantity': 2}, {'item': 'paper (one sheet)|phb', 'quantity': 5}, 'perfume (vial)|phb', 'sealing wax|phb', 'soap|phb']</td>
                </tr>
        </table>
    </body>
</html>