<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Doublet of Dramatic Demise</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Doublet of Dramatic Demise</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TDCSR</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>195</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>common</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This striking satin jacket allows you to make the most of your dying moments. When you drop to 0 hit points while wearing this doublet, you do not fall {@condition unconscious}. Instead, you are {@condition incapacitated} and your speed becomes 0, but you can speak and communicate.', 'You make death {@quickref saving throws|PHB|2|1} as normal, but if you roll a 1 on the {@dice d20}, you swoon with a loud gasp and die instantly.']</td>
                </tr>
        </table>
    </body>
</html>