<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Driftglobe</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Driftglobe</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>166</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>minor</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>uncommon</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["This small sphere of thick glass weighs 1 pound. If you are within 60 feet of it, you can speak its command word and cause it to emanate the {@spell light} or {@spell daylight} spell. Once used, the {@spell daylight} effect can't be used again until the next dawn.", 'You can speak another command word as an action to make the illuminated globe rise into the air and float no more than 5 feet off the ground. The globe hovers in this way until you or another creature grasps it. If you move more than 60 feet from the hovering globe, it follows you until it is within 60 feet of you. It takes the shortest route to do so. If prevented from moving, the globe sinks gently to the ground and becomes inactive, and its light winks out.']</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['light', 'daylight']</td>
                </tr>
                <tr>
                    <td>lootTables</td>
                    <td>['Magic Item Table A', 'Magic Item Table B']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>