<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Earthboard</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>TDCSR</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>198</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>40</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>An earthboard is a slab of granite about three inches thick, nine feet long, and two feet wide, with smooth, tapered ends. However, its mundane appearance belies its unique elemental power, which reduces its weight to 40 pounds while a creature is attuned to it. {@book The Earth Ashari of Terrah|TDCSR|3|Terrah} can often be seen with these stone boards upon their backs as they trek into the crags of the {@book Cliffkeep Mountains|TDCSR|3|Cliffkeep Mountains}.</li>
            <li>While standing on an earthboard, you gain the following benefits:</li>
            <li></li>
            <ul>
            </ul>
            <li>These benefits last until you end your turn not standing on the earthboard.</li>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "An earthboard is a slab of granite about three inches thick, nine feet long, and two feet wide, with smooth, tapered ends. However, its mundane appearance belies its unique elemental power, which reduces its weight to 40 pounds while a creature is attuned to it. {@book The Earth Ashari of Terrah|TDCSR|3|Terrah} can often be seen with these stone boards upon their backs as they trek into the crags of the {@book Cliffkeep Mountains|TDCSR|3|Cliffkeep Mountains}.",
  "While standing on an earthboard, you gain the following benefits:",
  {
    "items": [
      "Your speed increases to 60 feet as the board skims across solid ground (but not liquid surfaces).",
      "If you ramp off a surface of solid earth, you can {@quickref jumping|PHB|4|0|long jump} up to 60 feet. When you end this {@quickref jumping|PHB|4|0|jump}, you can choose to slam into the ground, creating a shockwave. Each creature standing on the ground within 20 feet of you must succeed on a {@dc 14} Strength {@quickref saving throws|PHB|2|1|saving throw} or fall {@condition prone}.",
      "You have a burrowing speed of 20 feet that allows you to tunnel through earth or solid rock, leaving a 5-foot-diameter tunnel in your wake. As an action, you can increase this burrowing speed to 60 feet until the start of your next turn.",
      "The earthboard always moves with you until you decide to dismount it (no action required)."
    ],
    "type": "list"
  },
  "These benefits last until you end your turn not standing on the earthboard."
]</pre>
</body>
</html>