<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Elemental Essence Shard (Air)</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Elemental Essence Shard (Air)</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TCE</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>127</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>by a sorcerer</td>
                </tr>
                <tr>
                    <td>reqAttuneTags</td>
                    <td>[{'class': 'sorcerer'}]</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>focus</td>
                    <td>['Sorcerer']</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This crackling crystal contains the essence of an elemental plane. As an action, you can attach the shard to a Tiny object (such as a weapon or a piece of jewelry) or detach it. It falls off if your attunement to it ends. You can use the shard as a spellcasting focus while you hold or wear it.', 'When you use a Metamagic option on a spell while you are holding or wearing the shard, you can use the following property:', {'type': 'entries', 'name': 'Property', 'entries': ['You can immediately fly up to 60 feet without provoking opportunity attacks.']}]</td>
                </tr>
        </table>
    </body>
</html>