<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Euryale's Aegis</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>BMT</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>35</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>S</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>legendary</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This gleaming brass shield bears a relief of the legendary medusa druid {@creature Euryale|BMT}.</li>
            <li>While wielding this shield, you gain the following benefits:</li>
            <li></li>
            <ul>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This gleaming brass shield bears a relief of the legendary medusa druid {@creature Euryale|BMT}.",
  "While wielding this shield, you gain the following benefits:",
  {
    "items": [
      {
        "entries": [
          "You have resistance to poison damage and are immune to the {@condition petrified} condition."
        ],
        "name": "Blessing of Euryale",
        "type": "item"
      },
      {
        "entries": [
          "As a bonus action, you can make the front of the shield flare with a medusa\u0027s petrifying magic, causing the relief\u0027s eyes to glow brightly. Choose one creature you can see within 30 feet of you. The creature must succeed on a DC 20 Constitution saving throw, or it has the {@condition restrained} condition as its body turns to stone. The {@condition restrained} creature must make another DC 20 Constitution saving throw at the start of its next turn. On a failed save, the creature has the {@condition petrified} condition for 24 hours. On a successful save, the {@condition restrained} condition ends. Once this bonus action is used, it can\u0027t be used again until the next dawn."
        ],
        "name": "Petrifying Heraldry",
        "type": "item"
      },
      {
        "entries": [
          "While wielding the shield, you can use an action to cast one of the following spells from it: {@spell Lesser Restoration}, {@spell Locate Creature}, {@spell Transport via Plants}. Once you use the shield to cast a spell, the shield can\u0027t cast that spell again until the next dawn."
        ],
        "name": "Spellcasting",
        "type": "item"
      }
    ],
    "style": "list-hang-notitle",
    "type": "list"
  }
]</pre>
</body>
</html>