<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Flame Lance</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Flame Lance</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DoDk</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>231</td>
                </tr>
                <tr>
                    <td>baseItem</td>
                    <td>lance|PHB</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>uncommon</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>weaponCategory</td>
                    <td>martial</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['R', 'S']</td>
                </tr>
                <tr>
                    <td>dmg1</td>
                    <td>1d12</td>
                </tr>
                <tr>
                    <td>dmgType</td>
                    <td>P</td>
                </tr>
                <tr>
                    <td>bonusWeapon</td>
                    <td>+1</td>
                </tr>
                <tr>
                    <td>recharge</td>
                    <td>special</td>
                </tr>
                <tr>
                    <td>charges</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This weapon is a long metal lance with a small flame that burns at its end. It has a hose coming from the hilt that connects to a metal tank that you wear on your back.', 'You gain a +1 bonus to attack and damage rolls made with this weapon.', 'The tank has 5 charges. You can use an action and expend one or more charges from the tank to cast {@spell burning hands} (Save DC 15). For 1 charge, you cast the 1st-level version of the spell. You can increase the spell slot level by one for each additional charge you expend.', "Once per day, you can pour a vial of alchemist's fire into the tank. When you do, it regains all expended charges. It otherwise does not regain charges on its own.", "You have disadvantage when you use a lance to attack a target within 5 feet of you. Also, a lance requires two hands to wield when you aren't mounted."]</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['burning hands']</td>
                </tr>
        </table>
    </body>
</html>