<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Flamefriend Lantern</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>TDCSR</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>198</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This wrought-iron lantern holds a small fire elemental spirit. To attune to this item, you must also succeed on a {@dc 10} Charisma check to bond with the spirit inside the lantern.</li>
            <li>Light and Flame</li>
            <ul>
                        <li>While attuned to the lantern, you can verbally ask the elemental to glow (no action required), causing the lantern to cast bright light in a radius of your choice up to 60 feet and dim light for the same distance beyond that. You can also cast the {@spell produce flame} cantrip from the lantern at will. Wisdom is your spellcasting ability for this spell.</li>
            </ul>
            <li>Elemental Essence</li>
            <ul>
                        <li>The fire elemental spirit in the lantern can grant you a small fragment of its power. As an action, you gain one of the following benefits of your choice for 1 hour:</li>
                        <ul>
                                <li>You have resistance to fire damage.</li>
                                <li>Whenever a creature hits you with a melee attack, that creature takes fire damage equal to your proficiency bonus.</li>
                                <li>You can cast the {@spell burning hands} spell (spell save {@dc 15}) from the lantern at 3rd level. Once you cast the spell, you can't do so again until the next time you use this property of the lantern.</li>
                        </ul>
                        <li>Once the elemental has shared its power with you in this way, it can't do so again until the next dawn.</li>
            </ul>
            <li>Willful Attunement</li>
            <ul>
                        <li>Your {@quickref attunement|DMG|1|0} to the lantern lasts until you choose to end it, or until you anger the elemental (by dousing the lantern in water, attacking another nonhostile elemental being, and so forth). You can attempt to attune to the lantern again and repeat the check to bond with the elemental during a {@quickref resting|PHB|2|0|short or long rest}, but you make this check with {@quickref Advantage and Disadvantage|PHB|2|0|disadvantage} until you have made amends to the spirit, as the GM determines.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This wrought-iron lantern holds a small fire elemental spirit. To attune to this item, you must also succeed on a {@dc 10} Charisma check to bond with the spirit inside the lantern.",
  {
    "entries": [
      "While attuned to the lantern, you can verbally ask the elemental to glow (no action required), causing the lantern to cast bright light in a radius of your choice up to 60 feet and dim light for the same distance beyond that. You can also cast the {@spell produce flame} cantrip from the lantern at will. Wisdom is your spellcasting ability for this spell."
    ],
    "name": "Light and Flame",
    "type": "entries"
  },
  {
    "entries": [
      "The fire elemental spirit in the lantern can grant you a small fragment of its power. As an action, you gain one of the following benefits of your choice for 1 hour:",
      {
        "items": [
          "You have resistance to fire damage.",
          "Whenever a creature hits you with a melee attack, that creature takes fire damage equal to your proficiency bonus.",
          "You can cast the {@spell burning hands} spell (spell save {@dc 15}) from the lantern at 3rd level. Once you cast the spell, you can\u0027t do so again until the next time you use this property of the lantern."
        ],
        "type": "list"
      },
      "Once the elemental has shared its power with you in this way, it can\u0027t do so again until the next dawn."
    ],
    "name": "Elemental Essence",
    "type": "entries"
  },
  {
    "entries": [
      "Your {@quickref attunement|DMG|1|0} to the lantern lasts until you choose to end it, or until you anger the elemental (by dousing the lantern in water, attacking another nonhostile elemental being, and so forth). You can attempt to attune to the lantern again and repeat the check to bond with the elemental during a {@quickref resting|PHB|2|0|short or long rest}, but you make this check with {@quickref Advantage and Disadvantage|PHB|2|0|disadvantage} until you have made amends to the spirit, as the GM determines."
    ],
    "name": "Willful Attunement",
    "type": "entries"
  }
]</pre>
</body>
</html>