<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Guild Keyrune</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Guild Keyrune</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>GGR</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>177</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>varies</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>by a member of the relevant guild</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["Associated with a particular guild, a guild keyrune is a ceremonial, stylized key, about 1 foot long, made from carved stone. Not a literal key, the item is a badge of authority that gives its bearer access to privileged places in its guild's headquarters and outposts. At the DM's discretion, a character might be given a keyrune upon attaining a renown score of 25 in their guild."]</td>
                </tr>
                <tr>
                    <td>items</td>
                    <td>['Azorius Keyrune|GGR', 'Boros Keyrune|GGR', 'Dimir Keyrune|GGR', 'Golgari Keyrune|GGR', 'Gruul Keyrune|GGR', 'Izzet Keyrune|GGR', 'Orzhov Keyrune|GGR', 'Rakdos Keyrune|GGR', 'Selesnya Keyrune|GGR', 'Simic Keyrune|GGR']</td>
                </tr>
        </table>
    </body>
</html>