<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Hide of the Feral Guardian (Exalted)</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Hide of the Feral Guardian (Exalted)</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>EGW</td>
                </tr>
                <tr>
                    <td>_copy</td>
                    <td>{'name': 'Hide of the Feral Guardian (Awakened)', 'source': 'EGW', '_mod': {'entries': {'mode': 'insertArr', 'index': -1, 'items': {'type': 'entries', 'name': 'Exalted', 'entries': ['When the armor reaches an exalted state, it gains the following properties:', {'type': 'list', 'items': ['The AC bonus of the armor increases to +3.', 'While you are transformed by an effect that replaces any of your game statistics with those of another creature, your bonus to melee attack and damage rolls increases by 1 (to +3).', 'When you cast the {@spell polymorph} spell using this armor, you can transform into a {@creature guardian wolf|EGW}.']}]}}}, '_preserve': {'page': True, 'hasFluffImages': True}}</td>
                </tr>
                <tr>
                    <td>bonusWeapon</td>
                    <td>+3</td>
                </tr>
                <tr>
                    <td>bonusAc</td>
                    <td>+3</td>
                </tr>
        </table>
    </body>
</html>