<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Honor's Last Stand (Dormant)</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Honor's Last Stand (Dormant)</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TDCSR</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>206</td>
                </tr>
                <tr>
                    <td>baseItem</td>
                    <td>shield|PHB</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>S</td>
                </tr>
                <tr>
                    <td>conditionImmune</td>
                    <td>['prone']</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>legendary</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>by a creature of non-evil alignment</td>
                </tr>
                <tr>
                    <td>reqAttuneTags</td>
                    <td>[{'alignment': ['N', 'G', 'C', 'L', 'A']}]</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['Vst']</td>
                </tr>
                <tr>
                    <td>ac</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>bonusAc</td>
                    <td>+1</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This massive silvered shield bears the crest of {@deity The Platinum Dragon|Exandria|TDCSR} and never tarnishes. Its metal is always warm to the touch.', {'type': 'entries', 'name': 'Dormant', 'entries': ["While Honor's Last Stand is in a dormant state, you gain a +1 bonus to AC while holding the shield. This bonus is in addition to the shield's normal bonus to AC. You also can't be knocked {@condition prone} while bearing this shield."]}]</td>
                </tr>
                <tr>
                    <td>hasFluff</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>