<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Hoopak</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Hoopak</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DSotDQ</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>188</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>weaponCategory</td>
                    <td>martial</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['A', 'F', 'S', '2H']</td>
                </tr>
                <tr>
                    <td>range</td>
                    <td>40/160</td>
                </tr>
                <tr>
                    <td>dmg1</td>
                    <td>1d6</td>
                </tr>
                <tr>
                    <td>dmgType</td>
                    <td>P</td>
                </tr>
                <tr>
                    <td>weapon</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['A hoopak is a sturdy stick with a sling at one end and a pointed tip at the other.', {'type': 'entries', 'name': 'Special', 'entries': ['When you make a melee attack with this weapon, you ignore its ammunition property. You can use the hoopak as a martial ranged weapon. If you do, it uses the ammunition property, uses sling bullets, and deals {@damage 1d4} bludgeoning damage on a hit.']}]</td>
                </tr>
                <tr>
                    <td>ammoType</td>
                    <td>sling bullet|phb</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>