<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Inescapable Lash</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Inescapable Lash</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TDCSR</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>195</td>
                </tr>
                <tr>
                    <td>baseItem</td>
                    <td>whip|PHB</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>weaponCategory</td>
                    <td>martial</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['F', 'ER']</td>
                </tr>
                <tr>
                    <td>dmg1</td>
                    <td>1d4</td>
                </tr>
                <tr>
                    <td>dmgType</td>
                    <td>S</td>
                </tr>
                <tr>
                    <td>bonusWeapon</td>
                    <td>+1</td>
                </tr>
                <tr>
                    <td>reach</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>hasRefs</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This braided cord is dull bronze in color, ends in a splayed set of three barbs, and gleams like metal under any light. You gain a +1 bonus to attack and damage rolls made with this magic weapon, which has a reach of 20 feet. When you hit a creature or object using this whip, you can attempt to {@action grapple} the target as a bonus action.', 'While you have a creature {@condition grappled} using this whip, you can use your action to either pull the creature up to 20 feet toward you, or cause the creature to be {@condition restrained} until you let go of the whip. A creature {@condition restrained} in this way can escape by making a successful Strength ({@skill Athletics}) or Dexterity ({@skill Acrobatics}) check as an action. The DC of this check equals 8 + your proficiency bonus + your Strength modifier.']</td>
                </tr>
        </table>
    </body>
</html>