<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Instrument of Scribing</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Instrument of Scribing</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>XGE</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>138</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>INS</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>minor</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>common</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>recharge</td>
                    <td>dawn</td>
                </tr>
                <tr>
                    <td>rechargeAmount</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>charges</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This musical instrument has 3 charges. While you are playing it, you can use an action to expend 1 charge from the instrument and write a magical message on a nonmagical object or surface that you can see within 30 feet of you. The message can be up to six words long and is written in a language you know. If you are a bard, you can scribe an additional seven words and choose to make the message glow faintly, allowing it to be seen in nonmagical darkness. Casting {@spell dispel magic} on the message erases it. Otherwise, the message fades away after 24 hours.', 'The instrument regains all expended charges daily at dawn.']</td>
                </tr>
        </table>
    </body>
</html>