<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Javelin of Lightning</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Javelin of Lightning</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>178</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>baseItem</td>
                    <td>javelin|phb</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>major</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>uncommon</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>weaponCategory</td>
                    <td>simple</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['T']</td>
                </tr>
                <tr>
                    <td>range</td>
                    <td>30/120</td>
                </tr>
                <tr>
                    <td>dmg1</td>
                    <td>1d6</td>
                </tr>
                <tr>
                    <td>dmgType</td>
                    <td>P</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This javelin is a magic weapon. When you hurl it and speak its command word, it transforms into a bolt of lightning, forming a line 5 feet wide that extends out from you to a target within 120 feet. Each creature in the line excluding you and the target must make a DC 13 Dexterity saving throw, taking {@damage 4d6} lightning damage on a failed save, and half as much damage on a successful one. The lightning bolt turns back into a javelin when it reaches the target. Make a ranged weapon attack against the target. On a hit, the target takes damage from the javelin plus {@damage 4d6} lightning damage.', "The javelin's property can't be used again until the next dawn. In the meantime, the javelin can still be used as a magic weapon."]</td>
                </tr>
                <tr>
                    <td>lootTables</td>
                    <td>['Magic Item Table F']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>