<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Keg of Alchemist's Fire</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Keg of Alchemist's Fire</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>LoX</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>35</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>G</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["A keg of alchemist's fire lobbed at a creature or an object deals 21 ({@damage 6d6}) fire damage on a hit. Further, the target is set ablaze and takes the damage again every round (in the case of a creature, at the start of each of its turns) until the fire is put out. A creature within reach of the blaze can take an action to smother the flames using a blanket or carpet, reducing the fire damage by 2d6. Three such actions are needed to fully put out the fire."]</td>
                </tr>
        </table>
    </body>
</html>