<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Keycharm</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Keycharm</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>ERLW</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>277</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>common</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>by a creature with the Mark of Warding</td>
                </tr>
                <tr>
                    <td>reqAttuneTags</td>
                    <td>[{'race': 'dwarf (mark of warding)|erlw'}]</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["This small stylized key plays a vital role in the work of House Kundarak. If you cast the {@spell alarm}, {@spell arcane lock}, or {@spell glyph of warding} spell, you can tie the effect to the keycharm so that whoever holds it receives the notification from the {@spell alarm} spell, bypasses the lock of the {@spell arcane lock} spell, or avoids triggering the glyph placed by the {@spell glyph of warding} spell. In addition, the holder (who needn't be attuned to the item) can take an action to end any one spell tied to it, provided the holder knows the command word you set for ending the tied spells. The keycharm can have up to three tied spells at one time."]</td>
                </tr>
        </table>
    </body>
</html>