<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Kiss of the Changebringer</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Kiss of the Changebringer</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TDCSR</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>206</td>
                </tr>
                <tr>
                    <td>conditionImmune</td>
                    <td>['grappled']</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>legendary</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['Vst']</td>
                </tr>
                <tr>
                    <td>bonusSavingThrow</td>
                    <td>+1</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["A beautiful, glittering emerald is set within this silver chain, humming with power and possibility. It is said that this amulet was stolen from the neck of {@deity The Changebringer|Exandria|TDCSR} herself by the {@deity The Lord of the Hells|Exandria|TDCSR}, and locked within the vaults of Bazzoxan in {@book Wildemount|TDCSR|3|Wildemount}. It was later claimed there by a group of Aurora Watch soldiers during an expedition into that grim fortress's abandoned temples."]</td>
                </tr>
                <tr>
                    <td>items</td>
                    <td>['Kiss of the Changebringer (Dormant)|TDCSR', 'Kiss of the Changebringer (Awakened)|TDCSR', 'Kiss of the Changebringer (Exalted)|TDCSR']</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['blink']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>