<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Luba's Tarokka of Souls</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>TCE</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>129</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>artifact</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>Not all lingering spirits are tragic souls, lost on their way to the hereafter. Some languish as prisoners, souls so wicked mortals dare not free them upon an unsuspecting afterlife.</li>
            <li>Created by a figure of Vistani legend, Luba's Tarokka of Souls shaped the destiny of countless heroes. The prophecies of this deck of cards also revealed great evils and guided its creator into the path of nefarious forces. Untold times the deck's creator, Mother Luba, narrowly escaped doom, spared only by her keen insights. But even for her, not all wickedness could be escaped. In the most dire cases, Mother Luba managed to ensnare beings of pure evil amid the strands of fate, imprisoning them within her {@deck tarokka deck|CoS}. There these foul spirits dwell still, trapped within a nether-realm hidden amid shuffling cards, waiting for fate to turn foul—as it inevitably will.</li>
            <li>Like all {@deck Tarokka Deck|CoS|tarokka decks}, the {@i Tarokka of Souls} is a lavishly illustrated collection of fifty-four cards, comprising the fourteen cards of the high deck and forty other cards divided into four suits: coins, glyphs, stars, and swords.</li>
            <li>Random Properties</li>
            <ul>
                        <li>The artifact has the following random properties, which you can determine by rolling on the tables in the "Artifacts" section of the {@book Dungeon Master's Guide|DMG}:</li>
                        <ul>
                                <li>2 {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental} properties</li>
                                <li>2 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial} properties</li>
                        </ul>
            </ul>
            <li>Spells</li>
            <ul>
                        <li>While holding the deck, you can use an action to cast one of the following spells (save DC 18) from it: {@spell comprehend languages}, {@spell detect evil and good}, {@spell detect magic}, {@spell detect poison and disease}, {@spell locate object}, or {@spell scrying}. Once you use the deck to cast a spell, you can't cast that spell again from it until the next dawn.</li>
            </ul>
            <li>Enduring Vision</li>
            <ul>
                        <li>While holding the deck, you automatically succeed on Constitution saving throws made to maintain your {@status concentration} on divination spells.</li>
            </ul>
            <li>Twist of Fate</li>
            <ul>
                        <li>As an action, you can draw a card from the deck and twist the fortune of another creature you can see within 15 feet of you. Choose one of the following effects:</li>
                        <ul>
                                <li>{'type': 'item', 'name': 'Weal', 'entry': 'The creature has advantage on attack rolls, ability checks, and saving throws for the next hour.'}</li>
                                <li>{'type': 'item', 'name': 'Woe', 'entry': 'The creature has disadvantage on attack rolls, ability checks, and saving throws for the next hour.'}</li>
                                <li>The deck can be used in this way twice, and you regain all expended uses at the next dawn.</li>
                        </ul>
            </ul>
            <li>Prisoners of Fate</li>
            <ul>
                        <li>Whenever you use the Twist of Fate property, there is a chance that one of the souls trapped in the deck escapes. Roll {@dice d100} and consult the Souls of the Tarokka table. If you roll one of the high cards, the soul associated with it escapes. You can find its statistics in the {@book Monster Manual|MM}. If you roll a soul that has already escaped, roll again.</li>
                        <li>The released soul appears at a random location within {@dice 10d10} miles of you and terrorizes the living. Until the released soul is destroyed, it gains the benefit of a weal from the deck's Twist of Fate property, and both you and the original target of Twist of Fate suffer the effect of woe.</li>
            </ul>
            <li>Shuffling Fate</li>
            <ul>
                        <li>If you go 7 days without using the Twist of Fate property, your attunement to Luba's Tarokka of Souls ends, and you can't attune to it again until after another creature uses Twist of Fate on you.</li>
            </ul>
            <li>Destroying the Deck</li>
            <ul>
                        <li>Luba's Tarokka of Souls can be destroyed only if all fourteen souls within are released and destroyed. This reveals a fifteenth soul, a {@creature lich}, that inhabits the Nether card, which appears only when the fourteen souls are defeated. If this ancient entity is destroyed, the Nether card vanishes and the deck becomes a normal {@deck tarokka deck|CoS}, with no special properties, but it includes a new card of the DM's design.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "Not all lingering spirits are tragic souls, lost on their way to the hereafter. Some languish as prisoners, souls so wicked mortals dare not free them upon an unsuspecting afterlife.",
  "Created by a figure of Vistani legend, Luba\u0027s Tarokka of Souls shaped the destiny of countless heroes. The prophecies of this deck of cards also revealed great evils and guided its creator into the path of nefarious forces. Untold times the deck\u0027s creator, Mother Luba, narrowly escaped doom, spared only by her keen insights. But even for her, not all wickedness could be escaped. In the most dire cases, Mother Luba managed to ensnare beings of pure evil amid the strands of fate, imprisoning them within her {@deck tarokka deck|CoS}. There these foul spirits dwell still, trapped within a nether-realm hidden amid shuffling cards, waiting for fate to turn foul\u2014as it inevitably will.",
  "Like all {@deck Tarokka Deck|CoS|tarokka decks}, the {@i Tarokka of Souls} is a lavishly illustrated collection of fifty-four cards, comprising the fourteen cards of the high deck and forty other cards divided into four suits: coins, glyphs, stars, and swords.",
  {
    "entries": [
      "The artifact has the following random properties, which you can determine by rolling on the tables in the \"Artifacts\" section of the {@book Dungeon Master\u0027s Guide|DMG}:",
      {
        "items": [
          "2 {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental} properties",
          "2 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial} properties"
        ],
        "type": "list"
      }
    ],
    "name": "Random Properties",
    "type": "entries"
  },
  {
    "entries": [
      "While holding the deck, you can use an action to cast one of the following spells (save DC 18) from it: {@spell comprehend languages}, {@spell detect evil and good}, {@spell detect magic}, {@spell detect poison and disease}, {@spell locate object}, or {@spell scrying}. Once you use the deck to cast a spell, you can\u0027t cast that spell again from it until the next dawn."
    ],
    "name": "Spells",
    "type": "entries"
  },
  {
    "entries": [
      "While holding the deck, you automatically succeed on Constitution saving throws made to maintain your {@status concentration} on divination spells."
    ],
    "name": "Enduring Vision",
    "type": "entries"
  },
  {
    "entries": [
      "As an action, you can draw a card from the deck and twist the fortune of another creature you can see within 15 feet of you. Choose one of the following effects:",
      {
        "items": [
          {
            "entry": "The creature has advantage on attack rolls, ability checks, and saving throws for the next hour.",
            "name": "Weal",
            "type": "item"
          },
          {
            "entry": "The creature has disadvantage on attack rolls, ability checks, and saving throws for the next hour.",
            "name": "Woe",
            "type": "item"
          },
          "The deck can be used in this way twice, and you regain all expended uses at the next dawn."
        ],
        "style": "list-hang-notitle",
        "type": "list"
      }
    ],
    "name": "Twist of Fate",
    "type": "entries"
  },
  {
    "entries": [
      "Whenever you use the Twist of Fate property, there is a chance that one of the souls trapped in the deck escapes. Roll {@dice d100} and consult the Souls of the Tarokka table. If you roll one of the high cards, the soul associated with it escapes. You can find its statistics in the {@book Monster Manual|MM}. If you roll a soul that has already escaped, roll again.",
      {
        "caption": "Souls of the Tarokka",
        "colLabels": [
          "d100",
          "Card",
          "Soul"
        ],
        "colStyles": [
          "col-2 text-center",
          "col-5 text-center",
          "col-5 text-center"
        ],
        "rows": [
          [
            "1",
            "Artifact",
            "{@creature Flameskull}"
          ],
          [
            "2",
            "Beast",
            "{@creature Wraith}"
          ],
          [
            "3",
            "Broken",
            "{@creature Banshee}"
          ],
          [
            "4",
            "Darklord",
            "{@creature Vampire}"
          ],
          [
            "5",
            "Donjon",
            "{@creature Mummy}"
          ],
          [
            "6",
            "Executioner",
            "{@creature Death knight}"
          ],
          [
            "7",
            "Ghost",
            "{@creature Ghost}"
          ],
          [
            "8",
            "Horseman",
            "{@creature Mummy lord}"
          ],
          [
            "9",
            "Innocent",
            "{@creature Ghost}"
          ],
          [
            "10",
            "Marionette",
            "{@creature Mummy}"
          ],
          [
            "11",
            "Mists",
            "{@creature Wraith}"
          ],
          [
            "12",
            "Raven",
            "{@creature Vampire spawn}"
          ],
          [
            "13",
            "Seer",
            "{@creature Vampire}"
          ],
          [
            "14",
            "Tempter",
            "{@creature Vampire spawn}"
          ],
          [
            "15-100",
            "\u2014",
            "\u2014"
          ]
        ],
        "type": "table"
      },
      "The released soul appears at a random location within {@dice 10d10} miles of you and terrorizes the living. Until the released soul is destroyed, it gains the benefit of a weal from the deck\u0027s Twist of Fate property, and both you and the original target of Twist of Fate suffer the effect of woe."
    ],
    "name": "Prisoners of Fate",
    "type": "entries"
  },
  {
    "entries": [
      "If you go 7 days without using the Twist of Fate property, your attunement to Luba\u0027s Tarokka of Souls ends, and you can\u0027t attune to it again until after another creature uses Twist of Fate on you."
    ],
    "name": "Shuffling Fate",
    "type": "entries"
  },
  {
    "entries": [
      "Luba\u0027s Tarokka of Souls can be destroyed only if all fourteen souls within are released and destroyed. This reveals a fifteenth soul, a {@creature lich}, that inhabits the Nether card, which appears only when the fourteen souls are defeated. If this ancient entity is destroyed, the Nether card vanishes and the deck becomes a normal {@deck tarokka deck|CoS}, with no special properties, but it includes a new card of the DM\u0027s design.",
      {
        "entries": [
          "The creator of the Tarokka of Souls, Mother Luba was one of the most influential leaders of the Vistani. For untold generations, the Vistani have wandered the Shadowfell, which includes terrifying demiplanes like the vampire-haunted realm of Barovia. These travelers have learned many secrets of these domains and encountered countless others wandering amid the Shadowfell\u0027s horrors. Most Vistani bands accept well-intentioned wayfarers from diverse walks and of disparate origins, embracing any who seek to find a home amid the endless roads and vistas hidden amid the mists.",
          "A halfling Vistani, Mother Luba led one of the largest groups of Vistani in the Shadowfell. She hailed from the same world that Count Strahd von Zarovich and Madam Eva came from, and she created a community of kindness and resilience-ever rare to find in the Plane of Shadow. She led her people in welcoming strangers, feeding the hungry, and defying the cruel. She and Madam Eva were once friends, until Madam Eva began bargaining with the creatures of the night. \"We may wander amid the shadows,\" Mother Luba said. \"But we must ever serve as a light to our fellow travelers.\"",
          "Some years ago, Mother Luba disappeared into the mists, leaving behind only the Tarokka of Souls. It is said that if you draw the Mists card from it, you can hear the whispers of her kind voice."
        ],
        "name": "Mother Luba and the Vistani",
        "type": "entries"
      }
    ],
    "name": "Destroying the Deck",
    "type": "entries"
  }
]</pre>
</body>
</html>