<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Lucent Destroyer</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>BGG</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>113</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>R</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>very rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>10</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td>martial</td>
    </tr>
    <tr>
        <td>Property:</td>
        <td>['AF', 'LD', '2H']</td>
    </tr>
    <tr>
        <td>Range:</td>
        <td>40/120</td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td>1d12</td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td>P</td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td>renaissance bullet</td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td>+1</td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This magic weapon is a triple-barreled bronze musket. You gain a +1 bonus to attack and damage rolls made with it. It requires no ammunition, its damage is radiant instead of piercing, and it doesn't have the loading property. The base of the weapon is emblazoned with the light rune.</li>
            <li>Additionally, while attuned to the weapon, you can cast {@spell dancing lights} from the musket at will.</li>
            <li>Invoking the Rune</li>
            <ul>
                        <li>As an action, you can invoke the weapon's rune to cast the {@spell sunbeam} spell (save DC 17) with it. Once the rune has been invoked, it can't be invoked again until the next dawn.</li>
                        <li>It's up to you to decide whether a character has proficiency with a firearm. Characters in most D&D worlds wouldn't have such proficiency. During their downtime, characters can use the training rules in the Player's Handbook to acquire proficiency, assuming that they have enough ammunition to keep the weapons working while mastering their use.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This magic weapon is a triple-barreled bronze musket. You gain a +1 bonus to attack and damage rolls made with it. It requires no ammunition, its damage is radiant instead of piercing, and it doesn\u0027t have the loading property. The base of the weapon is emblazoned with the light rune.",
  "Additionally, while attuned to the weapon, you can cast {@spell dancing lights} from the musket at will.",
  {
    "entries": [
      "As an action, you can invoke the weapon\u0027s rune to cast the {@spell sunbeam} spell (save DC 17) with it. Once the rune has been invoked, it can\u0027t be invoked again until the next dawn.",
      "It\u0027s up to you to decide whether a character has proficiency with a firearm. Characters in most D\u0026D worlds wouldn\u0027t have such proficiency. During their downtime, characters can use the training rules in the Player\u0027s Handbook to acquire proficiency, assuming that they have enough ammunition to keep the weapons working while mastering their use."
    ],
    "name": "Invoking the Rune",
    "type": "entries"
  }
]</pre>
</body>
</html>