<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Magician's Judge</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>TDCSR</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>196</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>M</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>6</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td>martial</td>
    </tr>
    <tr>
        <td>Property:</td>
        <td>['H', '2H']</td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td>2d6</td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td>S</td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td></td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>An executioner's blade from the {@book Age of Arcanum|TDCSR|1|Age of Arcanum}, this magic <a href="/components/items/greatsword.html">greatsword</a> is one of many similar weapons once used to execute magic-wielding criminals. Though most commonly found in the lands now known as {@book Wildemount|TDCSR|3|Wildemount} and {@book Issylra|TDCSR|3|Issylra}, a few such blades have found their way to Tal'Dorei.</li>
            <li>If you hit a creature with an attack using this weapon, you can cast the {@spell dispel magic} spell from the sword against the target as part of the attack. Alternatively, you can use an action to cast {@spell dispel magic} from the sword against a target of your choice. If you need to make a check with your spellcasting ability modifier as part of casting the spell, you make this check with a +3 modifier or your own spellcasting ability modifier, whichever is higher.</li>
            <li>Once you cast {@spell dispel magic} using this weapon, you can't do so again until the next dawn.</li>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "An executioner\u0027s blade from the {@book Age of Arcanum|TDCSR|1|Age of Arcanum}, this magic <a href="/components/items/greatsword.html">greatsword</a> is one of many similar weapons once used to execute magic-wielding criminals. Though most commonly found in the lands now known as {@book Wildemount|TDCSR|3|Wildemount} and {@book Issylra|TDCSR|3|Issylra}, a few such blades have found their way to Tal\u0027Dorei.",
  "If you hit a creature with an attack using this weapon, you can cast the {@spell dispel magic} spell from the sword against the target as part of the attack. Alternatively, you can use an action to cast {@spell dispel magic} from the sword against a target of your choice. If you need to make a check with your spellcasting ability modifier as part of casting the spell, you make this check with a +3 modifier or your own spellcasting ability modifier, whichever is higher.",
  "Once you cast {@spell dispel magic} using this weapon, you can\u0027t do so again until the next dawn."
]</pre>
</body>
</html>