<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Mind Crystal</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Mind Crystal</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>PaBTSO</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>218</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>varies</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['These gemstones contain a crystallized bit of spellcasting magic. Different types of mind crystals exist, each with a different single-use effect.', "When you cast a spell that has a casting time of 1 action while holding a mind crystal, you can modify the spell in a specific way. You can use only a single mind crystal to modify the spell, and you can't use a mind crystal and a Metamagic option on the same spell. Once you use a mind crystal, it becomes a nonmagical gem worth 50 gp."]</td>
                </tr>
                <tr>
                    <td>items</td>
                    <td>['Mind Crystal (Careful)|PaBTSO', 'Mind Crystal (Distant)|PaBTSO', 'Mind Crystal (Empowered)|PaBTSO', 'Mind Crystal (Extended)|PaBTSO', 'Mind Crystal (Heightened)|PaBTSO', 'Mind Crystal (Quickened)|PaBTSO', 'Mind Crystal (Subtle)|PaBTSO']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>