<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Nether Scroll of Azumar</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Nether Scroll of Azumar</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>CM</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>210</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>SC</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>legendary</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['Unlike most scrolls, a Nether Scroll of Azumar is not a consumable magic item. It takes 30 days of concentrated study—at least 8 hours per day—to attempt to understand this scroll. After completing this study, you must make a DC 25 Intelligence ({@skill Arcana}) check. If this check fails, you take {@damage 16d10} psychic damage, and you can attempt the check again after another 30 days of concentrated study.', 'When you succeed on the check, you gain the following benefits:', {'type': 'list', 'items': ["Your Intelligence score increases by 2, to a maximum of 22. Once you gain this benefit, you can't use this scroll to increase your Intelligence again.", 'You gain advantage on saving throws against spells and other magical effects.']}, "When you gain the scroll's benefits, a {@creature stone golem} magically appears in an unoccupied space within 60 feet of you and acts as your ally. If you die, the golem turns to dust."]</td>
                </tr>
        </table>
    </body>
</html>