<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Nightspider</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Nightspider</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>AAG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>40</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>SPC</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>5000000</td>
                </tr>
                <tr>
                    <td>crew</td>
                    <td>25</td>
                </tr>
                <tr>
                    <td>vehAc</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>vehHp</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>vehDmgThresh</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>vehSpeed</td>
                    <td>4.5</td>
                </tr>
                <tr>
                    <td>capCargo</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['Neogi terrorize Wildspace in ships of their own construction, which others call nightspiders. These vessels often wait in ambush for other ships. Once a target ship is identified, the neogi try to steal its spelljamming helm and capture its crew.', "A nightspider's crew usually consists of nineteen neogi and up to a half-dozen umber hulks, which the neogi use as shock troops.", "Nightspiders are designed for space travel alone and can't float on water or land safely on the ground (the weight of the ship would snap its spindly legs, destroying its weblike rigging in the process). Standard weaponry on a nightspider includes four ballistae (two forward-facing and two aft-facing) and a forward-facing mangonel."]</td>
                </tr>
                <tr>
                    <td>seeAlsoVehicle</td>
                    <td>['Nightspider|AAG']</td>
                </tr>
        </table>
    </body>
</html>