<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Nimbus Coronet</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>BGG</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>114</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>very rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>The design of this bronze circlet resembles swirling clouds. At its center is set a deep-blue stone, upon which is inscribed the cloud rune.</li>
            <li>While wearing this circlet, you take no damage from falling. Additionally, as a bonus action, you and everything you are wearing or carrying can teleport to an unoccupied space you can see within 15 feet of yourself, reappearing in a puff of shimmering clouds.</li>
            <li>Invoking the Rune</li>
            <ul>
                        <li>As an action, you can invoke the circlet's rune to assume a cloudlike form. The form lasts for 1 minute, until you are incapacitated, or until you dismiss it (no action required).</li>
                        <li>While in cloud form, you have a flying speed of 60 feet and resistance to bludgeoning, piercing, and slashing damage.</li>
                        <li>Once the rune has been invoked, it can't be invoked again until the next dawn.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "The design of this bronze circlet resembles swirling clouds. At its center is set a deep-blue stone, upon which is inscribed the cloud rune.",
  "While wearing this circlet, you take no damage from falling. Additionally, as a bonus action, you and everything you are wearing or carrying can teleport to an unoccupied space you can see within 15 feet of yourself, reappearing in a puff of shimmering clouds.",
  {
    "entries": [
      "As an action, you can invoke the circlet\u0027s rune to assume a cloudlike form. The form lasts for 1 minute, until you are incapacitated, or until you dismiss it (no action required).",
      "While in cloud form, you have a flying speed of 60 feet and resistance to bludgeoning, piercing, and slashing damage.",
      "Once the rune has been invoked, it can\u0027t be invoked again until the next dawn."
    ],
    "name": "Invoking the Rune",
    "type": "entries"
  }
]</pre>
</body>
</html>