<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Orb of Shielding</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>ERLW</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>278</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>SCF</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>common</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>An orb of shielding is a polished, spherical chunk of crystal or stone aligned to one of the planes of existence. If you're a spellcaster, you can use this orb as a spellcasting focus.</li>
            <li>If you're holding the orb when you take damage of the type associated with the orb's material, you can use your reaction to reduce the damage by {@dice 1d4} (to a minimum of 0). The materials and their associated damage types are listed in the Orb of Shielding table.</li>
            <li></li>
            <ul>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "An orb of shielding is a polished, spherical chunk of crystal or stone aligned to one of the planes of existence. If you\u0027re a spellcaster, you can use this orb as a spellcasting focus.",
  "If you\u0027re holding the orb when you take damage of the type associated with the orb\u0027s material, you can use your reaction to reduce the damage by {@dice 1d4} (to a minimum of 0). The materials and their associated damage types are listed in the Orb of Shielding table.",
  {
    "caption": "Orb of Shielding",
    "colLabels": [
      "Planar Material",
      "Damage Type"
    ],
    "colStyles": [
      "col-6",
      "col-6"
    ],
    "rows": [
      [
        "<a href="/components/items/orb-of-shielding-(fernian-basalt).html">Orb of Shielding (Fernian Basalt)</a>",
        "Fire"
      ],
      [
        "<a href="/components/items/orb-of-shielding-(irian-quartz).html">Orb of Shielding (Irian Quartz)</a>",
        "Radiant"
      ],
      [
        "<a href="/components/items/orb-of-shielding-(kythrian-skarn).html">Orb of Shielding (Kythrian Skarn)</a>",
        "Acid and poison"
      ],
      [
        "<a href="/components/items/orb-of-shielding-(lamannian-flint).html">Orb of Shielding (Lamannian Flint)</a>",
        "Lightning and thunder"
      ],
      [
        "<a href="/components/items/orb-of-shielding-(mabaran-obsidian).html">Orb of Shielding (Mabaran Obsidian)</a>",
        "Necrotic"
      ],
      [
        "<a href="/components/items/orb-of-shielding-(risian-shale).html">Orb of Shielding (Risian Shale)</a>",
        "Cold"
      ],
      [
        "<a href="/components/items/orb-of-shielding-(shavarran-chert).html">Orb of Shielding (Shavarran Chert)</a>",
        "Force"
      ],
      [
        "<a href="/components/items/orb-of-shielding-(xorian-marble).html">Orb of Shielding (Xorian Marble)</a>",
        "Psychic"
      ]
    ],
    "type": "table"
  }
]</pre>
</body>
</html>