<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Orb of the Stein Rune</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>SKT</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>235</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>3</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This orb of granite is about the size of an adult human's fist. The stein (stone) rune appears on it in the form of crystalline veins that run across the surface. The orb has the following properties, which work only while it's on your person.</li>
            <li>Indomitable Stand</li>
            <ul>
                        <li>As an action, you can channel the orb's magic to hold your ground. For the next minute or until you move any distance, you have advantage on all checks and saving throws to resist effects that force you to move. In addition, any enemy that moves to a space within 10 feet of you must succeed on a DC 12 Strength saving throw or be unable to move any farther this turn.</li>
            </ul>
            <li>Stone Soul</li>
            <ul>
                        <li>You can't be {@condition petrified}.</li>
            </ul>
            <li>Earthen Step</li>
            <ul>
                        <li>You can cast {@spell meld into stone} as a bonus action. Once you use this property, you can't use it again until you finish a short or long rest.</li>
            </ul>
            <li>Gift of Stone</li>
            <ul>
                        <li>You can transfer the orb's magic to a nonmagical item—a shield or a pair of boots—by tracing the stein rune there with your finger. The transfer takes 8 hours of work that requires the two items to be within 5 feet of each other. At the end, the orb is destroyed, and the rune appears in silver on the chosen item, which gains a benefit based on its form:</li>
                        <ul>
                                <li>{'type': 'item', 'name': 'Shield', 'entry': 'The shield is now a rare magic item that requires attunement. While you wield it, you have resistance to all damage dealt by ranged weapon attacks.'}</li>
                                <li>{'type': 'item', 'name': 'Boots', 'entry': 'The pair of boots is now an uncommon magic item that requires attunement. While you wear the boots, you have advantage on Strength saving throws, and you can use your reaction to avoid being knocked {@condition prone}.'}</li>
                        </ul>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This orb of granite is about the size of an adult human\u0027s fist. The stein (stone) rune appears on it in the form of crystalline veins that run across the surface. The orb has the following properties, which work only while it\u0027s on your person.",
  {
    "entries": [
      "As an action, you can channel the orb\u0027s magic to hold your ground. For the next minute or until you move any distance, you have advantage on all checks and saving throws to resist effects that force you to move. In addition, any enemy that moves to a space within 10 feet of you must succeed on a DC 12 Strength saving throw or be unable to move any farther this turn."
    ],
    "name": "Indomitable Stand",
    "type": "entries"
  },
  {
    "entries": [
      "You can\u0027t be {@condition petrified}."
    ],
    "name": "Stone Soul",
    "type": "entries"
  },
  {
    "entries": [
      "You can cast {@spell meld into stone} as a bonus action. Once you use this property, you can\u0027t use it again until you finish a short or long rest."
    ],
    "name": "Earthen Step",
    "type": "entries"
  },
  {
    "entries": [
      "You can transfer the orb\u0027s magic to a nonmagical item\u2014a shield or a pair of boots\u2014by tracing the stein rune there with your finger. The transfer takes 8 hours of work that requires the two items to be within 5 feet of each other. At the end, the orb is destroyed, and the rune appears in silver on the chosen item, which gains a benefit based on its form:",
      {
        "items": [
          {
            "entry": "The shield is now a rare magic item that requires attunement. While you wield it, you have resistance to all damage dealt by ranged weapon attacks.",
            "name": "Shield",
            "type": "item"
          },
          {
            "entry": "The pair of boots is now an uncommon magic item that requires attunement. While you wear the boots, you have advantage on Strength saving throws, and you can use your reaction to avoid being knocked {@condition prone}.",
            "name": "Boots",
            "type": "item"
          }
        ],
        "style": "list-hang-notitle",
        "type": "list"
      }
    ],
    "name": "Gift of Stone",
    "type": "entries"
  }
]</pre>
</body>
</html>