<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Orrery of the Wanderer</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>AI</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>220</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>OTH</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>artifact</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This delicate and exquisitely crafted clockwork orrery features multiple geared components whose sweeping hands and dials represent the complex interplay of planar and magical realms. Standing two feet high, the orrery housing is a wondrous device imbued with magic of its own, but the power of its six clockwork components makes the artifact even more potent.</li>
            <li>The Orrery of the Wanderer was created by a renowned clockwork mage known only as Lottie. She crafted the relic as a means of tapping into the power of the planes, and to channel the divination and foretelling powers of the stars. But Lottie soon realized that her creation was far more powerful than she had intended. As it tapped into planar magic, the orrery began to manifest the darkness and malevolence inherent to some of the planes. Eventually, it would impress upon its owner a desire to open portals into the most cursed and dangerous worlds, including the Far Realm.</li>
            <li>To prevent the orrery from ever being so used, Lottie scattered the components that powered it, secreting them across the world. But the orrery's instinct for survival is strong, and its components have a way of inexorably coming together over decades or centuries, found by treasure hunters, stolen by monsters, found and stolen again—and moving closer to each other all the time.</li>
            <li>Random Properties. The orrery has the following randomly determined properties:</li>
            <li></li>
            <ul>
            </ul>
            <li>The random properties of the orrery might function only when all its components are installed, or might function sporadically if any components are missing.</li>
            <li>The Sum of Its Parts</li>
            <ul>
                        <li>Each of the six components that powers the Orrery of the Wanderer is a powerful magic relic in its own right:</li>
                        <ul>
                                <li>The <a href="/components/items/chronolometer.html">chronolometer</a></li>
                                <li>The <a href="/components/items/dimensional-loop.html">dimensional loop</a></li>
                                <li>The <a href="/components/items/far-gear.html">far gear</a></li>
                                <li>The <a href="/components/items/rotor-of-return.html">rotor of return</a></li>
                                <li>The <a href="/components/items/timepiece-of-travel.html">timepiece of travel</a></li>
                                <li>The <a href="/components/items/wheel-of-stars.html">wheel of stars</a></li>
                        </ul>
                        <li>Creatures can attune to the orrery's components individually. If attuned to an individual component, a creature must hold the component to make use of its features. A creature can also attune to the orrery and all the components installed in it. Attuning to an installed component doesn't count against the number of magic items you can normally attune to.</li>
                        <li>While a component is not installed in the orrery, its magic might function sporadically or with unpredictable side effects, as determined by the DM.</li>
            </ul>
            <li>Future Echoes</li>
            <ul>
                        <li>With or without its components, the orrery lets you catch momentary glimpses of the future that warn you of danger. As long as the orrery is within 30 feet of you, you gain a +1 bonus to AC.</li>
            </ul>
            <li>Into the Void</li>
            <ul>
                        <li>With or without its components, the attuned orrery infuses your spirit with the tumultuous energy of the planes. Over time, your alignment changes to chaotic neutral, and you are compelled to engage with and explore the most dangerous planar realms.</li>
            </ul>
            <li>Master of Travel</li>
            <ul>
                        <li>While all six components of the Orrery of the Wanderer are installed, the artifact has 7 charges. While touching the orrery, you can use an action and expend 1 or more charges to cast one of the following spells (save DC 17): {@spell contact other plane} (3 charges), {@spell demiplane} (6 charges), {@spell gate} (7 charges), {@spell plane shift} (5 charges), or {@spell teleportation circle} (3 charges). The orrery regains {@dice 1d4 + 4} expended charges daily at dawn.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This delicate and exquisitely crafted clockwork orrery features multiple geared components whose sweeping hands and dials represent the complex interplay of planar and magical realms. Standing two feet high, the orrery housing is a wondrous device imbued with magic of its own, but the power of its six clockwork components makes the artifact even more potent.",
  "The Orrery of the Wanderer was created by a renowned clockwork mage known only as Lottie. She crafted the relic as a means of tapping into the power of the planes, and to channel the divination and foretelling powers of the stars. But Lottie soon realized that her creation was far more powerful than she had intended. As it tapped into planar magic, the orrery began to manifest the darkness and malevolence inherent to some of the planes. Eventually, it would impress upon its owner a desire to open portals into the most cursed and dangerous worlds, including the Far Realm.",
  "To prevent the orrery from ever being so used, Lottie scattered the components that powered it, secreting them across the world. But the orrery\u0027s instinct for survival is strong, and its components have a way of inexorably coming together over decades or centuries, found by treasure hunters, stolen by monsters, found and stolen again\u2014and moving closer to each other all the time.",
  "Random Properties. The orrery has the following randomly determined properties:",
  {
    "items": [
      "2 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial properties}",
      "1 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial property}",
      "1 {@table Artifact Properties; Major Detrimental Properties|dmg|major detrimental properties}"
    ],
    "type": "list"
  },
  "The random properties of the orrery might function only when all its components are installed, or might function sporadically if any components are missing.",
  {
    "entries": [
      "Each of the six components that powers the Orrery of the Wanderer is a powerful magic relic in its own right:",
      {
        "items": [
          "The <a href="/components/items/chronolometer.html">chronolometer</a>",
          "The <a href="/components/items/dimensional-loop.html">dimensional loop</a>",
          "The <a href="/components/items/far-gear.html">far gear</a>",
          "The <a href="/components/items/rotor-of-return.html">rotor of return</a>",
          "The <a href="/components/items/timepiece-of-travel.html">timepiece of travel</a>",
          "The <a href="/components/items/wheel-of-stars.html">wheel of stars</a>"
        ],
        "style": "list-no-bullets",
        "type": "list"
      },
      "Creatures can attune to the orrery\u0027s components individually. If attuned to an individual component, a creature must hold the component to make use of its features. A creature can also attune to the orrery and all the components installed in it. Attuning to an installed component doesn\u0027t count against the number of magic items you can normally attune to.",
      "While a component is not installed in the orrery, its magic might function sporadically or with unpredictable side effects, as determined by the DM."
    ],
    "name": "The Sum of Its Parts",
    "type": "entries"
  },
  {
    "entries": [
      "With or without its components, the orrery lets you catch momentary glimpses of the future that warn you of danger. As long as the orrery is within 30 feet of you, you gain a +1 bonus to AC."
    ],
    "name": "Future Echoes",
    "type": "entries"
  },
  {
    "entries": [
      "With or without its components, the attuned orrery infuses your spirit with the tumultuous energy of the planes. Over time, your alignment changes to chaotic neutral, and you are compelled to engage with and explore the most dangerous planar realms."
    ],
    "name": "Into the Void",
    "type": "entries"
  },
  {
    "entries": [
      "While all six components of the Orrery of the Wanderer are installed, the artifact has 7 charges. While touching the orrery, you can use an action and expend 1 or more charges to cast one of the following spells (save DC 17): {@spell contact other plane} (3 charges), {@spell demiplane} (6 charges), {@spell gate} (7 charges), {@spell plane shift} (5 charges), or {@spell teleportation circle} (3 charges). The orrery regains {@dice 1d4 + 4} expended charges daily at dawn."
    ],
    "name": "Master of Travel",
    "type": "entries"
  }
]</pre>
</body>
</html>