<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Potion of Flying</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Potion of Flying</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>187</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>basicRules</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>P</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>minor</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>very rare</td>
                </tr>
                <tr>
                    <td>modifySpeed</td>
                    <td>{'equal': {'fly': 'walk'}}</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["When you drink this potion, you gain a flying speed equal to your walking speed for 1 hour and can hover. If you're in the air when the potion wears off, you fall unless you have some other means of staying aloft. This potion's clear liquid floats at the top of its container and has cloudy white impurities drifting in it."]</td>
                </tr>
                <tr>
                    <td>lootTables</td>
                    <td>['Magic Item Table D']</td>
                </tr>
        </table>
    </body>
</html>