<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Quaal's Feather Token, Fan</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Quaal's Feather Token, Fan</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>188</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>Feather Token, Fan</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>minor</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This tiny object looks like a feather. Different types of feather tokens exist, each with a different single-use effect.', {'name': 'Fan', 'type': 'entries', 'entries': ['If you are on a boat or ship, you can use an action to toss the token up to 10 feet in the air. The token disappears, and a giant flapping fan takes its place. The fan floats and creates a wind strong enough to fill the sails of one ship, increasing its speed by 5 miles per hour for 8 hours. You can dismiss the fan as an action.']}]</td>
                </tr>
        </table>
    </body>
</html>