<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Radiance</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Radiance</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>CM</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>87</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>WD</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>unknown (magic)</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>by a spellcaster</td>
                </tr>
                <tr>
                    <td>reqAttuneTags</td>
                    <td>[{'spellcasting': True}]</td>
                </tr>
                <tr>
                    <td>bonusSpellAttack</td>
                    <td>+1</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['While holding this wand, you gain a +1 bonus to spell attack rolls. In addition, you ignore half cover when making a spell attack. Radiance is in the form of an exquisite golden hand mirror.', "While surrounded by darkness, it sheds dim light in a 5-foot radius. A creature that is attuned to Radiance can use a bonus action while holding the mirror to cast the {@spell enhance ability} spell, choosing itself and no other creature as the spell's target. Once this property of the wand is used, it can't be used again until the next dawn."]</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['enhance ability']</td>
                </tr>
        </table>
    </body>
</html>