<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Ranseur of Torture</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>CoA</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>273</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>M</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>artifact</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td>18</td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td>martial</td>
    </tr>
    <tr>
        <td>Property:</td>
        <td>['H', 'R', '2H']</td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td>1d10</td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td>P</td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td>+3</td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>Forged of infernal iron and Hellfire through the help of Dispater, the Ranseur of Torture has been Belial's weapon of choice since he first became an archdevil.</li>
            <li>It is so directly tied to him that one of his worshipped symbols is a two-pronged fork. The weapon never leaves his side, and he is a master at wielding it.</li>
            <li>The Ranseur of Torture is a magic pike. You have a +3 bonus to attack and damage rolls made with this weapon, and it does {@damage 2d10} piercing damage instead of its regular damage. When you hit a good aligned creature with it, that creature takes an extra {@damage 1d10} necrotic damage.</li>
            <li>Random Properties</li>
            <ul>
                        <li>The Ranseur of Torture has the following random properties:</li>
                        <ul>
                                <li>1 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial} property</li>
                                <li>1 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} property</li>
                                <li>1 {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental} property</li>
                        </ul>
            </ul>
            <li>Wounding</li>
            <ul>
                        <li>Damage dealt by the Ranseur of Torture is particularly dangerous, as it can only be restored through magical means. Resting, food, and medicine won't restore hit points removed by the pike. If the damage goes untreated for 7 days, the missing hit points are permanently removed, and can be recovered only through casting a {@spell Regenerate} or {@spell Wish} spell on the victim.</li>
            </ul>
            <li>Execution</li>
            <ul>
                        <li>If a creature with less than its full hit points is hit by this pike, the Ranseur of Torture deals {@dice 1d10} additional piercing damage. If a creature is killed by the pike, their soul is sent to Phlegethos and can be restored only through casting a {@spell Wish} spell on the victim.</li>
            </ul>
            <li>Staggered</li>
            <ul>
                        <li>Each time a creature takes damage from the Ranseur of Torture, they must make a Constitution save, with a DC equaling the damage they took. On a failed save, their movement speed is reduced by 5 feet until the end of their next turn. This penalty stacks, though movement speed can't be reduced below 0.</li>
            </ul>
            <li>Interrupting</li>
            <ul>
                        <li>Spellcasters damaged by the Ranseur of Torture have disadvantage on Constitution checks made to maintain {@status concentration} until the damage is healed. If a creature is {@status concentration||concentrating} on a spell when damaged by the ranseur, their {@status concentration} is immediately ended.</li>
            </ul>
            <li>Destroying the Ranseur</li>
            <ul>
                        <li>Only through the written consent of both Dispater and Belial can the Ranseur of Torture be destroyed. If either or both of the archdevils are dead, then the new archdevil to take their mantle must give permission in their stead. The two writs must be wrapped around each of the prongs of the weapon, then the weapon must be tossed into the Pit of Flame. If performed successfully, the Hellfire briefly burns a different hue.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "Forged of infernal iron and Hellfire through the help of Dispater, the Ranseur of Torture has been Belial\u0027s weapon of choice since he first became an archdevil.",
  "It is so directly tied to him that one of his worshipped symbols is a two-pronged fork. The weapon never leaves his side, and he is a master at wielding it.",
  "The Ranseur of Torture is a magic pike. You have a +3 bonus to attack and damage rolls made with this weapon, and it does {@damage 2d10} piercing damage instead of its regular damage. When you hit a good aligned creature with it, that creature takes an extra {@damage 1d10} necrotic damage.",
  {
    "entries": [
      "The Ranseur of Torture has the following random properties:",
      {
        "items": [
          "1 {@table Artifact Properties; Minor Beneficial Properties|dmg|minor beneficial} property",
          "1 {@table Artifact Properties; Major Beneficial Properties|dmg|major beneficial} property",
          "1 {@table Artifact Properties; Minor Detrimental Properties|dmg|minor detrimental} property"
        ],
        "type": "list"
      }
    ],
    "name": "Random Properties",
    "type": "entries"
  },
  {
    "entries": [
      "Damage dealt by the Ranseur of Torture is particularly dangerous, as it can only be restored through magical means. Resting, food, and medicine won\u0027t restore hit points removed by the pike. If the damage goes untreated for 7 days, the missing hit points are permanently removed, and can be recovered only through casting a {@spell Regenerate} or {@spell Wish} spell on the victim."
    ],
    "name": "Wounding",
    "type": "entries"
  },
  {
    "entries": [
      "If a creature with less than its full hit points is hit by this pike, the Ranseur of Torture deals {@dice 1d10} additional piercing damage. If a creature is killed by the pike, their soul is sent to Phlegethos and can be restored only through casting a {@spell Wish} spell on the victim."
    ],
    "name": "Execution",
    "type": "entries"
  },
  {
    "entries": [
      "Each time a creature takes damage from the Ranseur of Torture, they must make a Constitution save, with a DC equaling the damage they took. On a failed save, their movement speed is reduced by 5 feet until the end of their next turn. This penalty stacks, though movement speed can\u0027t be reduced below 0."
    ],
    "name": "Staggered",
    "type": "entries"
  },
  {
    "entries": [
      "Spellcasters damaged by the Ranseur of Torture have disadvantage on Constitution checks made to maintain {@status concentration} until the damage is healed. If a creature is {@status concentration||concentrating} on a spell when damaged by the ranseur, their {@status concentration} is immediately ended."
    ],
    "name": "Interrupting",
    "type": "entries"
  },
  {
    "entries": [
      "Only through the written consent of both Dispater and Belial can the Ranseur of Torture be destroyed. If either or both of the archdevils are dead, then the new archdevil to take their mantle must give permission in their stead. The two writs must be wrapped around each of the prongs of the weapon, then the weapon must be tossed into the Pit of Flame. If performed successfully, the Hellfire briefly burns a different hue."
    ],
    "name": "Destroying the Ranseur",
    "type": "entries"
  }
]</pre>
</body>
</html>