<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Residuum Enchanting Slate</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Residuum Enchanting Slate</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TDCSR</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>75</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>T</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>unknown (magic)</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>2000000</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['<a href="/components/items/residuum.html">Residuum</a> can also be heated and blown into glass, forming a shimmering, greenish surface. Residuum slates or orbs can be used in stationary enchanting tables. Archmages willing to pay exorbitant rates—easily 20,000 gp or more—may acquire an <a href="/components/items/residuum-enchanting-slate.html">Residuum enchanting slate</a> that can be used to expedite the creation of all magic items. Using such a table allows anyone crafting a magic item to do so in one-quarter of the usual time.']</td>
                </tr>
        </table>
    </body>
</html>