<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Ring of Collecting</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Ring of Collecting</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>CoA</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>268</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>RG</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>very rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["While wearing this ring you can use it to cast the {@spell Leomund's Tiny Hut} spell as an action. Once this property is used, it can't be used again until the next dawn. Additionally, as a bonus action, you can use the ring to disintegrate any nonmagical piece of art (drawing, painting, or sculpture) within 60 feet that is no larger than Medium-sized. That art now appears inside the tiny hut, for you to appreciate whenever you desire. If you try to remove this art from the tiny hut, it vanishes forever. You can steadily improve this space, but only be denying such beauty to the rest of the world. For every 1,000 gp of art acquired, the tiny hut increases in size by adding another foot to its radius and lasts one additional hour."]</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>["Leomund's tiny hut"]</td>
                </tr>
        </table>
    </body>
</html>