<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Ring of Resistance</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Ring of Resistance</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>192</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>RG</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>major</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['You have resistance to one damage type while wearing this ring. The gem in the ring indicates the type, which the DM chooses or determines randomly.', {'type': 'table', 'colStyles': ['col-2 text-center', 'col-5', 'col-5'], 'colLabels': ['d10', 'Damage Type', 'Gem'], 'rows': [['1', '{@item ring of acid resistance||Acid}', 'Pearl'], ['2', '{@item ring of cold resistance||Cold}', 'Tourmaline'], ['3', '{@item ring of fire resistance||Fire}', 'Garnet'], ['4', '{@item ring of force resistance||Force}', 'Sapphire'], ['5', '{@item ring of lightning resistance||Lightning}', 'Citrine'], ['6', '{@item ring of necrotic resistance||Necrotic}', 'Jet'], ['7', '{@item ring of poison resistance||Poison}', 'Amethyst'], ['8', '{@item ring of psychic resistance||Psychic}', 'Jade'], ['9', '{@item ring of radiant resistance||Radiant}', 'Topaz'], ['10', '{@item ring of thunder resistance||Thunder}', 'Spinel']]}]</td>
                </tr>
                <tr>
                    <td>items</td>
                    <td>['Ring of Acid Resistance', 'Ring of Cold Resistance', 'Ring of Fire Resistance', 'Ring of Force Resistance', 'Ring of Lightning Resistance', 'Ring of Necrotic Resistance', 'Ring of Poison Resistance', 'Ring of Psychic Resistance', 'Ring of Radiant Resistance', 'Ring of Thunder Resistance']</td>
                </tr>
                <tr>
                    <td>lootTables</td>
                    <td>['Magic Item Table G']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>