<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Rotor of Return</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>AI</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>221</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>very rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>While attuned to this device, you have a +1 bonus to Constitution saving throws. You periodically receive flashbacks of old memories, and you can unerringly recall any event that took place within the previous 30 days.</li>
            <li>Borrow Object</li>
            <ul>
                        <li>You name a mundane item with a value of 50 gp or less and it appears in your hand or at your feet. This can be any item that appears in chapter 5, "{@book Equipment|PHB|5}," of the Player's Handbook, or any similar item selected with the DM's permission. The summoned item is transported to you from somewhere else in the world, but it is generic in nature, so that you might call for a longsword but you cannot borrow a specific creature's longsword. The item vanishes 10 minutes after it appears. Once you use this feature of the rotor of return, it cannot be used again until the next dawn.</li>
            </ul>
            <li>Recall Code</li>
            <ul>
                        <li>As an action, you can set your current location as a point of return locked to the rotor. Anytime thereafter, you can use a bonus action to teleport to the rotor's point of return as long as you are within 500 feet of that point. Once you use the rotor of return to teleport, this feature cannot be used again until the next dawn.</li>
            </ul>
            <li>Part of a Whole</li>
            <ul>
                        <li>While this component is not installed in the <a href="/components/items/orrery-of-the-wanderer.html">Orrery of the Wanderer</a>, its magic might function sporadically or with unpredictable side effects, as determined by the DM.</li>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "While attuned to this device, you have a +1 bonus to Constitution saving throws. You periodically receive flashbacks of old memories, and you can unerringly recall any event that took place within the previous 30 days.",
  {
    "entries": [
      "You name a mundane item with a value of 50 gp or less and it appears in your hand or at your feet. This can be any item that appears in chapter 5, \"{@book Equipment|PHB|5},\" of the Player\u0027s Handbook, or any similar item selected with the DM\u0027s permission. The summoned item is transported to you from somewhere else in the world, but it is generic in nature, so that you might call for a longsword but you cannot borrow a specific creature\u0027s longsword. The item vanishes 10 minutes after it appears. Once you use this feature of the rotor of return, it cannot be used again until the next dawn."
    ],
    "name": "Borrow Object",
    "type": "entries"
  },
  {
    "entries": [
      "As an action, you can set your current location as a point of return locked to the rotor. Anytime thereafter, you can use a bonus action to teleport to the rotor\u0027s point of return as long as you are within 500 feet of that point. Once you use the rotor of return to teleport, this feature cannot be used again until the next dawn."
    ],
    "name": "Recall Code",
    "type": "entries"
  },
  {
    "entries": [
      "While this component is not installed in the <a href="/components/items/orrery-of-the-wanderer.html">Orrery of the Wanderer</a>, its magic might function sporadically or with unpredictable side effects, as determined by the DM."
    ],
    "name": "Part of a Whole",
    "type": "entries"
  }
]</pre>
</body>
</html>