<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Seeker Dart</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Seeker Dart</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>PotA</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>223</td>
                </tr>
                <tr>
                    <td>baseItem</td>
                    <td>dart|phb</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>R</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>uncommon</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>0.25</td>
                </tr>
                <tr>
                    <td>weaponCategory</td>
                    <td>simple</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['F', 'T']</td>
                </tr>
                <tr>
                    <td>range</td>
                    <td>20/60</td>
                </tr>
                <tr>
                    <td>dmg1</td>
                    <td>1d4</td>
                </tr>
                <tr>
                    <td>dmgType</td>
                    <td>P</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This small dart is decorated with designs like windy spirals that span the length of its shaft.', 'When you whisper the word "seek" and hurl this dart, it seeks out a target of your choice within 120 feet of you. You must have seen the target before, but you don\'t need to see it now. If the target isn\'t within range or if there is no clear path to it, the dart falls to the ground, its magic spent and wasted. Otherwise, elemental winds guide the dart instantly through the air to the target. The dart can pass though openings as narrow as 1 inch wide and can change direction to fly around corners.', "When the dart reaches its target, the target must succeed on a DC 16 Dexterity saving throw or take {@damage 1d4} piercing damage and {@damage 3d4} lightning damage. The dart's magic is then spent, and it becomes an ordinary dart."]</td>
                </tr>
        </table>
    </body>
</html>