<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Silver Sword</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Silver Sword</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>MTF</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>89</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>M</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>major</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>unknown (magic)</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>by a creature that has psionic ability</td>
                </tr>
                <tr>
                    <td>reqAttuneTags</td>
                    <td>[{'psionics': True}]</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>weaponCategory</td>
                    <td>martial</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['H', '2H']</td>
                </tr>
                <tr>
                    <td>dmg1</td>
                    <td>2d6</td>
                </tr>
                <tr>
                    <td>dmgType</td>
                    <td>S</td>
                </tr>
                <tr>
                    <td>bonusWeapon</td>
                    <td>+3</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['You have a +3 bonus to attack and damage rolls made with this magic weapon. On a critical hit against a target in an astral body (as with the {@spell astral projection} spell), you can cut the silvery cord that tethers the target to its material body, instead of dealing damage.']</td>
                </tr>
        </table>
    </body>
</html>