<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Spindle of Fate</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>BMT</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td>38</td>
    </tr>
    <tr>
        <td>Type:</td>
        <td>WD</td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>legendary</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td>True</td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This wand is shaped like a drop spindle wrapped in red thread. The wand has 6 charges that can be used for the following properties:</li>
            <li></li>
            <ul>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This wand is shaped like a drop spindle wrapped in red thread. The wand has 6 charges that can be used for the following properties:",
  {
    "items": [
      {
        "entries": [
          "When you roll initiative, you can expend 1 charge to add or subtract your proficiency bonus from the total roll."
        ],
        "name": "Battle Foreknowledge",
        "type": "item"
      },
      {
        "entries": [
          "As an action, you can expend 2 charges to target a creature within 30 feet of yourself and invoke that creature\u0027s doom. While the target is on the same plane of existence as you, you can sense the direction to its location, and you know the direction of its movement if it\u0027s in motion. Additionally, once per turn when you deal damage to the doomed creature, you can roll {@dice 1d6} and add the number rolled to the damage roll. These benefits persist for 1 hour or until you target another creature with this effect."
        ],
        "name": "Doom Foretold",
        "type": "item"
      },
      {
        "entries": [
          "When a creature within 60 feet of you makes a saving throw or an attack roll, you can use your reaction to expend 3 charges and alter the outcome, turning a failed saving throw into a successful one, a missed attack roll into a hit, or vice versa.",
          "The wand regains {@dice 1d6} expended charges daily at dawn."
        ],
        "name": "Twist of Fate",
        "type": "item"
      }
    ],
    "style": "list-hang-notitle",
    "type": "list"
  }
]</pre>
</body>
</html>