<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Staff of Withering</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Staff of Withering</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>205</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>major</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>by a cleric, druid, or warlock</td>
                </tr>
                <tr>
                    <td>reqAttuneTags</td>
                    <td>[{'class': 'cleric'}, {'class': 'druid'}, {'class': 'warlock'}]</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>weaponCategory</td>
                    <td>simple</td>
                </tr>
                <tr>
                    <td>property</td>
                    <td>['V']</td>
                </tr>
                <tr>
                    <td>dmg1</td>
                    <td>1d6</td>
                </tr>
                <tr>
                    <td>dmgType</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>dmg2</td>
                    <td>1d8</td>
                </tr>
                <tr>
                    <td>recharge</td>
                    <td>dawn</td>
                </tr>
                <tr>
                    <td>rechargeAmount</td>
                    <td>1d3</td>
                </tr>
                <tr>
                    <td>charges</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>staff</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This staff has 3 charges and regains 1d3 expended charges daily at dawn.', 'The staff can be wielded as a magic quarterstaff. On a hit, it deals damage as a normal quarterstaff, and you can expend 1 charge to deal an extra {@damage 2d10} necrotic damage to the target. In addition, the target must succeed on a DC 15 Constitution saving throw or have disadvantage for 1 hour on any ability check or saving throw that uses Strength or Constitution.']</td>
                </tr>
                <tr>
                    <td>lootTables</td>
                    <td>['Magic Item Table G']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>