<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Star Razor (Exalted)</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Star Razor (Exalted)</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TDCSR</td>
                </tr>
                <tr>
                    <td>_copy</td>
                    <td>{'name': 'Star Razor (Awakened)', 'source': 'TDCSR', '_mod': {'entries': [{'mode': 'appendArr', 'items': {'entries': [{'type': 'entries', 'name': 'Exalted', 'entries': ['When Star Razor reaches an exalted state, you gain the following benefits:', {'type': 'list', 'items': ["The weapon's bonus to attack and damage rolls increases to +3.", 'The burst of radiance you can create as a reaction when hit with a melee attack deals {@damage 1d12} radiant damage, and you can immediately teleport to an unoccupied space you can see within 15 feet of you as part of the same reaction.', 'You can cast the {@spell fly} spell from the sword as an action, and the save DC for spells cast using the sword increases to 17.']}]}]}}]}, '_preserve': {'page': True, 'fluff': True}}</td>
                </tr>
                <tr>
                    <td>bonusWeapon</td>
                    <td>+3</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['faerie fire', 'see invisibility', 'fly']</td>
                </tr>
                <tr>
                    <td>hasFluff</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>