<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Tinderbox</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Tinderbox</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>PHB</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>153</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>basicRules</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>G</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This small container holds flint, fire steel, and tinder (usually dry cloth soaked in light oil) used to kindle a fire. Using it to light a torch—or anything else with abundant, exposed fuel—takes an action. Lighting any other fire takes 1 minute.']</td>
                </tr>
        </table>
    </body>
</html>