<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Turtle Ship</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Turtle Ship</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>AAG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>52</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>SPC</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>none</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>4000000</td>
                </tr>
                <tr>
                    <td>crew</td>
                    <td>16</td>
                </tr>
                <tr>
                    <td>vehAc</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>vehHp</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td>vehDmgThresh</td>
                    <td>15</td>
                </tr>
                <tr>
                    <td>vehSpeed</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>capCargo</td>
                    <td>30</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['A turtle ship is encased in a protective metal shell, as befits its name, and bristles with weapons. In addition to its roomy quarters, it can carry a decent- sized payload, making it popular among traders and others who need a lot of cargo space. The ship can land on the ground, and it floats on water. Sliding panels can be closed to make the hull airtight, enabling the ship to travel underwater safely, even to great depths. If the ship takes damage while on or under the water, interior hatches can be sealed to prevent the ship from flooding completely.', "Standard weaponry on a turtle ship includes three forward-mounted ballistae and a rear-facing mangonel. These weapons can't be used while the ship is underwater."]</td>
                </tr>
                <tr>
                    <td>seeAlsoVehicle</td>
                    <td>['Turtle Ship|AAG']</td>
                </tr>
        </table>
    </body>
</html>