<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="preload" href="/data/classes/all_classes.min.json" as="fetch" crossorigin="anonymous">
    <script  type="module" src="/js/util/util.js"></script>
    <script  type="module" src="/js/util/global.js"></script>
    <title></title>
</head>
<body>
<table >
    <tr>
        <td>Name:</td>
        <td>Wakened Dragon-Touched Focus</td>
    </tr>
    <tr>
        <td>Source:</td>
        <td>FTD</td>
    </tr>
    <tr>
        <td>Page:</td>
        <td></td>
    </tr>
    <tr>
        <td>Type:</td>
        <td></td>
    </tr>
    <tr>
        <td>Rarity:</td>
        <td>very rare</td>
    </tr>
    <tr>
        <td>Weight:</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon Category:</td>
        <td></td>
    </tr>
    <tr>
        <td>Property:</td>
        <td></td>
    </tr>
    <tr>
        <td>Range:</td>
        <td><class 'range'></td>
    </tr>
    <tr>
        <td>Reload</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg1</td>
        <td></td>
    </tr>
    <tr>
        <td>Dmg Type</td>
        <td></td>
    </tr>
    <tr>
        <td>Firearm</td>
        <td></td>
    </tr>
    <tr>
        <td>Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Ammo Type</td>
        <td></td>
    </tr>
    <tr>
        <td>SRD</td>
        <td></td>
    </tr>
    <tr>
        <td>Basic Rules</td>
        <td></td>
    </tr>
    <tr>
        <td>Value
            (in copper, divide by 100 for gold)</td>
        <td></td>
    </tr>
    <tr>
        <td>AC</td>
        <td></td>
    </tr>
    <tr>
        <td>Strength</td>
        <td></td>
    </tr>
    <tr>
        <td>Stealth</td>
        <td></td>
    </tr>    
    <tr>
        <td>Bonus Weapon</td>
        <td></td>
    </tr>
    <tr>
        <td>Requires Attunement:</td>
        <td></td>
    </tr>
    <tr>
        <td>Wondrous:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Attack:</td>
        <td></td>
    </tr>
    <tr>
        <td>Bonus Spell Save DC:</td>
        <td></td>
    </tr>
</table>
<hr/>
<ul>
            <li>This wondrous item can be a scepter, an orb, an amulet, a crystal, or another finely crafted object. It typically incorporates imagery of dragons' wings, claws, teeth, or scales.</li>
            <li>You have advantage on initiative rolls. While you are holding the focus, it can function as a spellcasting focus for all your spells.</li>
            <li>The focus gains an additional property determined by the family of the dragon in whose hoard it became Stirring:</li>
            <li></li>
            <ul>
            </ul>
            <li>While you are holding a Wakened focus, you can use it to cast certain spells. Once the item is used to cast a given spell, it can't be used to cast that spell again until the next dawn. The spells are determined by the family of the dragon in whose hoard it became Wakened.</li>
            <li></li>
            <ul>
            </ul>
</ul>
<hr/>
Note: this display part is still in progress, here's the complete data:
<pre>[
  "This wondrous item can be a scepter, an orb, an amulet, a crystal, or another finely crafted object. It typically incorporates imagery of dragons\u0027 wings, claws, teeth, or scales.",
  "You have advantage on initiative rolls. While you are holding the focus, it can function as a spellcasting focus for all your spells.",
  "The focus gains an additional property determined by the family of the dragon in whose hoard it became Stirring:",
  {
    "items": [
      {
        "entries": [
          "Whenever you use a spell slot to cast a spell that deals acid, cold, fire, lightning, or poison damage, roll a {@dice d6}, and you gain a bonus equal to the number rolled to one of the spell\u0027s damage rolls."
        ],
        "name": "Chromatic",
        "type": "item"
      },
      {
        "entries": [
          "Whenever you use a spell slot to cast a spell, you can immediately teleport to an unoccupied space you can see within 15 feet of you."
        ],
        "name": "Gem",
        "type": "item"
      },
      {
        "entries": [
          "When a creature you can see within 30 feet of you makes a saving throw, you can use your reaction to give that creature advantage on the saving throw."
        ],
        "name": "Metallic",
        "type": "item"
      }
    ],
    "style": "list-hang-notitle",
    "type": "list"
  },
  "While you are holding a Wakened focus, you can use it to cast certain spells. Once the item is used to cast a given spell, it can\u0027t be used to cast that spell again until the next dawn. The spells are determined by the family of the dragon in whose hoard it became Wakened.",
  {
    "items": [
      {
        "entries": [
          "{@spell Hold monster}, {@spell Rime\u0027s binding ice|FTD}"
        ],
        "name": "Chromatic",
        "type": "item"
      },
      {
        "entries": [
          "{@spell Rary\u0027s telepathic bond}, {@spell Raulothim\u0027s psychic lance|FTD}"
        ],
        "name": "Gem",
        "type": "item"
      },
      {
        "entries": [
          "{@spell Fizban\u0027s platinum shield|FTD}, {@spell legend lore}"
        ],
        "name": "Metallic",
        "type": "item"
      }
    ],
    "style": "list-hang-notitle",
    "type": "list"
  }
]</pre>
<hr/>
Note: this part is still in progres
<pre>{
  "_preserve": {
    "page": true
  },
  "name": "Stirring Dragon-Touched Focus",
  "source": "FTD"
}</pre>
</body>
</html>