<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Wand of Winter</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Wand of Winter</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>HotDQ</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>94</td>
                </tr>
                <tr>
                    <td>otherSources</td>
                    <td>[{'source': 'ToD', 'page': 178}]</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>WD</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>recharge</td>
                    <td>dawn</td>
                </tr>
                <tr>
                    <td>rechargeAmount</td>
                    <td>{@dice 1d6 + 1}</td>
                </tr>
                <tr>
                    <td>charges</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This wand looks and feels like an icicle. You must be attuned to the wand to use it.', "The wand has 7 charges, which are used to fuel the spells within it. With the wand in hand, you can use your action to cast one of the following spells from the wand, even if you are incapable of casting spells: {@spell ray of frost} (no charges, or 1 charge to cast at 5th level; +5 to hit with ranged spell attack), {@spell sleet storm} (3 charges; spell save DC 15), or {@spell ice storm} (4 charges; spell save DC 15). No components are required. The wand regains {@dice 1d6 + 1} expended charges each day at dawn. If you expend the wand's last charge, roll a {@dice d20}. On a 20, the wand melts away, forever destroyed."]</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['ray of frost', 'sleet storm', 'ice storm']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>