<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Wand of Binding</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Wand of Binding</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>DMG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>209</td>
                </tr>
                <tr>
                    <td>srd</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>WD</td>
                </tr>
                <tr>
                    <td>tier</td>
                    <td>major</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>by a spellcaster</td>
                </tr>
                <tr>
                    <td>reqAttuneTags</td>
                    <td>[{'spellcasting': True}]</td>
                </tr>
                <tr>
                    <td>weight</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>recharge</td>
                    <td>dawn</td>
                </tr>
                <tr>
                    <td>rechargeAmount</td>
                    <td>1d6 + 1</td>
                </tr>
                <tr>
                    <td>charges</td>
                    <td>7</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["This wand has 7 charges for the following properties. It regains 1d6 + 1 expended charges daily at dawn. If you expend the wand's last charge, roll a d20. On a 1, the wand crumbles into ashes and is destroyed.", {'name': 'Spells', 'type': 'entries', 'entries': ['While holding the wand, you can use an action to expend some of its charges to cast one of the following spells (save DC 17): {@spell hold monster} (5 charges) or {@spell hold person} (2 charges).']}, {'name': 'Assisted Escape', 'type': 'entries', 'entries': ['While holding the wand, you can use your reaction to expend 1 charge and gain advantage on a saving throw you make to avoid being {@condition paralyzed} or {@condition restrained}, or you can expend 1 charge and gain advantage on any check you make to escape a grapple.']}]</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['hold monster', 'hold person']</td>
                </tr>
                <tr>
                    <td>lootTables</td>
                    <td>['Magic Item Table G']</td>
                </tr>
                <tr>
                    <td>hasFluffImages</td>
                    <td>True</td>
                </tr>
        </table>
    </body>
</html>