<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Wayfarer's Boots</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Wayfarer's Boots</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>BGG</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>117</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>rare</td>
                </tr>
                <tr>
                    <td>reqAttune</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>wondrous</td>
                    <td>True</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>['This pair of boots is made of durable cloth, with the journey rune stitched in golden thread above each heel. While you are wearing this item, your walking speed increases by 10 feet, and you have advantage on Wisdom ({@skill Survival}) checks.', {'type': 'entries', 'name': 'Invoking the Runes', 'entries': ["As a bonus action, you can invoke the boots' runes to cast the {@spell expeditious retreat} spell with them. Once the runes have been invoked, they can't be invoked again until the next dawn."]}]</td>
                </tr>
                <tr>
                    <td>attachedSpells</td>
                    <td>['expeditious retreat']</td>
                </tr>
        </table>
    </body>
</html>