<!DOCTYPE html>
<html>
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
            <link href="/css/simple-table.css" rel="stylesheet"/>
            <title>Zeal</title>
        </head>
    <body>
        <table>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
                <tr>
                    <td>name</td>
                    <td>Zeal</td>
                </tr>
                <tr>
                    <td>source</td>
                    <td>TDCSR</td>
                </tr>
                <tr>
                    <td>page</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>type</td>
                    <td>IDG</td>
                </tr>
                <tr>
                    <td>rarity</td>
                    <td>unknown</td>
                </tr>
                <tr>
                    <td>value</td>
                    <td>15000</td>
                </tr>
                <tr>
                    <td>entries</td>
                    <td>["Distilled from the ichor of demons, {@item zeal|TDCSR} was originally used by Tal'Dorei's ancient berserkers to grant them incredible strength and courage before battles. These days, it's most commonly used by criminal bruisers before a brawl. Most modern warriors stay well away from {@item zeal|TDCSR}, due both to its addictive nature and to the mental and physical degeneration it can cause over long periods of time. When prepared properly, {@item zeal|TDCSR} is a purple, ashy-tasting gel that typically costs 150 gp per dose.", 'After slathering {@item zeal|TDCSR} across your exposed skin as an action, you must make a {@dc 12} Constitution {@quickref saving throws|PHB|2|1|saving throw}. On a failure, you become {@condition paralyzed} for {@dice 1d4} rounds as your muscles lock up. On a success, your weapon attacks deal an additional {@damage 1d6} damage for the next minute. After this effect ends, you gain one level of {@condition exhaustion}.']</td>
                </tr>
        </table>
    </body>
</html>